<template>

    <div>
        <div class="row">
        <router-link :to="{name: 'marketing-index' }" class="btn btn-primary" style="margin:6px 15px;">Advertisement
            List</router-link>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <!--                <div class="card shadow-sm my-5">-->
                <div class="card-body p-0 my-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="login-form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h5 class="m-0 font-weight-bold text-primary">Add Advertisement</h5>
                                            </div>
                                            <div class="card-body">
                                                <form class="user" @submit.prevent="submitUploadFile"
                                                      enctype="multipart/form-data">


                                                    <div class="form-group">

                                                        <div class="form-row">

                                                            <div class="col-md-6">
                                                                <label for="exampleInputFirstName">Plant Branches
                                                                    List</label>
                                                                <select class="form-control" id="exampleInputFirstName"
                                                                        v-model="form.plantbranch_id"
                                                                        style="width:500px">
                                                                    <option :value="plantBranch.WERKS"
                                                                            v-for="plantBranch in plantBranches">
                                                                        {{
                                                                            plantBranch.WERKS + '  =  ' + plantBranch.NAME1
                                                                        }}
                                                                    </option>

                                                                </select>

                                                            </div>


                                                        </div>
                                                    </div>


                                                    <div class="form-group">

                                                        <div class="form-row">

                                                            <div class="col-md-6"
                                                                 id="my-strictly-unique-vue-upload-multiple-image">

                                                                <input type="file" class="form-control" id="upload-file"
                                                                       @change="fieldChange" multiple="multiple"
                                                                       style="width: 130%;"/>


                                                                <small class="text-danger" v-if="errors.photo"> {{
                                                                        errors.photo[0]
                                                                    }} </small>

                                                                <!--                                                    <vue-upload-multiple-image-->
                                                                <!--                                                        @upload-success="uploadImageSuccess"-->
                                                                <!--                                                        @before-remove="beforeRemove"-->
                                                                <!--                                                        @edit-image="editImage"-->
                                                                <!--                                                        idUpload="myIdUpload"-->
                                                                <!--                                                        editUpload="myIdEdit"-->
                                                                <!--                                                        :data-images="images"-->
                                                                <!--                                                        dragText="Drag or Select multiple images"-->
                                                                <!--                                                        browseText="Max of 5 images per upload"-->
                                                                <!--                                                        markIsPrimaryText="Click to preview image"-->
                                                                <!--                                                        primaryText="Click to preview image"-->
                                                                <!--                                                        accept="image,png,jpeg"-->
                                                                <!--                                                        type="file"-->

                                                                <!--                                                    ></vue-upload-multiple-image>-->
                                                            </div>


                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary btn-block"
                                                                id="submit_button"
                                                                >SUBMIT &nbsp<i class="fas fa-save fa-lg"></i>
                                                        </button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                </div>-->
            </div>
        </div>
    </div>


</template>


<script type="text/javascript">
import VueUploadMultipleImage from 'vue-upload-multiple-image'
import axios from 'axios'

export default {
    components: {
        VueUploadMultipleImage,
    },

    data() {
        return {
            form: {
                plantbranch_id: null,
                photo: null,
            },
            errors: {},
            plantBranches: {},
            attachments: [],
            form1: new FormData,
            images: [],
            uploadFileList: [],

        }
    },

    methods: {
        uploadImageSuccess(formData, index, fileList) {

            this.uploadFileList = fileList;
            console.log('data', formData, index, fileList);


            // Upload image api
            //  axios.post('/api/marketing?plantbranch_id=' + this.form.plantbranch_id ,this.form1,config).then(response => {
            //   console.log(response)
            // })
        },
        beforeRemove(index, done, fileList) {
            console.log('index', index, fileList)
            var r = confirm("remove image")
            if (r == true) {
                done()
            } else {
            }
        },
        editImage(formData, index, fileList) {
            console.log('edit data', formData, index, fileList)
        },
        fieldChange(e) {
            let selectedFiles = e.target.files;
            if (!selectedFiles.length) {
                return false;
            }
            for (let i = 0; i < selectedFiles.length; i++) {
                this.attachments.push(selectedFiles[i]);
            }
            console.log(this.attachments);
        },
        submitUploadFile() {
            // let form1 = new FormData();
            // console.log(JSON.stringify(this.uploadFileList));
            for (let i = 0; i < this.attachments.length; i++) {
                this.form1.append('photo[]', this.attachments[i]);
            }

            // this.form1.append('plant', this.form.plantbranch_id);


            // for (let i = 0; i < this.images.length; i++) {
            //     this.form1.append('photo[]', this.images[i]);
            // }
            // https://github.com/webdevmatics/multi-file-upload-vue-laravel/blob/master/routes/web.php
            //     https://www.youtube.com/results?search_query=Multiple+File+uploads+Vuejs+Laravel+Image+intervention
            // console.log(this.form.plantbranch_id);
            const config = {headers: {'Content-Type': 'multipart/form-data'}};
            document.getElementById('upload-file').value = [];
            // console.log(document.getElementById('upload-file').value=[]);
            axios.post('/api/marketing?plantbranch_id=' + this.form.plantbranch_id, this.form1, config).then(() => {
                //success
                this.$router.push({name: 'marketing-index'})
                Notification.success()
                // console.log(response);
            }).catch(error => {
                // console.log(error);
                // code here when an upload is not valid
                this.uploading = false
                this.error = error.response.data
                this.$swal({
                    icon: 'warning',
                    title: 'Please try again',
                    text: 'Make sure to fill all the required input fields and check your image ".png" or "jpeg" Format',
                    // showConfirmButton: false,
                    // timer: 1500,
                    // title: response.data.status,
                    // text: response.data.message,
                    // icon: 'question',
                    // confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Ok'
                });
            });
            // for (let i = 0; i < this.attachments.length; i++) {
            //     this.form1.append('photo[]', this.attachments[i]);
            // }
            // // https://github.com/webdevmatics/multi-file-upload-vue-laravel/blob/master/routes/web.php
            // //     https://www.youtube.com/results?search_query=Multiple+File+uploads+Vuejs+Laravel+Image+intervention
            // // console.log(this.form.plantbranch_id);
            // const config = {headers: {'Content-Type': 'multipart/form-data'}};
            // document.getElementById('upload-file').value = [];
            // // console.log(document.getElementById('upload-file').value=[]);
            // axios.post('/api/marketing?plantbranch_id=' + this.form.plantbranch_id, this.form1, config).then(() => {
            //     //success
            //     this.$router.push({name: 'marketing-index'})
            //     Notification.success()
            //     // console.log(response);
            // }).catch(error => {
            //     // console.log(error);
            //     // code here when an upload is not valid
            //     this.uploading = false
            //     this.error = error.response.data
            //     this.$swal({
            //         icon: 'warning',
            //         title: 'Please try again',
            //         text: 'Make sure to fill all the required input fields and check your image ".png" or "jpeg" Format',
            //         // showConfirmButton: false,
            //         // timer: 1500,
            //         // title: response.data.status,
            //         // text: response.data.message,
            //         // icon: 'question',
            //         // confirmButtonColor: '#3085d6',
            //         confirmButtonText: 'Ok'
            //     });
            // });
        },
        getFile() {
            document.getElementById('upload-file').value = [];
        },
        marketingInsert() {
            //  axios.post('/api/marketing',{form: this.form})
            //  axios.post('/api/marketing?content=' + this.form.content + '&plant=' + this.form.plantbranch_id)
            axios.post('/api/marketing', this.form)
                .then(() => {
                    this.$router.push({name: 'marketing-index'})
                    Notification.success()
                }).catch(error => {
                // code here when an upload is not valid
                this.uploading = false
                this.error = error.response.data
                this.$swal({
                    icon: 'warning',
                    title: 'Please try again',
                    text: 'Make sure to fill all the required input fields and check your image is ".png" or "jpeg" Format',
                    confirmButtonText: 'Ok'
                });
                // console.log(this.error);
                // console.log('check error: ', this.error)
            });
            // .catch(error =>this.errors = error.response.data.errors)
            // .catch((error) => (this.errors = Notification.marketData()));

        },
        allPlant() {
            axios.get('/api/plant-branches/')
                .then(({data}) => (this.plantBranches = data))
        },

    },


    created() {
        // axios.get('/api/plant-branches/')
        // .then(({data}) => (this.plantBranches = data))
        // this.allPlantBranches();
        this.allPlant();
    },

}

</script>


<style type="text/css">
#submit_button {
    width: 13%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
}

#my-strictly-unique-vue-upload-multiple-image {
    /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    text-align: center;
    color: #2c3e50;
    margin-top: 10px;
    width: 50%;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
</style>
