<template>

    <div>

        <div class="row">
            <router-link :to="{name: 'marketing-index' }" class="btn btn-primary" style="margin:6px 15px;">Advertisement
                List
            </router-link>

        </div>


        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <!--                <div class="card shadow-sm my-5">-->
                <div class="card-body p-0 my-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="login-form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h5 class="m-0 font-weight-bold text-primary">Edit Advertisement</h5>
                                            </div>
                                            <div class="card-body">
                                                <form class="user" @submit.prevent="marketingUpdate"
                                                      enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <div class="form-row">
                                                            <div class="col-md-6">
                                                                <label for="exampleInputFirstName">Plant Branches
                                                                    List</label>
                                                                <select class="form-control" id="exampleInputFirstName"
                                                                        v-model="form.plantbranch_id"
                                                                        style="margin-left: -5px;"
                                                                >
                                                                    <option :value="plantBranch.WERKS"
                                                                            v-for="plantBranch in plantBranches">
                                                                        {{
                                                                            plantBranch.WERKS + '  =  ' + plantBranch.NAME1
                                                                        }}
                                                                    </option>
                                                                </select>
                                                                <small class="text-danger" v-if="errors.plantbranch_id">
                                                                    {{ errors.plantbranch_id[0] }} </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-row">
                                                            <div class="col-md-6">
                                                                <input type="file" class="custom-file-input"
                                                                       id="customFile"
                                                                       @change="onFileSelected" ref="imageSelected">
                                                                <small class="text-danger" v-if="errors.photo"> {{
                                                                        errors.photo[0]
                                                                    }} </small>
                                                                <label class="custom-file-label" for="customFile">Choose
                                                                    file</label>
                                                            </div>

                                                        </div>
                                                        <form-row-md-12>
                                                            <div class="col-md-6">
                                                                <button type="submit"
                                                                        class="btn btn-primary"
                                                                        style="margin-left: -15px;
                                                                             margin-top: 15px;">
                                                                    UPDATE &nbsp<i class="fas fa-edit fa-lg"></i>
                                                                </button>
                                                            </div>
                                                        </form-row-md-12>
                                                        <div class="form-row-lg-12">
                                                            <div class="col-lg-6">
                                                                <img :src="aSlash+form.photo" id="photo_new"
                                                                     style=" margin-top: 30px; margin-left: -15px;">
                                                            </div>

                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                </div>-->
            </div>
        </div>
    </div>


</template>


<script type="text/javascript">

import moment from "moment";

export default {
    // created(){
    //   if (!User.loggedIn()) {
    //     this.$router.push({name: '/'})
    //   }
    // },

    data() {
        return {
            form: {
                plantbranch_id: '',
                // content: '',
                photo: '',
                newphoto: '',
            },
            aSlash: '/',
            errors: {},
            plantBranches: {},
        }
    },
    created() {
        this.allMarket();
        // this.form.photo;
        //   let id = this.$route.params.id
        //   console.log(id);
        axios.get(`/api/marketing/${this.$route.params.id}`)
            .then(({data}) => {
                this.form = data;

            })

        const today = new Date();
        let hourtime = today.getHours();
        // let hourmin = today.getMinutes();
        let formathour = moment(hourtime, 'HH').format('HH');
        // let formatmin = moment(hourmin, 'mm').format('mm');
        console.log(formathour);
        if (hourtime <= "8" && hourtime >= "20") {
            console.log('time test');
            setInterval(() => this.getResults(), 3000);
            let refreshId = setTimeout(() => {
                this.alertNotif('Automatically Logging out', 'Due for none activity', 'warning', '3000');
                let uri = '/api/logout';
                axios.post(uri)
                    .then((response) => {
                        this.$store.commit('logout');
                        this.$router.push('/login/');
                        clearInterval(refreshId);
                    })

            }, 5000);
        }
        // .catch(console.log('qwe'))

    },
    methods: {
        // changeImage() {
        //     return this.form.photo;
        // },
        onFileSelected(event) {
            // this.form.photo = null;
            // this.$refs.imageSelected.value = '';
            // this.form.photo.event.target.result = '';
            let file = event.target.files[0];
            if (file.size > 52428800) {
                Notification.image_validation()
            } else {
                let reader = new FileReader();
                reader.onload = event => {

                    // let a = this.form.photo;
                    // if(a !=  event.target.result ){
                    //     // console.log('test');
                    //     this.form.photo = ''+this.form.photo;
                    // }
                    // let a = ''+this.form.photo;
                    // let b = event.target.result;
                    // this.form.photo = event.target.result;
                    this.form.newphoto = event.target.result;
                    this.form.photo = event.target.result;
                    this.aSlash = '';
                    console.log(event.target.result);
                    //    a.event.target.result;
                    // if(this.form.photo = event.target.result){
                    //     this.form.photo = this.form.photo;
                    // }
                    // else{
                    //     this.form.photo = '/'+this.form.photo;
                    // }

                };
                reader.readAsDataURL(file);
            }

        },
        marketingUpdate() {
            let id = this.$route.params.id
            // axios.patch(`/api/marketing/${this.$route.params.id}`,this.form)
            axios.patch('/api/marketing/' + id, this.form)
                .then(() => {
                    this.$router.push({name: 'marketing-index'})
                    Notification.success()
                })
                .catch(error => this.errors = error.response.data.errors)
        },

        allMarket() {
            axios.get('/api/plant-branches/')
                .then(({data}) => (this.plantBranches = data))

        },
    },


}

</script>


<style type="text/css">
#photo_new {
    width: 770px;
    height: 400px;

}

#photo_new1 {
    width: 100px;
    height: 40px;
}
</style>
