<template>
    <div>
        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">Advertisement List</h4>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-1">
                                <label>Per Page</label>
                                <select class="form-control" v-model="currentPage"
                                        @change="selectPageNumber(currentPage)">
                                    <option v-for="perPage in perPage" :value="perPage"
                                            :selected="currentPage===perPage">{{
                                            perPage
                                        }}
                                    </option>
                                </select>

                            </div>
                            <div class="col-md-8">
                                <label></label>
                                <router-link :to="{ name: 'marketing-create' }"
                                             class="btn btn-primary"
                                             style="margin-top:32px;">Add Advertise
                                </router-link>
                            </div>

                            <div class="col-md-3">
                                <div class="input-group" style="margin-top: 30px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field" id="basic-addon1">Search</span>
                                    </div>

                                    <input type="text" v-model="search" @keyup="index()"
                                           class="form-control" style="width: 250px;"
                                           placeholder="Search Here" @click="isSearch = true">
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-bordered" id="dataTable"
                                   width="100%" cellspacing="0">
                                <thead class="thead-light">
                                <tr>
                                    <th @click="sort('plantbranch_id')" style="background-color: #007bff; color:white;">
                                        <div class="inline-block">
                                            <div class="filter-asc"
                                                 :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                            <div class="filter-desc"
                                                 :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                        </div>
                                        Branch
                                    </th>
                                    <th style="background-color: #007bff; color:white;">Photo</th>
                                    <th style="background-color: #007bff; color:white;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="market in markets.data" :key="market.id">
                                    <td> &nbsp;{{ market.plantbranch_id }}</td>
                                    <td><a v-on:click="clickImage(market.id)"><img :src="'/'+market.photo" id="photo_new"></a></td>
                                    <td>
                                        <router-link :to="`/marketing/${market.id}/edit`"
                                                     class="btn btn-sm btn-primary">
                                            Edit
                                        </router-link>

                                        <a @click="deleteMarketing(market.id)" class="btn btn-sm btn-danger"><font
                                            color="#ffffff">Delete</font></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="float-left">Showing {{ meta.from || 0 }} to {{ meta.to || 0 }} of
                            {{ meta.total || 0 }} entries</p>
                        <pagination class="float-right" :data="markets" @pagination-change-page="index" :limit="5">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>

                    </div>
                </div>
            </div>
        </div>
        <!--Row-->
        <!-- <td>{{ market.type | upText}}</td> -->
        <!-- Modal -->
        <div class="modal fade" id="addNew1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img :src="aSlash+photoClick" id="photo_clicked">
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>


<script type="text/javascript">
import moment from "moment";

export default {

    created() {
        // this.allMarketing();
        // this.getResults();
        this.index();
        Reload.$on('AfterCreated', () => {
            // this.allMarketing();
            this.index();
        });
        const today = new Date();
        let hourtime = today.getHours();
        // let hourmin = today.getMinutes();
        let formathour = moment(hourtime, 'HH').format('HH');
        // let formatmin = moment(hourmin, 'mm').format('mm');
        console.log(formathour);
        if(hourtime <= "8" && hourtime >= "20"){
            console.log('time test');
            setInterval(() => this.getResults(), 3000);
            let refreshId = setTimeout(() => {
                this.alertNotif('Automatically Logging out','Due for none activity', 'warning', '3000');
                let uri = '/api/logout';
                axios.post(uri)
                    .then((response) => {
                        this.$store.commit('logout');
                        this.$router.push('/login/');
                        clearInterval(refreshId);
                    })

            }, 5000);
        }
    },
    data() {
        return {
            markets: {},
            search: '',
            isSearch: false,
            perPage: ['10', '50', '100'],
            currentPage: '10',
            currentSort: 'plantbranch_id',
            currentSortDir: 'asc',
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            page: {},
            photoClick:'',
            errors:{},
            aSlash: '/',
        }
    },
    methods: {
        clickImage(id){
            console.log(id);
            axios.get('api/click-image?id=' + id)
                .then(({data}) => {
                    this.photoClick = data.photo
                })
                .catch(error => this.errors = error.response.data.error)
            $('#addNew1').modal('show');
        },
        index(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = '/api/material-pagekuha?page=' + page + '&search=' + this.search + '&sortby=' + this.currentSort + '&sortdir=' + this.currentSortDir + '&currentpage=' + this.currentPage;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    this.markets = response.data;
                    this.meta.total = response.data.meta.total;
                    this.meta.from = response.data.meta.from;
                    this.meta.to = response.data.meta.to;
                });

        },
        sort(s) {

            if (s === this.currentSort) {
                this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                if (this.currentSortDir === 'asc') {
                    this.sortClassActive.activeAsc = true;
                    this.sortClassActive.activeDesc = false;
                } else {
                    this.sortClassActive.activeAsc = false;
                    this.sortClassActive.activeDesc = true;
                }
            }
            this.currentSort = s;
            this.index();
        },
        selectPageNumber(selected) {
            this.currentPage = selected;
            this.index();
        },
        searchMaterial() {
            // var data = {customerSearch:this.customerSearch}
            let query = this.search;
            axios.get('api/findMatering?search=' + query)
                .then((data) => (this.markets = data.data))
                .catch(error => this.errors = error.response.data.errors)
        },
        deleteMarketing(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    axios.delete('/api/marketing/' + id)
                        .then(() => {
                            this.markets.data = this.markets.data.filter(market => {
                                return market.id != id
                            })
                            Reload.$emit('AfterCreated');
                        })
                        .catch(() => {
                            // this.$router.push({name: 'employee'})
                        })
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })

        }

    },


}
</script>


<style type="text/css" scoped>
#em_photo {
    height: 40px;
    width: 40px;

    /* width: 167px; height: 40px; */
}

#photo_new {
    width: 100px;
    height: 40px;
}
#photo_clicked {
    width: 770px;
    height: 440px;
}


.header-title {
    background: #3f51b5;
    color: white;
    font-size: 1.25rem;
}

</style>
