<template>
    <div class="sidebar_auth">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" v-if="currentUser">
            <!-- Sidebar - Brand style="display: none;"-->
            <router-link :to="{ name: 'invoice' }" class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <!-- <div class="sidebar-brand-text"> VCY Marketing</div>  -->
                    <img src="/img/vcy.png" alt="VCY Logo" style="width: 40%;">

                </div>

            </router-link>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->

            <!-- <router-link tag="li" :to="{ name: 'home' }" class="nav-item" exact v-if="currentUser">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </router-link> -->


            <!-- <router-link tag="li" :to="{ name: 'pos' }" class="nav-item" exact v-if="currentUser">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>POS</span></a>
            </router-link> -->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!--
                    <template v-if="$is('administrator')"> -->
            <!-- Heading -->
            <div class="sidebar-heading" v-if="$can('user_view')">
                Admin
            </div>
            <!-- v-if="currentUser" -->

            <router-link tag="li" :to="{ name: 'permission-table' }" class="nav-item" v-if="$can('permission_view')">
<!--                permission_view-->
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Permissions</span></a>
            </router-link>

            <router-link tag="li" :to="{ name: 'role-table' }" class="nav-item" v-if="$can('role_view') && $can('permission_view')">
<!--                role_view-->
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Roles</span></a>
            </router-link>

            <router-link tag="li" :to="{ name: 'users-table' }" class="nav-item" v-if="$can('user_view')">
                <a class="nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <span>Users</span></a>
            </router-link>

            <router-link tag="li" :to="{ name: 'xml-index' }" class="nav-item" v-if="$can('user_view') ||  $can('gl_account')">
                <a class="nav-link">
                    <i class="fas fa-file-export"></i>
                    <span>GL Accounts</span></a>
            </router-link>


            <div class="sidebar-heading">
                Cashier
            </div>

            <!-- </template> -->
            <!-- <li class="nav-item">
                   <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                      aria-controls="collapseTwo">
                       <i class="fas fa-fw fa-database"></i>
                       <span>Invoice</span>
                   </a>
                   <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                        data-parent="#accordionSidebar">
                       <div class="bg-white py-2 collapse-inner rounded">
                           <router-link tag="li" :to="{ name: 'plant-table' }" class="nav-item" v-if="currentUser">
                               <a class="collapse-item" href="#">Redem</a>
                           </router-link>
                       </div>
                   </div>
               </li> -->

            <!-- <router-link tag="li" :to="{ name: 'invoice-index' }" class="nav-item" exact v-if="currentUser">
           <a class="nav-link">
               <i class="fas fa-fw fa-tachometer-alt"></i>
               <span>Invoice</span></a>
             </router-link> -->
            <router-link tag="li" :to="{ name: 'invoice-index' }" class="nav-item" v-if="$can('user_view') || $can('marketing_view')" >
                <a class="nav-link">
                    <i class="fas fa-file-invoice"></i>
                    <span>Invoice</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'master-invoice-index' }" class="nav-item" v-if="$can('master_invoice_view')" >
                <a class="nav-link">
                    <i class="fas fa-database"></i>
                    <span>Warehouse Data Invoice</span></a>
            </router-link>

            <router-link tag="li" :to="{ name: 'invoice-redeemed' }" class="nav-item" v-if="$can('invoice_redeemed_export')">
                <a class="nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <span>Manual Export</span></a>
            </router-link>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap1"-->
<!--                   aria-expanded="true" aria-controls="collapseBootstrap1">-->
<!--                    <i class="fas fa-users nav-icon"></i>-->
<!--                    <span>Invoice</span>-->
<!--                </a>-->
<!--                <div id="collapseBootstrap1" class="collapse" aria-labelledby="headingBootstrap"-->
<!--                     data-parent="#accordionSidebar">-->
<!--                    <div class="bg-white py-2 collapse-inner rounded">-->

<!--                        <router-link class="collapse-item" :to="{ name: 'invoice-index' }">Redeemed Item</router-link>-->
<!--&lt;!&ndash;                        <router-link class="collapse-item" :to="{ name: 'invoice-promo' }">Summary</router-link>&ndash;&gt;-->

<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->

            <div class="sidebar-heading">
                Maintenance
            </div>
            <router-link tag="li" :to="{ name: 'marketing-inventory-index'}" class="nav-item" v-if="$can('user_view') || $can('marketing_view')">
                <a class="nav-link">
                    <i class="fas fa-table"></i>
                    <span>Marketing</span></a>
            </router-link>
            <router-link tag="li" :to="{ name:  'marketing-index' }" class="nav-item" v-if="$can('user_view') || $can('marketing_view')">
                <a class="nav-link">
                    <i class="fas fa-ad"></i>
                    <span>Advertisement</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'marketing-report-index' }" class="nav-item" v-if="$can('user_view') || $can('marketing_view')">
                <a class="nav-link">
                    <i class="fas fa-file-alt"></i>
                    <span>Reports</span></a>
            </router-link>

<!--            <li class="nav-item">-->
<!--                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"-->
<!--                   aria-expanded="true" aria-controls="collapseBootstrap">-->
<!--                    <i class="fas fa-table"></i>-->
<!--                    <span>Marketing</span>-->
<!--                </a>-->
<!--                <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap"-->
<!--                     data-parent="#accordionSidebar">-->
<!--                    <div class="bg-white py-2 collapse-inner rounded">-->

<!--                        <router-link class="collapse-item" :to="{ name: 'marketing-inventory-index' }">Marketing-->
<!--                        </router-link>-->
<!--                        <router-link class="collapse-item" :to="{ name: 'marketing-index' }">Advertisement</router-link>-->
<!--                        <router-link class="collapse-item" :to="{ name: 'marketing-report-index' }">Reports</router-link>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->

            <!-- Sidebar Toggler (Sidebar) -->
<!--            <div class="text-center d-none d-md-inline">-->
<!--                <button class="rounded-circle border-0" id="sidebarToggle" @click="toggleSideBar"></button>-->
<!--            </div>-->

        </ul>
    </div>
</template>

<script>
// import $ from 'jquery';

export default {
    name: "Sidebar",
    methods: {
        toggleSideBar() {
            $("body").toggleClass("sidebar-toggled");
            $("#accordionSidebar").toggleClass("toggled");
        },
    },
    computed: {
        currentUser() {
            return this.$store.getters.currentUser
        }
    },
}
</script>

<style scoped>
.sidebar_auth{
    background: #234bbf;
}
</style>
