<template>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="alert alert-danger" role="alert" v-if="errors">
                <p v-for="err in errors">
                    {{err[0] || err}}
                </p>
            </div>
            <ValidationObserver ref="form" v-slot="{ handleSubmit }">
                <form v-on:submit.prevent="handleSubmit(addReservation)">
                    <ReservationForm :reservation="reservation" ></ReservationForm>
                    <ButtonsElement :submit=true :back=true></ButtonsElement>
                </form>
            </ValidationObserver>
        </div>
    </div>
</template>

<script>
import ReservationForm from './_Form';
import ButtonsElement from "../elements/Buttons";
export default {
    components: {
        ButtonsElement,
        ReservationForm,
    },
    name: "Create",
    data(){
        return {
            reservation:{
                'name':'',
            },
            errors:null
        }
    },
    methods:{
        addReservation(){
            axios.post('/api/reservations', this.reservation)
                .then((response) => {
                    this.$swal.fire({
                        icon: 'success',
                        title: 'New Reservation created',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.$router.push({name:'reservation-table'});
                }).catch((error) => {
                this.reservation.name  = '';
                if (error.reservation.status === 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
