<template>
    <div class="card shadow mb-4" v-if="reservation">
        <div class="card-body">
            <div class="alert alert-danger" role="alert" v-if="errors">
                <p v-for="err in errors">
                    {{err[0] || err}}
                </p>
            </div>
            <ValidationObserver ref="form" v-slot="{ handleSubmit }">
                <form v-on:submit.prevent="handleSubmit(updateReservation)">
                    <ReservationForm :reservation="reservation" ></ReservationForm>
                    <ButtonsElement :submit=true :back=true></ButtonsElement>
                </form>
            </ValidationObserver>
        </div>
    </div>
</template>

<script>
import ReservationForm from "./_Form";
import ButtonsElement from "../elements/Buttons";
export default {
    name: "Edit",
    components: {ButtonsElement, ReservationForm},
    data(){
        return {
            reservation:null,
            errors:null
        }
    },
    created() {
        this.getReservation();
    },
    methods:{
        getReservation(){
            axios.get(`/api/reservations/${this.$route.params.id}/edit`)
                .then((response) => {
                    console.log(response);
                    this.reservation = response.data.data;
                });
        },
        updateReservation(){
            axios.patch(`/api/reservations/${this.$route.params.id}`, this.reservation)
                .then((response) => {
                    this.$swal.fire({
                        icon: 'success',
                        title: 'Reservation updated',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.$router.push({name:'reservation-table'});
                }).catch((error) => {
                this.reservation.name  = '';
                if (error.response.status === 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },
    }
}
</script>

<style scoped>

</style>
