<template>
    <div>
        <div class="row">
            <button
                href="/api/export-excel/"
                @click="exportExcel()"
                class="btn btn-success "
                style="margin:6px 20px;"

            >
                EXCEL
                <i class="far fa-file-excel"></i>
            </button>

            <button
                href="/api/export-excel/"
                @click="exportPDF()"
                class="btn btn-danger"
                style="margin:6px 1px;"

            >
                PDF
                <i class="far fa-file-pdf"></i>
            </button>

            <button
                href="/api/export-excel/"
                @click="excelReportInv()"
                class="btn btn-primary"
                style="margin:6px 22px;"

            >
                Inventory Report Per Branch
                <i class="far fa-file-excel"></i>
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-5 col-md-12">
<!--                <div class="card shadow-sm my-5">-->
                    <div class="card-body p-0 my-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="card">
                                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h5 class="m-0 font-weight-bold text-primary">Search By Date</h5>
                                                </div>
                                                <div class="card-body">
                                                    <form class="user" @submit.prevent="index">
                                                        <div class="row form-group">
                                                                <div class="col-md-5">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text input-group-field" id="basic-addon2">Period From :</span>
                                                                        </div>
                                                                        <input type="date" class="form-control"
                                                                               placeholder="" v-model="date_from" required>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text input-group-field" id="basic-addon3">Period To :</span>
                                                                        </div>
                                                                        <input type="date" class="form-control"
                                                                               placeholder="" v-model="date_to" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <button type="submit" class="btn btn-primary"
                                                                               >Search
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row" v-show="isInvoice">
                    <div class="col-lg-12 mb-4">
                        <!-- Simple Tables -->
                        <div class="card">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h5 class="m-0 font-weight-bold text-primary">Invoice Details</h5>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-md-1">

                                        <label>Per Page</label>
                                        <select class="form-control" v-model="currentPage" @change="selectPageNumber(currentPage)">
                                            <option v-for="perPage in perPage" :value="perPage" :selected="currentPage===perPage">{{ perPage
                                                }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-group-field" id="basic-addon1" style="margin-top:33px;">Search</span>
                                            </div>

                                            <input type="text" v-model="search"
                                                   class="form-control" style="width: 250px; margin-top:33px;"
                                                   placeholder="Search Here"
                                                   @keyup="searchMaterial()"
                                                   :disabled='DataCheck'>
                                        </div>
                                    </div>
<!--                                    https://forum.vuejs.org/t/dynamically-enable-disable-select-options/65982-->
<!--                                    https://stackoverflow.com/questions/42169217/how-to-disable-value-on-the-select-option-vue-js-2-->
                                    <div class="col-md-2">
                                        <label></label>
                                        <select class="form-control" v-model="filter" v-on:change="filterSelect"
                                                style="width: 240px;margin-top: 9px;" >
                                            <option value="" disabled>Select Status</option>
                                            <option value="PlantBranch" :disabled='DataCheck'> Plant / Branch</option>
                                            <option value="DateofRedemption" :disabled='DataCheck'> Date of Redemption</option>
                                            <option value="InvoiceNumber" :disabled='DataCheck'> Invoice Number</option>
                                            <option value="InvoiceAmount" :disabled='DataCheck'> Invoice Amount</option>
                                            <option value="FreebieRedeemed" :disabled='DataCheck'> Freebie Redeemed</option>
                                            <option value="CostofFreebie" :disabled='DataCheck'> Cost of Freebie</option>
                                            <option value="CostInvoiceAmount" :disabled='DataCheck'> Cost / Invoice Amount</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush table-bordered">
                                        <thead class="thead-light">
                                        <tr>
                                            <th @click="sort('invoice_plant')" style="background-color: #007bff; color:white;">
                                                <div class="inline-block">
                                                    <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                                    <div class="filter-desc"
                                                         :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                                </div>
                                                Plant / Branch
                                            </th>
                                            <th @click="sort('invoice_date')" style="background-color: #007bff; color:white;">
                                                <div class="inline-block">
                                                    <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                                    <div class="filter-desc"
                                                         :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                                </div>
                                                Date of Redemption
                                            </th>
                                            <th @click="sort('invoice_number')" style="background-color: #007bff; color:white;">
                                                <div class="inline-block">
                                                    <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                                    <div class="filter-desc"
                                                         :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                                </div>
                                                Invoice Number
                                            </th>
                                            <th @click="sort('total_amount')" style="background-color: #007bff; color:white;">
                                                <div class="inline-block">
                                                    <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                                    <div class="filter-desc"
                                                         :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                                </div>
                                                Invoice Amount
                                            </th>
                                            <th @click="sort('invoice_market_MAKTX')" style="background-color: #007bff; color:white;">
                                                <div class="inline-block">
                                                    <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                                    <div class="filter-desc"
                                                         :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                                </div>
                                                Freebie Redeemed
                                            </th>
                                            <th @click="sort('VERPR')" style="background-color: #007bff; color:white;">
                                                <div class="inline-block">
                                                    <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                                    <div class="filter-desc"
                                                         :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                                </div>
                                                Cost of Freebie
                                            </th>
                                            <th @click="sort('cost_invoice_amount')" style="background-color: #007bff; color:white;">
                                                <div class="inline-block">
                                                    <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                                    <div class="filter-desc"
                                                         :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                                </div>
                                                Cost / Invoice Amount
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="market in markets.data" :key="market.id">
                                            <td> {{ market.invoice_plant }}</td>
                                            <td> {{ market.invoice_date }}</td>
                                            <td>{{ market.invoice_number }}</td>
                                            <td>{{ market.total_amount }}</td>
                                            <td>{{ market.invoice_market_MAKTX }}</td>
                                            <td>{{ market.VERPR }}</td>
                                            <td>{{ market.cost_invoice_amount }}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="float-left">Showing {{meta.from || 0}} to {{meta.to || 0}} of {{meta.total || 0}} entries</p>
                                <pagination class="float-right" :data="markets" @pagination-change-page="index" :limit="5">
                                    <span slot="prev-nav">&lt; Previous</span>
                                    <span slot="next-nav">Next &gt;</span>
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</template>


<script type="text/javascript">

import moment from "moment";

export default {
    data() {
        return {
            date: '',
            markets: {},
            searchDateWithData: {
                marketing_material: null,
                marketing_description: null,
                marketing_inventory: null,
                marketing_total_amount: null,
                marketing_plant: null,
                cost: null,
            },
            fileName: 'file',
            search: '',
            DataCheck: true,
            date_to:'',
            date_from:'',

            perPage: ['10', '50', '100'],
            currentPage: '10',
            page: {},
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            currentSort: 'invoice_plant',
            currentSortDir: 'asc',

            filter:'',
            filterVal: '',

            isInvoice:false,
        }
    },
 created(){
     const today = new Date();
     let hourtime = today.getHours();
     // let hourmin = today.getMinutes();
     let formathour = moment(hourtime, 'HH').format('HH');
     // let formatmin = moment(hourmin, 'mm').format('mm');
     console.log(formathour);
     if(hourtime <= "8" && hourtime >= "20"){
         console.log('time test');
         setInterval(() => this.getResults(), 3000);
         let refreshId = setTimeout(() => {
             this.alertNotif('Automatically Logging out','Due for none activity', 'warning', '3000');
             let uri = '/api/logout';
             axios.post(uri)
                 .then((response) => {
                     this.$store.commit('logout');
                     this.$router.push('/login/');
                     clearInterval(refreshId);
                 })

         }, 5000);
     }
 },
    methods: {
        filterSelect(){
            // console.log(this.filter);
            let uri = '/api/invoice-search-report?filter=' +this.filter + '&sortby=' + this.currentSort
                + '&sortdir=' + this.currentSortDir
                + '&currentpage=' + this.currentPage;
            axios.get(uri).then();
            this.index();
            return this.filter;

        },
        index(page) {

            let date_from = this.date_from;
            let date_to = this.date_to;
            if (typeof page === 'undefined') {
                this.page = 1;
            }
           else if(date_from > date_to){
                this.$swal({
                    title: 'Invalid Date Format!',
                    text: 'Period from should not be greater than Period to, Please Try again',
                    icon: 'error',
                    timer: '',
                });
            }else{

               let fil = this.filter;
                console.log(fil);
               // this.filterSelect = fil
                // this.filterSelect();
               // let fil = this.filter;


                let uri = '/api/invoice-page?page=' + page
                    + '&search='
                    + this.search
                    + '&sortby='
                    + this.currentSort
                    + '&sortdir='
                    + this.currentSortDir
                    + '&currentpage='
                    + this.currentPage
                    + '&date_from=' + this.date_from
                    + '&date_to=' + this.date_to;

                this.uri = uri;
                this.page = page;
                axios.get(uri)
                    .then(response => {
                        this.markets = response.data;
                        this.meta.total = response.data.meta.total;
                        this.meta.from = response.data.meta.from;
                        this.meta.to = response.data.meta.to;
                        if (response.data != null) {
                            this.DataCheck = false;
                            this.isInvoice = true;
                        }
                    });
            }


        },
        selectPageNumber(selected) {
            this.currentPage = selected;
            this.index();
            this.searchMaterial();
        },
        sort(s) {
            let date_from = this.date_from;
            let date_to = this.date_to;
            if (date_from !== '' && date_to !== '' ){
                console.log(date_from);
                if (s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                    if (this.currentSortDir === 'asc') {
                        this.sortClassActive.activeAsc = true;
                        this.sortClassActive.activeDesc = false;
                    } else {
                        this.sortClassActive.activeAsc = false;
                        this.sortClassActive.activeDesc = true;
                    }
                }


            this.currentSort = s;
            this.index();
            this.searchMaterial();
            }
        },

        searchMaterial(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = '/api/invoice-search-report?page=' + page
                + '&search=' + this.search
                + '&sortby=' + this.currentSort
                + '&sortdir=' + this.currentSortDir
                + '&currentpage=' + this.currentPage
                + '&date_from=' + this.date_from
                + '&date_to=' + this.date_to;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    this.markets = response.data;
                    this.meta.total = response.data.meta.total;
                    this.meta.from = response.data.meta.from;
                    this.meta.to = response.data.meta.to;
                    // if (response.data != null) {
                    //     this.DataCheck = false;
                    // }
                });
            // var data =
            //     {
            //         date_from: this.date_from,
            //         date_to: this.date_to,
            //     }
            // let query = this.search;
            //
            // axios.get(`api/invoice-search-report?date_from=${data.date_from.toString()}&date_to=${data.date_to.toString()}&search=` + query)
            //     .then((data) => (
            //         this.markets = data.data
            //
            //     ))
            //     .catch(error => this.errors = error.response.data.errors)
        },
        dataPush() {
            this.markets.push(this.searchDateWithData);
        },
        // searchDate(search) {
        //
        //     var data = {
        //         date_from: this.date_from,
        //         date_to: this.date_to,
        //         searchTerm:this.search,
        //     }
        //     axios.post('/api/search-report-invoice', data)
        //         .then(({data}) => {
        //             this.markets = data;
        //             console.log(this.markets);
        //             if (data != null) {
        //                 this.DataCheck = false;
        //             }
        //         }).catch(error => this.errors = error.response.data.errors)
        //
        // },
        exportPDF() {
            // var date1 = this.date;
            let date_from = this.date_from;
            let date_to = this.date_to;

            if(date_from > date_to){
                this.$swal({
                    title: 'Invalid Date Format!',
                    text: 'Period from should not be greater than Peroid to, Please Try again',
                    icon: 'error',
                    timer: '',
                });
            }
          else if (date_from !== null && date_to !== "" && date_from !== "" && date_to !== null) {
                // console.log('may unod')
                Swal.fire({
                    title: 'Exporting ' + ' ' + '`'+ 'from'+' '+ date_from +' '+ 'to'+' '+date_to  + '`'+' '+' report file',
                    text: "Do you want to proceed?",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Proceed'
                }).then((result) => {
                    if (result.value) {
                        // https://www.programmersought.com/article/69541413987/
                        // https://www.gtalbot.org/BugzillaSection/Bug195867GDR_WindowOpen.html
                        let params = {
                            date_from: this.date_from,
                            date_to: this.date_to,
                        };

                        let paramString = new URLSearchParams(params);
                        // let win = window.open(`api/export-excel?${paramString.toString()}`);
                        // this.$router.push({name: "marketing-report-index"}).catch(() => {});

                        axios.get(`api/pdf-export?${paramString.toString()}`, {responseType: "blob"}).then(res => {
                            const headerContentDisp = res.headers["content-disposition"];
                            const filename =
                                headerContentDisp &&
                                headerContentDisp.split("filename=")[1].replace(/["']/g, ""); // TODO improve parcing
                            const contentType = res.headers["content-type"];

                            const blob = new Blob([res.data], {contentType});
                            const href = window.URL.createObjectURL(blob);

                            const el = document.createElement("a");
                            el.setAttribute("href", href);
                            el.setAttribute(
                                "download",
                                filename || (config && config.filename) || "someFile"
                            );
                            el.click();

                            window.URL.revokeObjectURL(blob);
                            return res;
                        });


                    }
                })

            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'No Date Selected',
                    text: 'Please make sure to select a specify date while exporting',
                })
                // let currentDate = new Date().toISOString().substr(0, 10);
                // console.log(currentDate, ' wala unod ');
            }

        },

        exportExcel() {
            // var date1 = this.date;
            let date_from = this.date_from;
            let date_to = this.date_to;
            if(date_from > date_to){
                this.$swal({
                    title: 'Invalid Date Format!',
                    text: 'Period from should not be greater than Peroid to, Please Try again',
                    icon: 'error',
                    timer: '',
                });
            }
           else if (date_from !== null && date_to !== "" && date_from !== "" && date_to !== null) {
                // console.log('may unod')
                Swal.fire({
                    title: 'Exporting ' + ' ' + '`'+ 'from'+' '+ date_from +' '+ 'to'+' '+date_to  + '`'+ ' '+' report file',
                    text: "Do you want to proceed?",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Proceed'
                }).then((result) => {

                    if (result.value) {
                        // https://www.programmersought.com/article/69541413987/
                        // https://www.gtalbot.org/BugzillaSection/Bug195867GDR_WindowOpen.html
                        // let params = {date: this.date};
                        let params = {
                            date_from: this.date_from,
                            date_to: this.date_to,
                        };

                        let paramString = new URLSearchParams(params);
                        // let win = window.open(`api/export-excel?${paramString.toString()}`);
                        // this.$router.push({name: "marketing-report-index"}).catch(() => {});

                        axios.get(`api/export-excel?${paramString.toString()}`, {responseType: "blob"}).then(res => {
                            const headerContentDisp = res.headers["content-disposition"];
                            const filename =
                                headerContentDisp &&
                                headerContentDisp.split("filename=")[1].replace(/["']/g, ""); // TODO improve parcing
                            const contentType = res.headers["content-type"];

                            const blob = new Blob([res.data], {contentType});
                            const href = window.URL.createObjectURL(blob);

                            const el = document.createElement("a");
                            el.setAttribute("href", href);
                            el.setAttribute(
                                "download",
                                filename || (config && config.filename) || "someFile"
                            );
                            el.click();

                            window.URL.revokeObjectURL(blob);
                            return res;
                        });


                    }
                })

            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'No Date Selected',
                    text: 'Please make sure to select a specify date while exporting',
                })

            }

        },
        excelReportInv() {
            let date_from = this.date_from;
            let date_to = this.date_to;;
            if(date_from > date_to){
                this.$swal({
                    title: 'Invalid Date Format!',
                    text: 'Period from should not be greater than Peroid to, Please Try again',
                    icon: 'error',
                    timer: '',
                });
            }
           else if (date_from !== null && date_to !== "" && date_from !== "" && date_to !== null) {
                // console.log('may unod')
                Swal.fire({
                    title: 'Exporting ' + ' ' + '`'+ 'from'+' '+ date_from +' '+ 'to'+' '+date_to  + '`'+' '+'report file',
                    text: "Do you want to proceed?",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Proceed'
                }).then((result) => {

                    if (result.value) {
                        // https://www.programmersought.com/article/69541413987/
                        // https://www.gtalbot.org/BugzillaSection/Bug195867GDR_WindowOpen.html
                        let params = {
                            date_from: this.date_from,
                            date_to: this.date_to,
                        };

                        let paramString = new URLSearchParams(params);
                        // let win = window.open(`api/export-excel?${paramString.toString()}`);
                        // this.$router.push({name: "marketing-report-index"}).catch(() => {});

                        axios.get(`api/export-excel-inv?${paramString.toString()}`, {responseType: "blob"}).then(res => {

                            const headerContentDisp = res.headers["content-disposition"];
                            const filename =
                                headerContentDisp &&
                                headerContentDisp.split("filename=")[1].replace(/["']/g, ""); // TODO improve parcing
                            const contentType = res.headers["content-type"];

                            const blob = new Blob([res.data], {contentType});
                            const href = window.URL.createObjectURL(blob);

                            const el = document.createElement("a");
                            el.setAttribute("href", href);
                            el.setAttribute(
                                "download",
                                filename || (config && config.filename) || "someFile"
                            );
                            el.click();

                            window.URL.revokeObjectURL(blob);
                            return res;
                        });


                    }
                })

            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'No Date Selected',
                    text: 'Please make sure to select a specify date while exporting',
                })

            }

        },
    }


}

</script>


<style type="text/css">
/*.input-group-field {*/
/*    background: #19a7d5!important;*/
/*    color: #fff!important;*/
/*}*/
</style>
