<template>
    <div id="reservation_wrapper">
      <span v-hotkey="keymap"></span>
        <!-- Container Fluid data-interval="5000"-->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Reservation Dashboard</h1>

            <h5 class="text-center"> {{reservation_option}} </h5>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> <router-link :to="{ name: 'pos'}">POS</router-link></li>
                <li class="breadcrumb-item active" aria-current="page">Reservation</li>
            </ol>
        </div>
<!--            <div class="d-sm-flex align-items-center justify-content-between mb-4">-->
<!--                <div class="bd-example justify-content-center">-->
<!--                    <div id="carouselExampleCaptions" class="carousel slide boxim-slider carousel-fade" data-ride="carousel" data-interval="3000">-->
<!--                        <div class="carousel-inner">-->
<!--                            <div class="carousel-item active">-->
<!--                                <img src="https://ph.joblum.com/uploads/13/12579.jpg" class="d-block w-100" alt="...">-->

<!--                            </div>-->
<!--                            <div class="carousel-item">-->
<!--                                <img src="https://www.businesslist.ph/img/ph/h/1597762093-28-bacolod-triumph-hardware.png" class="d-block w-100" alt="...">-->
<!--                            </div>-->
<!--                            <div class="carousel-item">-->
<!--                                <img src="https://vcygroup.com/images/Bacolod%20Triumph%20Hardware.jpg" class="d-block w-100" alt="...">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="row">
                <!-- Alerts Basic -->
                <div class="col-lg-9">
                    <div class="card shadow-sm mb-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-field" id="basic-addon1">Scan Barcode</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Scan Barcode" aria-label="Barcode" aria-describedby="basic-addon1"
                                   @click="isSearch = true" v-model="searchCode" @keyup.enter="index" ref="scan_barcode" :disabled="disable_scan">
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Code</th>
                                            <th>Item Name</th>
                                            <th>Price</th>
                                            <th>Qty</th>
                                            <th>Net Disc</th>
                                            <th>Subtotal</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(product, index) in products" :key="product.product_id" :index="index">
                                        <td>{{ product.product_id }}</td>
                                        <td>{{ product.product_name }}</td>
                                        <td>{{ formatNumber(product.price)}}</td>
                                        <td>{{ product.qty  }}</td>
                                        <td>{{ formatNumberDiscount(product.discount) }}</td>
                                        <td>{{ formatNumber(product.item_subtotal) }}</td>
<!--                                        tabindex="-1" for disable button-->
                                        <td><a href="#" class="btn btn-sm btn-default" @click="remove(product.product_id,index)" :tabindex="tabindex"><span class="fa fa-times-circle"></span></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Alerts with Dismissing -->
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="input-group mb-3">
                            <div class="card-header header-title">
                                    Amount Due:
                            </div>
                        </div>
                        <div class="card-body text-right">
                            <h4> &#8369; {{ formatNumber(total) }}</h4>
                        </div>
                    </div>
                    <h5><strong>Reservation Details</strong></h5>
                    <div class="card mb-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-field">
                                    <span class="fa fa-user"></span>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Customer Name" aria-label="Customer" aria-describedby="basic-addon1" disabled="true" :value="customer_name" >
                        </div>

                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Salesman: </label>
                                <div class="col-sm-7">
                                    <span class="form-control text-right res_det">{{ salesman_name }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Total items: </label>
                                <div class="col-sm-7">
                                    <span class="form-control text-right res_det">{{ total_qty }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Total Discount : </label>
                                <div class="col-sm-7">
                                    <span class="form-control text-right res_det">{{ formatNumber(total_discount) }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Subtotal : </label>
                                <div class="col-sm-7">
                                    <span class="form-control text-right res_det">{{ formatNumber(subtotal) }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">12% Vat: </label>
                                <div class="col-sm-7">
                                    <span class="form-control text-right res_det">{{ formatNumber(vat) }}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Mode of Payment: </label>
                                <div class="col-sm-7">
                                    <span class="form-control text-right res_det">{{ payment.payment_name }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Down Payment: </label>
                                <div class="col-sm-7">
                                    <span class="form-control text-right res_det">{{ formatNumber(amount) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Row -->
        <form @submit.prevent="authenticate">
            <authModel v-if="authModel" :user="user" > </authModel>
        </form>
        <searchProduct v-if="searchProductModel"> </searchProduct>
        <helpModal v-if="myModel"></helpModal>
        <customerModal v-if="customerModal" :customer="customer"></customerModal>
        <salesmanModal v-if="salesmanModal" ></salesmanModal>
        <overallDiscountModal v-if="overallDiscountModal" ></overallDiscountModal>
        <changeModal v-if="changeModal" :change="change"></changeModal>
        <modePaymentModal v-if="modePaymentModal" :payment="payment"></modePaymentModal>
        <changePrice v-if="changePriceModal" :products="products"></changePrice>
        <discountPerItem v-if="discountPerItemModal" :products="products"></discountPerItem>
        <reservationOption v-if="reservedOptionModal"> </reservationOption>
        <printReceipt v-if="printReceiptModal" :res_data="res_data" :printDetails="printDetails" :total_qty="total_qty" :change="change" :customer_name="customer_name" :salesman_name="salesman_name" :total_discount="total_discount"></printReceipt>
    </div>
</template>
<script>


import QuickEdit from 'vue-quick-edit'
import Autocomplete from '@trevoreyre/autocomplete-vue'
import helpModal from '../modals/helpModal';
import searchProduct from '../modals/searchProduct';
import authModel from '../modals/authModel';
import customerModal from '../modals/customerModal';
import salesmanModal from '../modals/salesmanModal';
import modePaymentModal from '../modals/modePaymentModal';
import overallDiscountModal from '../modals/overallDiscountModal';
import changeModal from '../modals/changeModal';
import changePrice from "../modals/changePrice";
import discountPerItem from "../modals/discountPerItem";
import reservationOption from "../modals/reservationOption";
import printReceipt from "../modals/printReceipt";
export default {
    components:{
        helpModal,searchProduct,QuickEdit,authModel,Autocomplete,customerModal,salesmanModal,modePaymentModal,overallDiscountModal,changeModal,changePrice,discountPerItem,reservationOption,printReceipt
    },
    data () {
        return {
            reservedOptionModal:false,  myModel:false, searchProductModel:false, authModel:false, isSearch: false, customerModal:false,
            salesmanModal:false, modePaymentModal:false, overallDiscountModal:false, changeModal:false,
            changePriceModal:false, discountPerItemModal:false, printReceiptModal:false, disable_scan:false,
            tabindex:0,
            searchCode:'',
            products:[],
            fn_method:[],
            qty:'',
            total:'',
            customer_name:'',
            customer_id:'',
            salesman_id:'',
            salesman_name:'',
            payment:{
                'amount':'',
                'payment_name':'',
                'payment_id':'',
            },
            modePayment:[],
            user: {
                email: '',
                authKey: '',
            },
            balanceAmount:'',
            vat:'',
            subtotal:'',
            total_discount:'',
            change:'',
            res_data: [],
            total_qty:'',
            status:'',
            fn:'',
            res_no:'',
            printDetails:[],
            reservation_option:'',
            id:'',
            amount:''

        }
    },
    mounted(){

        this.$refs.scan_barcode.focus();
    },
    methods: {

        getReservationDetails(opt,res_num){
            this.enableScanFocus();
            this.reservedOptionModal=false;
            this.$refs.scan_barcode.focus();

            this.reservation_option=this.getReserveOptionName(opt,res_num);
            axios.get(`/api/reservation?res_num=`+res_num)
                .then((res)=>{
                    console.log(res.data.reservation);
                    this.amount=res.data.downPayment[0]['downPayment'];
                    this.products = res.data.reservation;
                    this.subtotal = res.data.reservation[0]['total'],
                    this.total_discount = res.data.overall_discount,
                    this.res_no = res.data.reservation[0],
                        this.id=res.data.reservation,
                    this.customer_id = res.data.payment[0]['customer_id'],

                    this.getPaymentName(res.data.payment[0]['payment_id']);
                    this.getCustomerName(res.data.payment[0]['customer_id']);
                    if(res.data.payment[0]['salesman_id'] != null){
                        this.getSalesmanName(res.data.payment[0]['salesman_id']);
                    }

                    this.totalItem();
                    this.subTotal();
                    this.totalDiscount();
                    this.total_qty = this.totalQty();
                })
        },
        getReserveOptionName(id,res_num){
            axios.get(`/api/reservations/`+id)
                .then((res)=>{
                    this.reservation_option = res.data.name+" for Reservation #"+res_num;
                })
        },
        getPaymentName(id){
            axios.get(`/api/searchPayments?id=${encodeURI(id)}`)
                .then((res)=>{
                    this.payment.payment_name = res.data[0].name;
                })
        },
        getCustomerName(id){
            axios.get(`/api/customers?searchCode=${encodeURI(id)}`)
                .then((res)=>{
                    this.customer_name = res.data[0].NAME1;
                })
        },
        getSalesmanName(id){
            axios.get(`/api/salesmen?searchCode=${encodeURI(id)}`)
                .then((res)=>{
                    this.salesman_name = res.data[0].SNAME;
                })
        },
        disableScanFocus(){
            this.disable_scan=!this.disable_scan;
            this.tabindex=(this.tabindex == 0)?-1:0;
        },
        enableScanFocus(){
            this.disable_scan=false;
            this.tabindex=0;
        },
        getProduct(e){
            this.searchProductModel=false;
            this.searchCode= this.searchCode.concat('',e);
            this.index();
        },
        resTrans(){
            window.location.reload();
            // this.$router.push({ name: "reservation"});
        },
        saveReservation(){
            this.res_data.push(
                {
                    'res_no':this.res_no,
                    'products':this.products,
                    'subtotal':this.subtotal,
                    'discount':this.total_discount,
                    'payment':this.payment,
                    'total':this.total,
                    'status':this.status,
                    'customer_id':this.customer_id,
                    'salesman_id':this.salesman_id,
                }
            )

            if(this.res_no == ''){
                axios.post('/api/reservation',this.res_data[0])
                     .then((res)=>{
                         this.printDetails=res.data;
                         setTimeout(function () {
                             this.printReceiptModal=true;
                         }.bind(this), 3000)
                     }).catch((error)=>{
                        /* console.log(error)*/
                     })
            }else{

                console.log(this.res_no)
                // axios.patch(`/api/reservation/${this.id}`,this.res_data[0])
                //     .then((res)=>{
                //         this.printDetails=res.data;
                //         setTimeout(function () {
                //             this.printReceiptModal=true;
                //         }.bind(this), 3000)
                //     }).catch((error)=>{
                //     console.log(error)
                // })
            }
        },
        getDiscount(e){
            this.overallDiscountModal=false;
            this.total_discount=e;
            this.total=this.total-(this.total*(e/100));
        },
        getModeOfPayment(val){
            this.payment=val;
            this.modePaymentModal=false;
            this.payment.payment_name=val[0].payment_name;
            let bal = this.total-val[0].amount;

            if(bal>0){
                this.balanceAmount = bal;
                this.payment.amount=val[0].amount;
                this.change=0;
            }else{
                this.balanceAmount = 0;
                this.payment.amount=this.total;
                this.change=Math.abs(bal);
            }
            this.vat = this.total * 0.12;
            this.changeModal=true;
            this.saveReservation();
        },
        getSalesman(val){
            this.salesmanModal=false;
            this.salesman_id=val.PERNR;
            this.salesman_name=val.SNAME;
            this.enableScanFocus();
        },
        getCustomer(val){
            this.customerModal=false;
            this.customer_name=val.NAME1;
            this.customer_id=val.KUNNR;
            this.enableScanFocus();
        },
        calSubtotal(){
            this.authModel = true;
        },

        index() {
            let arraycode = this.searchCode.split("*");
            let searchCode,qty,discount,total,subtotal,ss,new_discount,subtotal_price,minusQty,discountPerItem = '';

            //
            if(arraycode.length == 1){
                searchCode = this.searchCode;
                qty =1;
            }else{
                searchCode = arraycode[1];
                qty = arraycode[0];
            }

            if(searchCode!=''){
                axios.get('/api/productRes?code='+searchCode+'&showAll=0')
                    .then((response)=>{

                        let check = this.products.filter(function (elm) {
                            if (elm.product_id == response.data[0].EAN11) {
                                return elm;
                            }
                        });
                        subtotal = response.data[0].KBETR*qty;

                        if (check.length == 0)
                        {
                            this.products.push(
                                {
                                    'product_id':response.data[0].EAN11,
                                    'product_name':response.data[0].MAKTX,
                                    'price':response.data[0].KBETR,
                                    'qty':qty,
                                    'discount':'0',
                                    'item_subtotal':subtotal,
                                    'total':subtotal
                                }
                            );
                        }else{
                            let objIndex = this.products.findIndex((obj => obj.product_id == response.data[0].EAN11));
                            let current_qty = this.products[objIndex].qty;
                            discountPerItem = (this.products[objIndex].discount != 0) ? (this.products[objIndex].discount /  this.products[objIndex].qty):'0.00';

                            if(qty<0){
                                minusQty = Math.abs(qty);
                                if(current_qty>minusQty){
                                    this.products[objIndex].qty = parseInt(current_qty)+parseInt(qty);
                                    subtotal_price = this.products[objIndex].qty * this.products[objIndex].price;
                                    this.products[objIndex].discount = (this.products[objIndex].discount != 0) ? discountPerItem *  this.products[objIndex].qty:0;
                                    new_discount =  this.products[objIndex].discount;
                                    if(new_discount != 0){
                                        ss = subtotal_price - new_discount;
                                    }else{
                                        ss = subtotal_price;
                                    }
                                    this.products[objIndex].item_subtotal = ss;
                                    this.products[objIndex].total = ss;
                                }else{
                                    Notification.warning();
                                }
                            }else {
                                this.products[objIndex].qty = parseInt(current_qty)+parseInt(qty);
                                this.products[objIndex].discount = (this.products[objIndex].discount != 0) ? discountPerItem *  this.products[objIndex].qty:0;
                                new_discount =  this.products[objIndex].discount;
                                subtotal_price = this.products[objIndex].qty * this.products[objIndex].price;

                                if(new_discount != 0){
                                    ss = subtotal_price - new_discount;
                                }else{
                                    ss = subtotal_price;
                                }
                                this.products[objIndex].item_subtotal = ss;
                                this.products[objIndex].total = ss;
                            }
                             // console.log("After update: ", this.products[objIndex]);
                        }
                        this.searchCode = '';
                        this.totalItem();
                        this.subTotal();
                        this.totalDiscount();
                        this.total_qty = this.totalQty();
                    })
                    .catch((errors)=>{
                        this.searchCode = '';
                        Notification.notFoundBarcode();
                    })
            }
        },
        authenticate(){
            let fn =this.fn;
            axios.post('/api/auth/login',this.user)
                .then(res => {
                    this.authModel=false;
                    if(fn == "changePriceModal"){
                        this.changePriceModal=true;
                    }else if(fn == "discountPerItemModal"){
                        this.discountPerItemModal=true;
                    }else{
                        this.overallDiscountModal=true;
                    }
                    this.user.email='';
                    this.user.authKey='';
                })
                .catch((error) => {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Credentials not found'
                    })
                })
        },
        showAuth(fn){
            this.fn=fn;
            this.authModel = !this.authModel;
        },
        closeModal(){
            this.authModel = false;
        },
        closeModalDiscount(){
            this.discountPerItemModal = false;
        },
        remove(e, index) {

            Notification.successDelete();
            this.$delete(this.products, index);
            this.totalItem();
            this.subTotal();
            this.totalDiscount();
            this.total_qty = this.totalQty();
            this.$refs.scan_barcode.focus();
        },
        //SHORTCUT KEYS
        esc(e){  e.preventDefault();
            this.$swal.fire({
                    title: 'Are you sure you want to logout?',
                    text: "Current Transaction will not be saved!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.value) {
                        let uri = '/api/logout';
                        axios.post(uri)
                            .then((response) => {
                                this.$store.commit('logout');
                                this.$router.push('/login');
                            })
                    }
                })
        },
        help(e){
            e.preventDefault();
            this.myModel = !this.myModel;
        },
        search(e){
            e.preventDefault();
            this.searchProductModel = !this.searchProductModel;
            this.disableScanFocus();
        },
        customer(e){
            e.preventDefault();
            this.customerModal = !this.customerModal;
            this.disableScanFocus();
        },
        baggerName(e){
            e.preventDefault();
            alert("baggerName");
        },
        returnTrans(e){
            e.preventDefault();
            alert("returnTrans");
        },
        lockTrans(e){
            e.preventDefault();
            alert("lockTrans");
        },
        cash(e){
            e.preventDefault();
            if(this.customer_id==''){
                Notification.noCustomer();
            }else{
                this.modePaymentModal = !this.modePaymentModal
                this.disableScanFocus();
            }
        },
        creditCard(e){
            e.preventDefault();
            alert("creditCard");
        },
        debit(e){
            e.preventDefault();
            alert("debit");
        },
        otherPayment(e){
            e.preventDefault();
            alert("otherPayment");
        },
        voidItem(e){
            e.preventDefault();
            alert("voidItem");
        },
        voidTrans(e){
            e.preventDefault();
            alert("voidTrans");
        },
        //Controls
        deposit(e){
            e.preventDefault();
            alert("deposit");
        },
        xReading(e){
            e.preventDefault();
            alert("xReading");
        },
        zReading(e){
            e.preventDefault();
            alert("zReading");
        },
        reprintReceipt(e){
            e.preventDefault();
            alert("reprintReceipt");
        },
        itemDiscount(e){
            e.preventDefault();
            this.discountPerItemModal=!this.discountPerItemModal;
            this.disableScanFocus();
            //this.showAuth('discountPerItemModal');
        },
        overallDiscount(e){
            e.preventDefault();
        },
        seniorCitizen(e){
            e.preventDefault();
            alert("seniorCitizen");
        },
        networkSync(e){
            e.preventDefault();
            alert("networkSync");
        },
        altServer(e){
            e.preventDefault();
            alert("altServer");
        },
        itemWholesale(e){
            e.preventDefault();
            alert("itemWholesale");
        },
        transWholesale(e){
            e.preventDefault();
            alert("transWholesale");
        },
        showTotalQuantity(e){
            e.preventDefault();
            alert("showTotalQuantity");
        },
        priceOverride(e){
            e.preventDefault();
            this.showAuth('changePriceModal');
        },
        changePaper(e){
            e.preventDefault();
            alert("changePaper");
        },
        itemSpecialPrice(e){
            e.preventDefault();
            alert("itemSpecialPrice");
        },
        transSpecialPrice(e){
            e.preventDefault();
            alert("transSpecialPrice");
        },
        TransOtherPrice(e){
            e.preventDefault();
            alert("TransOtherPrice");
        },
        //Controls and alt
        resendTrans(e){
            e.preventDefault();
            alert("resendTrans");
        },
        timeEntry(e){
            e.preventDefault();
            alert("timeEntry");
        },
        showInventory(e){
            e.preventDefault();
            alert("showInventory");
        },
        showSalesHistory(e){
            e.preventDefault();
            alert("showSalesHistory");
        },
        recon(e){
            e.preventDefault();
            alert("recon");
        },
        itemRemark(e){
            e.preventDefault();
            alert("itemRemark");
        },
        //Shift
        withdraw(e){
            e.preventDefault();
            alert("withdraw");
        },
        salesmanTrans(e){
            e.preventDefault();
            this.salesmanModal = !this.salesmanModal;
        },
        salesmanItem(e){
            e.preventDefault();
            alert("salesmanItem");
        },
        suspendTrans(e){
            e.preventDefault();

            if(this.products.length>0){
                this.$swal.fire({
                    title: 'Saved Reservation?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.value) {
                        this.$swal.fire(
                            'Saved!',
                            'success'
                        )
                        this.saveReservation()
                    }
                })
            }else{
                Notification.reservedError();
            }
        },
        resumeTrans(e){
            e.preventDefault();
            alert("resumeTrans");
        },
        custInfo(e){
            e.preventDefault();
            alert("custInfo");
        },
        resOption(){
            this.disableScanFocus();
            this.reservedOptionModal = !this.reservedOptionModal;
        },

        totalItem(){
            let total = 0;
            this.products.forEach(function(product) {
                total += parseFloat(product.item_subtotal);
            });
            this.total=total;
            this.changePriceModal=false;
            this.disable_scan=false;
            this.tabindex=0;
        },
        totalDiscount(){
            let discount = 0;
            this.products.forEach(function(product) {
                discount += parseFloat(product.discount);
            });
            this.total_discount=discount;
        },
        subTotal(){
            let subtotal = 0;
            this.products.forEach(function(product) {
                subtotal += parseFloat(product.qty) * parseFloat(product.price);
            });
            this.subtotal=subtotal;
        },
        totalQty(){
            let qty = 0;
            this.products.forEach(function(product) {
                qty += parseFloat(product.qty);
            });
            return qty;
        },
        newResTrans(){
            console.log("dsad");
        },
        formatNumberDiscount(number) {
            return (number=='')?'0':parseFloat(number).toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
        formatNumber(number) {
            return (number=='')?'':parseFloat(number).toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
        test(){
            console.log("test");
        }
    },
    computed: {

        keymap() {
            return {
                'f1': this.help,
                'f2': this.search,
                'f3': this.voidItem,
                'f4': this.voidTrans,
                'shift+v': this.customer,
                'f6': this.baggerName,
                'f7': this.returnTrans,
                'f8': this.lockTrans,
                'f9': this.cash,
                'f10': this.creditCard,
                // 'f11': this.debit,
                'f12': this.otherPayment,
                'esc': this.esc,

                //Controls
                'ctrl+d': this.deposit,
                'ctrl+x': this.xReading,
                'ctrl+z': this.zReading,
                'ctrl+r': this.reprintReceipt,
                'ctrl+i': this.itemDiscount,
                'ctrl+o': this.overallDiscount,
                'ctrl+s': this.seniorCitizen,
                'ctrl+a': this.altServer,
                'ctrl+h': this.itemWholesale,
                'ctrl+q': this.showTotalQuantity,
                'ctrl+p': this.priceOverride,
                'ctrl+c': this.changePaper,
                // 'ctrl+l': this.itemSpecialPrice,
                'ctrl+k': this.transSpecialPrice,
                'ctrl+f': this.TransOtherPrice,

                //Controls and alt
                'ctrl+alt+e': this.timeEntry,
                'ctrl+alt+i': this.showInventory,
                'ctrl+alt+s': this.showSalesHistory,
                'ctrl+alt+w': this.recon,
                'ctrl+alt+k': this.itemRemark,
                'ctrl+alt+y': this.resOption,

                //Shift
                'shift+w': this.withdraw,
                'shift+f5': this.salesmanTrans,
                'shift+f6': this.salesmanItem,
                'shift+f9': this.suspendTrans,
                'shift+f10': this.resumeTrans,
                'shift+t': this.transWholesale,
                'shift+n': this.networkSync,

                //shortcut revision
                'alt+f5': this.custInfo,
                'alt+r': this.resendTrans,
                'ctrl+enter':this.newResTrans,
            }
        },
    }
}
</script>

<style scoped>

#reservation_wrapper{
    padding:40px 60px !important;
}

.form-group {
    margin-bottom: 0;
}
.btn-group {
    display: inline-block;
}
.header-title{
    background: #3f51b5;
    color:white;
    font-size: 1.25rem;
}

.res_det{
    border: none;
}
.res_row{
    padding: 0px 10px;
}
.btn-default:focus{
    background: #d60000;
    color: white;
}

.boxim-slider {
    margin: auto;
    width: 70%;
    height: 190px;
    background-color: #3f51b5;
    border: #fff;
}
.carousel-item img{
    object-fit: cover;
    height: 190px;
    width: 100%;
}
.bd-example{
    width: 100%;
}

</style>
