<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content ">
                    <div class="modal-header alert alert-primary">
                        <h5 class="modal-title " id="exampleModalLongTitle">Authentication key</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->

                                    <div class="card-body">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-group-field" id="basic-addon1"><span class="fa fa-user"></span></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" v-model="user.email">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-group-field" id="basic-addon2"><span class="fa fa-key"></span></span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="Key" aria-label="Key" aria-describedby="basic-addon1" v-model="user.password">
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" @click="closeModal">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "authModel",
    props:{
        user:null
    },
    methods:{
        showAuth(){
            this.$parent.showAuth();
        },
        closeModal(){
            this.$parent.closeModal();
        }
    }

}
</script>

<style scoped>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

</style>
