<template>
        <transition name="model">
            <div class="modal-mask show">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Shortcut Keys</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- Form Basic -->
                                    <div class="card mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Help/Information</h6>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                <strong>F1</strong> - Help <br>
                                                <strong>F2</strong> - Search <br>
                                                <strong>F3</strong> - Void Item <br>
                                                <strong>F4</strong> - Void Transaction <br>
                                                <strong>F5</strong> - Customer <br>
                                                <strong>F6</strong> - Bagger <br>
                                                <strong>F7</strong> - Return <br>
                                                <strong>F8</strong> - Lock <br>
                                                <strong>F9</strong> - Cash <br>
                                                <strong>F10</strong> - Card <br>
                                                <strong>F11</strong> - EPS <br>
                                                <strong>F12</strong> - Others <br>
                                                <strong>ESC</strong> - Logout <br>
                                            </p>

                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Alt +</h6>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                <strong>F5</strong>- Customer Information <br>
                                                <strong>R</strong>- Resend Transaction <br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <!-- Form Basic -->
                                    <div class="card mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Control + Alt</h6>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                <strong>E</strong>- Time Entry <br>
                                                <strong>I</strong>- Show Inventory <br>
                                                <strong>K</strong>- Item Remark <br>
                                                <strong>S</strong>- Show Sales History <br>
                                                <strong>W</strong>- Reconnect to Server <br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Shift +</h6>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                <strong>F5</strong>- Salesman for transaction <br>
                                                <strong>F6</strong>- Salesman per Item <br>
                                                <strong>F9</strong>- Suspend <br>
                                                <strong>F10</strong>- Resume <br>
                                                <strong>N</strong>- Network Sync<br>
                                                <strong>T</strong>- Transaction Wholesale <br>
                                                <strong>W</strong>- Withdrawal <br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <!-- Form Basic -->
                                    <div class="card mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Control + </h6>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                <strong>A</strong>- Alternate Server <br>
                                                <strong>C</strong>- Change Paper <br>
                                                <strong>D</strong>- Deposit <br>
                                                <strong>F</strong>- Transaction Other Price <br>
                                                <strong>H</strong>- Item Wholesale <br>
                                                <strong>I</strong>- Item Discount <br>
                                                <strong>K</strong>- Transaction Special Price <br>
                                                <strong>L</strong>- Item Special Price <br>
                                                <strong>O</strong>- Overall Discount <br>
                                                <strong>P</strong>- Price Override <br>
                                                <strong>Q</strong>- Show Total Quantity <br>
                                                <strong>R</strong>- Reprint <br>
                                                <strong>S</strong>- Senior Citizen Discount <br>
                                                <strong>X</strong>- X Reading <br>
                                                <strong>Z</strong>- Z Reading <br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
</template>

<script>
export default {
    name: 'helpModal'
};
</script>


<style lang="css" >

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

</style>
