<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Print VCY Sales Receipt</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <div class="card-header py-3 flex-row align-items-center justify-content-between ">
                                        <h6 class="font-weight-bold text-center print_reservation">
                                            TRIUMPH HOME DEPOT<br>
                                            Operated by: VCY SALES CORPORATION<br>
                                            Araneta St., Brgy.Sum-ag, Bacolod City <br>
                                            VATREG. TIN : 005-430-314-014<br>
                                            SN: q122tBtBuQwp03<br>
                                            MIN: 20021314251186403<br>
                                            Permit: FP022020-077-0250640-00014<br><br>

                                            <!-- <strong>Reservation #{{ reserve_number }}</strong><br> -->
                                        </h6>
                                    </div>
                                    <div class="card-body print_reservation">
                                        <h6>Terminal:19-VCYSUMDPOS02</h6>
                                        <h6 class="text-right">10/31/2020<br>12:43pm</h6>
                                            <h6>
                                                <div class="row">
                                                    <div class="col-md-3">Cashier</div> <div class="col-md-8">: cashier name </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col-md-3">Salesman</div> <div class="col-md-8">  : Salesman Name </div>
                                                </div> -->
                                                <div class="row">
                                                    <div class="col-md-3">Customer</div> <div class="col-md-8">: Customer Name </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">TIN </div> <div class="col-md-8">: _____________________________</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">Address  </div> <div class="col-md-8">: _____________________________</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3"> Bus. Style </div> <div class="col-md-8">: _____________________________</div>
                                                </div>
                                            </h6><br>

<!-- 
                                        <div v-for="product in products">
                                            {{product.EAN11}} {{product.name}}<br>
                                            <div class="row">
                                                <div class="col-md-4 text-right"> {{product.qty}} X</div>
                                                <div class="col-md-4 text-center">{{product.price}}</div>
                                                <div class="col-md-4 text-right">{{product.total}}</div>
                                            </div>
                                            <div class="row" v-if="product.discount !=0">
                                                <div class="col-md-4 text-right"> REG PRICE</div>
                                                <div class="col-md-4 text-center">{{product.price}}</div>
                                                <div class="col-md-4 text-right"> DSC</div>
                                                <div class="col-md-4 text-center">{{product.discount}}</div>
                                            </div>
                                                <br>
                                        </div> -->
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4 text-right"> {{qty1}}</div>
                                            <div class="col-md-4 text-center">Item(s)</div>
                                            <div class="col-md-4 text-center"><hr></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 text-right">AMOUNT DUE : &#8369;</div>
                                            <div class="col-md-4 text-right">{{total}}</div>
                                        </div>

                                        <!-- <div class="row">
                                            <div class="col-md-8 text-right">DP : &#8369;</div>
                                            <div class="col-md-4 text-right">{{payment.amount}}</div>
                                        </div> -->
<!-- 
                                        <div class="row">
                                            <div class="col-md-8 text-right">CASH : &#8369;</div>
                                            <div class="col-md-4 text-right">{{parseFloat(payment.amount) + parseFloat(change)}}</div>
                                        </div> -->

                                        <div class="row">
                                            <div class="col-md-8 text-right"></div>
                                            <div class="col-md-4 text-center"><hr></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 text-right">CHANGE : &#8369;</div>
                                            <div class="col-md-4 text-right">{{ change }}</div>
                                        </div>
                                        <br>
                                        <div class="container">  
                                        <div class="row">
                                             <div class="col-sm-2">

                                        <h3 class="text-center"><button class="btn btn-info" @click="newResTrans">CLOSE</button></h3>
                                             </div>
                                             <br>
                                              <div class="col-sm-4">
                                        <h3 class="text-center"><button class="btn btn-info" @click="newResTrans"><i class="fa fa-print"></i> PRINT</button></h3>
                                        
                                             </div>
                                         </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "printReceipt",
    props:['products','qty1','change','total'],
    methods:{
        newResTrans() {
            this.$parent.resTrans();
        }
    }
}
</script>

<style scoped>
.print_reservation{
    font-family: monospace;
    font-size: 14px;
}
hr{
    border: 1px dashed #171717;
}
.btn:focus{
    color: #fff !important;
    background-color: #43a047 !important;;
    border-color: #43a047 !important;;
}

.inline { 
   display:inline-block;
   margin-right:10px;
}
</style>
