<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Search To Resume Product</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <div class="input-group mb-3">
                                        <autocomplete
                                            :search="resume"
                                            class="autocomplete_field"
                                            placeholder="Search barcode,Product Name"
                                            aria-label="Search barcode,Product Name"
                                            :get-result-value="getResultValue"
                                            @submit="handleSubmit"
                                        ></autocomplete>

                                        <!-- <div id="autocomplete" class="autocomplete">-->
<!--                                            <input class="autocomplete-input"-->
<!--                                                   placeholder="Search Wikipedia"-->
<!--                                                   aria-label="Search Wikipedia"-->
<!--                                                   :search="search"-->
<!--                                                   :get-result-value="getResultValue"-->
<!--                                            >-->
<!--                                            <ul class="autocomplete-result-list"></ul>-->
<!--                                        </div>-->
                                    </div>
                                    <div class="card-body">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
    name: "resumeProduct",
    data(){
        return{
            searchCode:'',
            isSearch: false,
            products:null
        }
    },
    methods: {

        resume(input) {

            let url = `/api/resume-product?code=${encodeURI(input)}&showAll=1`

            return new Promise((resolve) => {
                if (input.length < 1) {
                    return resolve([])
                }

                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {;
                        resolve(data);
                    })
            })
        },
        getResultValue(result) {
             let $res = 'Claim #'+'-> '+result.id+' -> '+result.pro_name+' -> '+result.pro_quantity+' '+'qty';
           //
           // let $res = `<div class="wiki-title">`{{result.EAN11}}`</div><div class="wiki-snippet" v-html="'+result.MAKTX+'"/>`;

            // var txt = document.createElement("div");
            // txt.innerHTML = result;
            // return txt.value;

            return $res;
        },
        handleSubmit(result) {
            this.$parent.getProduct(result.id);
        }
    }
}
</script>

<style scoped>

.autocomplete_field{
    width: 100%;
}

.autocomplete-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
}

.wiki-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.wiki-snippet {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}


</style>
