<template>
    <div class="card shadow mb-4">
        <div class="card-body">

            <div class="alert alert-danger" role="error" v-if="errors">
                <p v-for="err in errors">
                    {{err[0] || err}}
                </p>
            </div>

            <ValidationObserver ref="form" v-slot="{ handleSubmit }">
                <form v-on:submit.prevent="handleSubmit(addReason)">
                    <ReasonForm :reason="reason"></ReasonForm>
                    <ButtonsElement :submit="true" :back="true"></ButtonsElement>
                </form>

            </ValidationObserver>
        </div>
    </div>
</template>

<script>
import ButtonsElement from "../elements/Buttons";
import ReasonForm from "./_Form";
export default {
    name: "Create",
    components: {ReasonForm, ButtonsElement},
    data() {
        return {
            reason:{
               ' name':''
            },
            errors:null
        }
    },
    methods:{
        addReason(){
            axios.post(`/api/reasons`,this.reason)
                .then((response)=>{
                    this.$swal({
                        icon : 'success',
                        title: 'Reason Type Successfully Created',
                        showConfirmation:false,
                        timer:1500
                    });
                    this.$router.push({name:'reason-table'});
                })
        }
    }
}
</script>

<style scoped>

</style>
