<template>
    <div class="card shadow mb-4" v-if="reason">
        <div class="card-body">
            <div class="alert alert-danger" role="alert" v-if="errors">
                <p v-for="err in errors">
                    {{err[0]|| err}}
                </p>
            </div>
            <ValidationObserver ref="form" v-slot="{ handleSubmit }">
                <form v-on:submit.prevent="handleSubmit(updateReasonOption)">
                    <ReasonForm :reason="reason"></ReasonForm>
                    <ButtonsElement :submit="true" :back="true"></ButtonsElement>
                </form>
            </ValidationObserver>
        </div>
    </div>
</template>

<script>
import ReasonForm from "./_Form";
import ButtonsElement from "../elements/Buttons";
    export default {
        name: "Edit",
        components: {ButtonsElement, ReasonForm},
        data(){
            return{
                reason:null,
                errors:null
            }
        },
        created() {
            this.getReasonOption();
        },
        methods:{
            getReasonOption(){
                axios.get(`/api/reasons/${this.$route.params.id}/edit`)
                .then((res)=>{
                    console.log(res);
                    this.reason = res.data.data;
                })
            },
            updateReasonOption(){
                axios.patch(`/api/reasons/${this.$route.params.id}`,this.reason)
                    .then((res)=>{
                        this.$swal({
                            icon:   'success',
                            showConfirmButton:false,
                            title: 'Reason Option updated',
                            timer: 1500
                        });
                        this.$router.push({name:'reason-table'});
                    }).catch((err)=>{
                        console.log(err)
                })
            }
        }
    }
</script>

<style scoped>

</style>
