<template>
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="form-group">
                <label> Reason</label>

                <select class="form-control" @change="getReasonVal($event)">
                    <option :value="reason.id" v-for="reason in reasons" :key="reason.id"
                    >{{reason.name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label> Search Select</label>
                <Select class="form-control"  name="select2" id="select2">
                    <option> Option1  </option>
                    <option> Option2  </option>
                </Select>
            </div>

            <ButtonsElement :back="true"></ButtonsElement>
        </div>
    </div>
</template>

<script>

import ButtonsElement from "../elements/Buttons";
export default {
    name: "Show",
    components: {ButtonsElement},
    created() {
        this.getAllReason()
    },
    data(){
        return{
            reasons : [],
        }
    },
    methods: {
        getAllReason(){
            axios.get(`/api/reasons?showAll=true`)
                .then((response) =>{
                    this.reasons = response.data.data;
                })
        },
        getReasonVal(event){
            console.log(event.target.value)

        }
    }
}
</script>

<style scoped>

</style>
