<template>

  <div>

 <div class="row">


 </div>
<router-link :to="{name: 'invoice-promo' }" class="btn btn-primary">List of Promo's</router-link>

    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Add Advertisment / Promo</h1>
                  </div>

      <form class="user" @submit.prevent="marketingInsert" enctype="multipart/form-data">

        <!-- <div class="form-group">

          <div class="form-row">
            <div class="col-md-6">
         <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Full Name" v-model="form.name">
       <small class="text-danger" v-if="errors.name"> {{ errors.name[0] }} </small>
            </div>


     <div class="col-md-6">
         <input type="users_email" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Email" v-model="form.users_email">
         <small class="text-danger" v-if="errors.users_email"> {{ errors.users_email[0] }} </small>
            </div>

          </div>
        </div> -->


         <!-- <div class="form-group">

          <div class="form-row">
            <div class="col-md-6">
         <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Complete Current Address" v-model="form.address">
         <small class="text-danger" v-if="errors.address"> {{ errors.address[0] }} </small>
            </div>


     <div class="col-md-6">

        <select v-model="form.type" id="exampleInputFirstName" name="type" class="form-control">
            <option>--Select User Role--</option>
            <option value="admin">Admin</option>
            <option value="headCasiher">Head Cashier</option>
            <option value="inventoryAnalyst">Inventory Analyst</option>
            <option value="posAdmin">POS Admin</option>
             <option value="posCashier">POS Cashier</option>
             <option value="posSupervisor">POS Supervisor</option>
             <option value="posManager">POS Manager</option>

        </select>
         <small class="text-danger" v-if="errors.type"> {{ errors.type[0] }} </small>
            </div>

          </div>
        </div> -->





        <div class="form-group">

          <div class="form-row">
            <div class="col-md-6">
                 <label for="exampleInputFirstName">Enter Invoice</label>
         <input type="number" class="form-control" id="exampleInputFirstName" placeholder="" v-model="form.invoice_number">
  <small class="text-danger" v-if="errors.invoice_number"> {{ errors.invoice_number[0] }} </small>
            </div>



            <div class="col-md-6">
                 <label for="exampleInputFirstName">Total Amount</label>
         <input type="text" class="form-control" style="width: 600px;" id="exampleInputFirstName" placeholder="" @keypress.enter.prevent="getRedeemItem()" v-model="form.total_amount">
        <small class="text-danger" v-if="errors.total_amount"> {{ errors.total_amount[0] }} </small>
            </div>
          </div>
        </div>


<div class="form-group">
 <div class="form-row">
    <div class="col-md-6">
      <label for="exampleInputFirstName">Redeem Item List</label>
  <select class="form-control" id="exampleInputFirstName" v-model="form.redem_item">
     <option :value="invMaterialMaster" v-for="invMaterialMaster in invMaterialMasters" :key="invMaterialMaster.id">{{ (form.redem_MAKTX=invMaterialMaster.marketing_MAKTX) + '  = ' + Math.round(invMaterialMaster.marketing_inv) }}</option>

                      </select>
        <!-- <small class="text-danger" v-if="errors.redem_item"> {{ errors.redem_item[0] }} </small>  -->
        <small class="text-danger" v-if="errors.redem_item"> {{ errors.redem_item[0] }} </small>
            </div>


      <!-- v-if="invMaterialMaster.marketing_total_amount >= total_amount" -->

            <div class="col-md-6">
              <label for="exampleInputFirstName">Quantity</label>

                <li class="list-group-item d-flex align-items-center" id="li_quantity">

                 Total Quantity: &nbsp;
                 <!-- <strong v-if="isNaN(form.qty)"> {{return 0; }}</strong> -->
                 <!-- {{form.qty = Math.round(form.total_amount / form.redem_item.marketing_total_amount)}} -->
                 <!-- {{form.qty = qty}} -->
                 <!-- <strong v-if="form.total_amount >= 1 && form.redem_item.marketing_total_amount >= 1">{{ form.qty = Math.round(form.total_amount / form.redem_item.marketing_total_amount) }}</strong>  -->
                 <strong v-if="form.total_amount >= 1 && form.redem_item.marketing_total_amount >= 1">{{ form.qty = Math.round(qty) }}</strong>
                 <strong v-else-if="form.total_amount == 0 || form.redem_item.marketing_total_amount == 0">{{form.qty = 0}}</strong>
                 <!-- <strong>{{ qtyTotal1 }}</strong> -->
                </li>
       <!-- <input type="text" class="form-control" id="exampleInputFirstName" placeholder="" @change="OnChange" :value="form.qty = form.total_amount / form.redem_item" readonly> -->
         <small class="text-danger" v-if="errors.qty"> {{ errors.qty[0] }} </small>
            </div>


         </div>


         </div>


         <div class="form-group">

          <div class="form-row">
            <!-- <div class="col-md-6">
   <input type="file" class="custom-file-input" id="customFile" @change="onFileSelected">

  <small class="text-danger" v-if="errors.photo"> {{ errors.photo[0] }} </small>
       <label class="custom-file-label" for="customFile">Choose file</label>
            </div> -->


     <!-- <div class="col-md-6">
        <img :src="form.photo" style="height: 40px; width: 40px;">
            </div>      -->

          </div>
        </div>




        <div class="form-group">
         <button type="submit" class="btn btn-primary btn-block" id="submit_button">Submit</button>
           <br>
        </div>

      </form>
                  <hr>
                  <div class="text-center">


                  </div>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>



<script type="text/javascript">
// $('form input').on('keypress', function(e) {
//     return e.which !== 13;
// });
// window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'){e.preventDefault();return false;}}},true);
  export default {
    // created(){
    //   // if (!User.loggedIn()) {
    //   //   this.$router.push({name: '/'})
    //   // }
    //   this.plantBranchAll();
    // },

    data(){
    return {
      form:{
        invoice_number:null,
        redem_item:'',
        qty:0,
        total_amount:null,
        redem_MAKTX:'',
      },

      errors:{},
      plantBranches:{},
      invMaterialMasters:{},
    }
  },
computed: {
                qty: function(){
                  // console.log('form.qty');
                  // this.form.redem_item =   this.form.redem_item.marketing_total_amount;
                    return this.form.total_amount / this.form.redem_item.marketing_total_amount;
                }
            },
//  watch: {
//           qty(qty) {
//             let newVal = Math.round(qty);
//             if (newVal !== val) {
//                 this.val = newVal
//             }
//             // or even simply this.val = Math.round(this.val) without the check ...
//           }
//         },
  methods: {
//       handleChange(e) {
//         if(e.target.options.selectedIndex > -1) {
//           let id = this.invMaterialMasters[e.target.options.selectedIndex].id;
//           // console.log(inv);
//           if(submit.prevent="marketingInsert" == true){
// axios.get('/api/invoice-sub/'+ id)
//       .then(() => {
//         Notification.success()
//       })
// }

//         }
//     },
    //   OnChange(qty){
    //     this.qty = Math.round(newVal);
    //     this.rounded=this.qty;
    //     },
    //     updateQuantity(event) {
    //     this.form.total_amount = event.target.value;
    //     this.form.qty = this.form.total_amount / this.form.redem_item;
    // },
    // qtyTotal() {
    //   let sum = 0;
    //   for (let i = 0; i < this.form.length; i++) {
    //     sum +=
    //       parseFloat(this.form[i].total_amount) *
    //       parseFloat(this.form[i].redem_item);
    //   }
    //   return sum;
    // },

    // qtyTotal1() {
    //   let qtyTot = 0;
    //   this.invMaterialMasters.forEach(function (invMaterialMaster) {
    //     qtyTot += parseFloat(form.total_amount) * parseFloat(form.redem_item);
    //   });
    //   this.qtyTot = qtyTot;
    // },
  //   qtyTotal1() {
  //     if (is_nan(form.qty) || is_infinite(form.qty)) {
  //  form.qty = 0;
  //     } else {
  //         form.qty;
  //     }
  //   },
  marketingInsert(){
      //  axios.post('/api/marketing',{form: this.form})
      //  axios.post('/api/marketing?content=' + this.form.content + '&plant=' + this.form.plantbranch_id)
  // console.log(this.form);
      axios.post('/api/invoice',this.form)
       .then(() => {

        this.$router.push({ name: 'invoice-promo'})
        Notification.success()
       })
       .catch(error =>this.errors = error.response.data.errors)
     },
getRedeemItem(){
 axios.get('/api/material-master-total?total_amount=' + this.form.total_amount)
    .then(({data}) => (this.invMaterialMasters = data))
}

  },


created(){
    // axios.get('/api/plant-branches/')
    // .then(({data}) => (this.plantBranches = data))

   this.getRedeemItem();
  },

  }

</script>


<style type="text/css">
 #submit_button {
    width:13%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
}
#li_quantity {

 width: 200px;
 /* float: right; */
 /* margin-right: 20px; */
}
/* .form-group, .form-control {width : 80%;} */
</style>
