<template>

    <div>
        <span v-hotkey="keymap"></span>
        <div>

            <b-carousel
                id="carousel-1"
                v-model="slide"
                :interval="4000"
                controls
                indicators
                background="#ababab"
                img-width="10000"
                img-height="10000"
                style="text-shadow: 1px 1px 2px #333;"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd"
            >
                <!-- Text slides with image -->

                <b-carousel-slide

                    v-for="item in photomarkets"
                    :key="item.id"
                    :img-src="'/'+item.photo" id="MyCustomClass"
                    img-width="10000"
                    img-height="10000"
                ></b-carousel-slide>


                <!-- Slide with blank fluid image to maintain slide aspect ratio -->
                <b-carousel-slide v-if="photomarkets == 0" img-blank-color="#cccccc" img-blank class="MyCustomClass">

                    <img
                        class="MyCustomClass"
                        width="1500"
                        height="500"
                        :src="'/backend/blank/blank.png'"
                        alt="qweqw"
                    >
                    <h1>No Promo's Posted For Now</h1>
                </b-carousel-slide>
            </b-carousel>
        </div>

        <br>
        <br>
        <div class="row">

            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->

                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0 font-weight-bold text-primary">Redeemed Invoice List</h5>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-3">
                                <div class="row">

                                    <button class="btn btn-primary" @click="newModalInventory"
                                            style="margin-left: 18px;">View Inventory &nbsp<i
                                        class="fab fa-stack-overflow"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <button class="btn btn-success " @click="newModal"
                                        style="margin-left: -250px;">Redeem Item &nbsp<i
                                    class="fas fa-cart-plus fa-lg"></i></button>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field" id="basic-addon1">Search</span>
                                    </div>

                                    <input type="text" v-model="searchTerm"
                                           class="form-control"
                                           placeholder="Search Here"
                                           @click="isSearch = true" @keyup="searchMaterial()">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th style="background-color: #007bff; color:white;">Invoice Number</th>
                                    <th style="background-color: #007bff; color:white;">Total Target</th>
                                    <th style="background-color: #007bff; color:white;">Material Number</th>
                                    <th style="background-color: #007bff; color:white;">Material Description</th>
                                    <th style="background-color: #007bff; color:white;">Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="market in markets.data" :key="market.id">
                                    <td> {{ market.invoice_number }}</td>
                                    <td> {{ market.total_amount }}</td>
                                    <td> {{ market.invoice_MATNR }}</td>
                                    <td> {{ market.invoice_market_MAKTX }}</td>
                                    <td> {{ market.qty }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <pagination :data="markets" @pagination-change-page="getResults" :limit="5">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle1">Redeem Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="user" v-on:submit.prevent="marketingInsert"
                          enctype="multipart/form-data">
                        <div class="modal-body">


                            <div class="form-group">
                                <label>Enter Invoice</label>
                                <input type="number" class="form-control"
                                       placeholder=""
                                       v-model="form.invoice_number" required>
                                <small class="text-danger" v-if="errors.invoice_number"> {{
                                        errors.invoice_number[0]
                                    }} </small>

                            </div>
                            <div class="form-group">
                                <label>Total Amount</label>
                                <input type="text" class="form-control"
                                       placeholder=""
                                       v-model="form.total_amount"
                                       @keyup="getRedeemItem()"
                                       required>
                                <!--                                @keydown.enter.prevent="getRedeemItem()"-->
                            </div>

                            <div class="form-group">
                                <label>Redeem Item List</label>
                                <select class="form-control"
                                        v-model="form.redem_item" ref="redeem_ref" required>
                                    <option :value="invMaterialMaster"
                                            v-for="invMaterialMaster in invMaterialMasters"
                                            :key="invMaterialMaster.id">{{
                                            // (form.redem_MAKTX = invMaterialMaster.marketing_MAKTX) + '  = ' + Math.round(invMaterialMaster.LABST)
                                            (invMaterialMaster.marketing_MAKTX) + '  = ' + Math.round(invMaterialMaster.LABST)
                                        }}
                                    </option>

                                </select>


                            </div>

                            <div class="form-group">
                                <label>Material Number</label>
                                <input type="text" class="form-control"
                                       placeholder=""
                                       v-model="form.redem_MATNR = form.redem_item.marketing_MATNR" readonly
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Material Description</label>
                                <input type="text" class="form-control"
                                       placeholder=""
                                       v-model="form.redem_MAKTX = form.redem_item.marketing_MAKTX" readonly
                                       required>
                            </div>

                            <div class="form-group">
                                <label>Quantity</label>
                                <li class="list-group-item d-flex align-items-center" id="li_quantity">

                                    Total Quantity: &nbsp;
                                    <!-- <strong v-if="isNaN(form.qty)"> {{return 0; }}</strong> -->
                                    <!-- {{form.qty = Math.round(form.total_amount / form.redem_item.marketing_total_amount)}} -->
                                    <!-- {{form.qty = qty}} -->
                                    <!-- <strong v-if="form.total_amount >= 1 && form.redem_item.marketing_total_amount >= 1">{{ form.qty = Math.round(form.total_amount / form.redem_item.marketing_total_amount) }}</strong>  -->
                                    <strong
                                        v-if="form.total_amount >= 1 && form.redem_item.marketing_total_amount >= 1">{{
                                            // form.qty = Math.round(qty)
                                            form.qty = 1
                                        }}</strong>
                                    <strong
                                        v-else-if="form.total_amount == 0 || form.redem_item.marketing_total_amount == 0">{{
                                            form.qty = 0
                                        }}</strong>
                                </li>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" :disabled="isSubmit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal View Inventory-->
        <div class="modal fade" id="addNew1" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Marketing Inventory</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <br><input type="text" v-model="searchTermInv" @keyup="searchMaterialInv()" class="form-control"
                                   style="width: 400px;margin:6px 15px;"
                                   placeholder="Search Here" @click="isSearch = true">
                        <br>
                        <div class="col-lg-12 mb-4">
                            <div class="card">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Material List</h6>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush table-bordered">
                                        <thead class="thead-light">
                                        <tr>
                                            <th style="background-color: #007bff; color:white;">Material Number</th>
                                            <th style="background-color: #007bff; color:white;">Material Description
                                            </th>
                                            <th style="background-color: #007bff; color:white;">Material Inventory</th>
                                            <th style="background-color: #007bff; color:white;">Promo Ends</th>
                                            <th style="background-color: #007bff; color:white;">Total Target</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="marketInv in marketInvs.data" :key="marketInv.id">
                                            <td> {{ marketInv.marketing_MATNR }}</td>
                                            <td> {{ marketInv.marketing_MAKTX }}</td>
                                            <td> {{ Math.round(marketInv.LABST) }}</td>
                                            <td> {{ marketInv.valid_to }}</td>
                                            <td> {{ marketInv.marketing_total_amount }}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <pagination :data="marketInvs" @pagination-change-page="getResultsInv" :limit="10">
                                        <span slot="prev-nav">&lt; Previous</span>
                                        <span slot="next-nav">Next &gt;</span>
                                    </pagination>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                    </div>

                </div>
            </div>
        </div>
    </div>


</template>


<script type="text/javascript">
import moment from "moment";

export default {

    created() {
        document.querySelector('body')
            .style =
            '    background-image: none !important;\n'
        ;
        this.allMarketing();
        this.allMarketingWithPhoto();
        this.getResultsInv();
        Reload.$on('AfterCreated', () => {
            // this.allMarketing();
            this.getResults();
        });
        this.getRedeemItem();

        const today = new Date();
        let hourtime = today.getHours();
        // let hourmin = today.getMinutes();
        let formathour = moment(hourtime, 'HH').format('HH');
        // let formatmin = moment(hourmin, 'mm').format('mm');
        console.log(formathour);
        if (hourtime <= "8" && hourtime >= "20") {
            console.log('time test');
            setInterval(() => this.getResults(), 3000);
            let refreshId = setTimeout(() => {
                this.alertNotif('Automatically Logging out', 'Due for none activity', 'warning', '3000');
                let uri = '/api/logout';
                axios.post(uri)
                    .then((response) => {
                        this.$store.commit('logout');
                        this.$router.push('/login/');
                        clearInterval(refreshId);
                    })

            }, 5000);
        }

    },

    computed: {
        currentUser() {
            return this.$store.getters.currentUser
        },
        keymap() {
            return {
                'esc': this.esc,
            }
        }
    },
    data() {
        return {
            form: {
                invoice_number: null,
                redem_item: '',
                qty: 0,
                total_amount: 0,
                redem_MAKTX: '',
                redem_MATNR: '',
            },
            isSearch: false,
            // photomarkets:[],
            plantBranches: {},
            invMaterialMasters: {},
            markets: {},
            marketInvs: {},
            searchTermInv: '',
            slide: 0,
            sliding: null,

            // markets: [],
            photomarkets: [],
            searchTerm: '',
            errors: {},
            isSubmit: false,

        }
    },

    methods: {
        esc(e){
            e.preventDefault();
            this.$swal({
                title: 'Are you sure you want to logout?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    let uri = '/api/logout';
                    axios.post(uri)
                        .then((response) => {
                            this.$store.commit('logout');
                            this.$router.push('/login');
                        })
                }
            })
        },
        getResultsInv(page = 1) {
            axios.get('api/material-master-pagekuha-invoice?page=' + page)
                .then(response => {
                    this.marketInvs = response.data;

                });
        },
        searchMaterialInv() {
            let query = this.searchTermInv;
            axios.get('api/findInvoiceInventory?search=' + query)
                .then((data) => (this.marketInvs = data.data))
                .catch(error => this.errors = error.response.data.errors)
        },
        getResults(page = 1) {
            axios.get('api/invoicePage?page=' + page)
                .then(response => {
                    this.markets = response.data;
                });
        },
        searchMaterial() {
            let query = this.searchTerm;
            axios.get('api/invoiceSearch?search=' + query)
                .then((data) => (this.markets = data.data))
                .catch(error => this.errors = error.response.data.errors)
        },
        allMarketing() {
            axios.get('/api/invoicePage/')
                .then(({data}) => (this.markets = data))
                .catch(error => this.errors = error.response.data.errors)
        },
        alertNotif(title, text, icon, timer) {
            this.$swal({
                title: title,
                text: text,
                icon: icon,
                timer: timer,
            })
        },
        marketingInsert() {
            // console.log(this.form.redem_MAKTX);
            axios.post('/api/invoice', this.form)
                .then((response) => {
                    if (response.data.message) {
                        this.$swal({
                            icon: 'warning',
                            title: response.data.title,
                            text: response.data.message,
                            // showConfirmButton: false,
                            // timer: 1500,
                            // title: response.data.status,
                            // text: response.data.message,
                            // icon: 'question',
                            // confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok'
                        });
                    } else {
                        this.isSubmit = true;
                        Reload.$emit('AfterCreated');
                        $('#addNew').modal('hide');
                        this.form.invoice_number = '';
                        this.form.redem_item = '';
                        this.form.qty = '';
                        this.form.total_amount = '';
                        this.form.redem_MAKTX = '';
                        this.form.redem_MATNR = '',
                        Notification.success();
                    }
                })
                // .catch((error) => {
                //     this.alertNotif(error,errors.message, 'warning', '');
                // })
                .catch(error => this.errors = error.response.data.errors)
        },
        getRedeemItem() {
            axios.get('/api/material-master-total?total_amount=' + this.form.total_amount)
                .then(({data}) => (this.invMaterialMasters = data))
        },
        newModal() {
            // console.log(this.errors.invoice_number);
            this.isSubmit = false;
            this.errors.invoice_number = '';
            this.form.invoice_number = '';
            this.form.redem_item = '';
            this.form.qty = '';
            this.form.total_amount = '';
            this.form.redem_MAKTX = '';
            this.form.redem_MATNR = '',
                // this.markets.data.splice();
                $('#addNew').modal('show');
        },
        newModalInventory() {

            $('#addNew1').modal('show');
        },
        onSlideStart(slide) {
            this.sliding = true
        },
        onSlideEnd(slide) {
            this.sliding = false
        },

        allMarketingWithPhoto() {
            return new Promise((res, rej) => {

                axios.get('/api/marketing-photo')
                    .then((response) => {
                        // console.log(response);
                        this.photomarkets = response.data
                    })
                    .catch((err) => {

                    })
            })
        },


    }
}


</script>


<style type="text/css" scoped>
#em_photo {
    height: 40px;
    width: 40px;
}

#MyCustomClass {

    max-width: 100% !important;

    object-fit: contain !important;


}

.MyCustomClass {
    max-width: 100% !important;
    height: 32vmax !important;
    object-fit: contain !important;


}

</style>
