<template>

    <div>
        <!-- <div class="container mx-auto px-4" >
          <h4>Sample</h4>
          <div class="box-border md:box-content" v-for="photomarket in photomarkets">
            <div class="w-200 md:w-200 lg:w-230">
      <carousel :perPage="1">

        <slide v-for="(photo, index) in photomarket.photos">
            <img  :key="index" :src="photo" width="250px">

        </slide>

      </carousel>
      <carousel v-if="photomarkets.length" :autoplay="true" :nav="false">
                    <img  :key="index" :src="photomarkets.photo">
        <slide v-for="(photo, index) in photomarket.photos">

        </slide>

      </carousel>
            </div>
          </div>
        </div> -->

        <div class="row">
            <router-link :to="{name: 'invoice-index' }" class="btn btn-primary" style="margin:6px 15px;">Carousel
            </router-link>
            <button class="btn btn-info" @click="newModal"
                    style="margin:6px 15px;">Redeem Item &nbsp<i class="fas fa-plus-circle"></i></button>

            <!-- <router-link :to="{ name: 'invoice-create' }" class="btn btn-primary">Add Invoice </router-link> -->

        </div>
        <br><input type="text" v-model="searchTerm"
                   class="form-control" style="width: 300px;"
                   placeholder="Search Here"
                   @click="isSearch = true" @keyup="searchMaterial()">


        <br>

        <div class="row">

            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->

                <div class="card">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Invoice List</h6>
                    </div>
                    <!-- <div class="col-md-4">
                      <div class = "card product-item">
                        <carousel>
                          <slide>

                          </slide>
                        </carousel>

                      </div>
                    </div> -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th>Invoice Number</th>
                                <th>Total Target</th>
                                <th>Material Number</th>
                                <th>Material Description</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="market in markets.data" :key="market.id">
                                <td> {{ market.invoice_number }}</td>
                                <td> {{ market.total_amount }}</td>
                                <td> {{  market.invoice_MATNR  }}</td>
                                <td> {{ market.invoice_market_MAKTX }}</td>
                                <td> {{ market.qty }}</td>
                                <td>
                                    <!-- <router-link :to="`/marketing/${market.id}/edit`" class="btn btn-sm btn-primary">Edit</router-link> -->

                                    <!-- <a @click="deleteMarketing(market.id)" class="btn btn-sm btn-danger"><font color="#ffffff">Delete</font></a> -->
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <pagination :data="markets" @pagination-change-page="getResults" :limit="5">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Redeem Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="user" @submit.prevent="marketingInsert"
                              enctype="multipart/form-data">
                            <div class="modal-body">


                                <div class="form-group">
                                    <label for="exampleInputFirstName1">Enter Invoice</label>
                                    <input type="number" class="form-control" id="exampleInputFirstName1" placeholder=""
                                           v-model="form.invoice_number" required>


                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFirstName2">Total Amount</label>
                                    <input type="text" class="form-control"
                                           id="exampleInputFirstName2" placeholder=""
                                           @keydown.enter.prevent="getRedeemItem()" v-model="form.total_amount" required>
<!--                                    @keypress.enter.prevent-->
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputFirstName3">Redeem Item List</label>
                                    <select class="form-control" id="exampleInputFirstName3" v-model="form.redem_item"  ref="redeem_ref" required>
                                        <option :value="invMaterialMaster"
                                                v-for="invMaterialMaster in invMaterialMasters"
                                                :key="invMaterialMaster.id">{{
                                                (form.redem_MAKTX = invMaterialMaster.marketing_MAKTX) + '  = ' + Math.round(invMaterialMaster.LABST)
                                            }}
                                        </option>

                                    </select>


                                </div>

                                <div class="form-group">
                                    <label for="exampleInputFirstName5">Material Number</label>
                                    <input type="text" class="form-control" id="exampleInputFirstName5" placeholder=""
                                           v-model="form.redem_MATNR = form.redem_item.marketing_MATNR" readonly required>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputFirstName4">Quantity</label>
                                    <li class="list-group-item d-flex align-items-center" id="li_quantity">

                                        Total Quantity: &nbsp;
                                        <!-- <strong v-if="isNaN(form.qty)"> {{return 0; }}</strong> -->
                                        <!-- {{form.qty = Math.round(form.total_amount / form.redem_item.marketing_total_amount)}} -->
                                        <!-- {{form.qty = qty}} -->
                                        <!-- <strong v-if="form.total_amount >= 1 && form.redem_item.marketing_total_amount >= 1">{{ form.qty = Math.round(form.total_amount / form.redem_item.marketing_total_amount) }}</strong>  -->
                                        <strong
                                            v-if="form.total_amount >= 1 && form.redem_item.marketing_total_amount >= 1">{{
                                                // form.qty = Math.round(qty)
                                                form.qty = 1
                                            }}</strong>
                                        <strong
                                            v-else-if="form.total_amount == 0 || form.redem_item.marketing_total_amount == 0">{{ form.qty = 0 }}</strong>
                                        <!-- <strong>{{ qtyTotal1 }}</strong> -->
                                    </li>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!--                       <button type="button" class="btn btn-primary">Save changes</button>-->
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Row-->

        <!-- <td>{{ market.type | upText}}</td> -->

    </div>


</template>


<script type="text/javascript">

export default {

    data() {
        return {
            form: {
                invoice_number: null,
                redem_item: '',
                qty: 0,
                total_amount: 0,
                redem_MAKTX: '',
                redem_MATNR:'',
            },
            markets: {},
            isSearch: false,
            // photomarkets:[],
            searchTerm: '',
            plantBranches:{},
            invMaterialMasters:{},
        }
    },
    computed: {
        qty: function () {
            // console.log('form.qty');
            // this.form.redem_item =   this.form.redem_item.marketing_total_amount;
            return this.form.total_amount / this.form.redem_item.marketing_total_amount;
        }
    },
    created() {
        document.querySelector('body')
            .style=
            '    background-image: none !important;\n'
        ;
        // axios.get('/api/plant-branches/')
        // .then(({data}) => (this.plantBranches = data))
        Reload.$on('AfterCreated', () => {
            this.allMarketing();

        });
        // this.allMarketing();
        // this.getRedeemItem();
    },
    mounted() {

        this.getResults();

    },
    methods: {
        getResults(page = 1) {
            axios.get('api/invoicePage?page=' + page)
                .then(response => {
                    this.markets = response.data;
                });
        },
        searchMaterial() {
            // var data = {customerSearch:this.customerSearch}
            let query = this.searchTerm;
            axios.get('api/invoiceSearch?search=' + query)
                .then((data) => (this.markets = data.data))
                .catch(error => this.errors = error.response.data.errors)
        },
        // allMarketing() {
        //     axios.get('/api/invoicePage/')
        //         .then(({data}) => (this.markets = data))
        //         .catch(error => this.errors = error.response.data.errors)
        // },
        marketingInsert() {
            //  axios.post('/api/marketing',{form: this.form})
            //  axios.post('/api/marketing?content=' + this.form.content + '&plant=' + this.form.plantbranch_id)
            // console.log(this.form);
            axios.post('/api/invoice', this.form)
                .then((response) => {

                    // console.log(response.data.message);
                    if(response.data.message){
                        this.$swal({
                            icon: 'warning',
                            title: response.data.title,
                            text: response.data.message,
                            // showConfirmButton: false,
                            // timer: 1500,
                            // title: response.data.status,
                            // text: response.data.message,
                            // icon: 'question',
                            // confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok'
                        });
                    }else{
                        // this.$router.push({name: 'invoice-promo'})
                        Reload.$emit('AfterCreated');
                        $('#addNew').modal('hide');
                        // this.invMaterialMasters.push(
                        //     {
                        //         'LABST':response.data[0].LABST,
                        //         'marketing_MAKTX':response.data[0].marketing_MAKTX,
                        //         'marketing_MATNR':response.data[0].marketing_MATNR,
                        //
                        //     }
                        // );
                        this.form.invoice_number = '';
                        this.form.redem_item = '';
                        this.form.qty = '';
                        this.form.total_amount = '';
                        this.form.redem_MAKTX = '';
                        this.form.redem_MATNR = '',
                            Notification.success();
                    }


                })
            //     .catch(error => this.errors = error.response.data.errors)
        },
        getRedeemItem() {
            axios.get('/api/material-master-total?total_amount=' + this.form.total_amount)
                .then(({data}) => (this.invMaterialMasters = data))
        },
        newModal() {
            // console.log();

    // this.$refs.redeem_ref.value = null;
            // this.form.data.splice();
            // this.invMaterialMasters.data.splice();
            this.form.invoice_number = '';
            this.form.redem_item = '';
            this.form.qty = '';
            this.form.total_amount = '';
            this.form.redem_MAKTX = '';
            this.form.redem_MATNR = '',

            $('#addNew').modal('show');
        },
// allMarketingWithPhoto(){
//     axios.get('/api/marketing/')
//       .then(({data}) => (this.photomarkets = data))
//       .catch()
// }


    },


}
</script>


<style type="text/css">
#em_photo {
    height: 40px;
    width: 40px;
}
</style>
