<template>

    <div>
        <div class="row">

            <div class="col-lg-12 mb-4">

                <div class="card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">List of Redeemed Invoices with error</h4>
                    </div>



                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-1">
                                <label>Per Page</label>
                                <select class="form-control" v-model="currentPage" @change="selectPageNumber(currentPage)">
                                    <option v-for="perPage in perPage" :value="perPage" :selected="currentPage===perPage">{{ perPage
                                        }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-8">

                            </div>

                            <div class="col-md-3">
                                <div class="input-group" style="margin-top: 30px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field" id="basic-addon1">Search</span>
                                    </div>

                                    <input class="form-control" v-model="search" placeholder="Search Here" @keyup="index"
                                           @click="isSearch = true">
                                </div>

                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th style="background-color: #007bff; color:white;">#</th>
                                    <th style="background-color: #007bff; color:white;">Invoice Number</th>
                                    <th style="background-color: #007bff; color:white;">SAP Message</th>
                                    <th style="background-color: #007bff; color:white;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(invoice, index) in invoices.data" :key="invoice.id">
                                    <td> {{ index + 1 }}</td>
                                    <td> {{ invoice.invoice_number }}</td>
                                    <td> {{ invoice.sap_message || 'Pending' }}</td>
                                    <td> <button class="btn btn-sm btn-primary" @click="manualExport(invoice.invoice_number)">Export Manually</button></td>
                                </tr>

                                <tr v-if="invoices.data && invoices.data.length === 0">
                                    <td colspan="4">No Data</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer">
                        <pagination :data="invoices" @pagination-change-page="index" :limit="10">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>


            </div>

        </div>
    </div>
</template>


<script type="text/javascript">
    export default {
        data() {
            return {
                invoices: {},
                meta: {},
                currentSort: 'invoice_number',
                currentSortDir: 'desc',
                search: null,
                isSearch: false,
                perPage: ['10', '50', '100'],
                currentPage: '10',
                page: {},
                sortClassActive: {
                    'activeDesc': false,
                    'activeAsc': true
                },
            }
        },
        methods: {
            index(page) {
                if (typeof page === 'undefined') {
                    this.page = 1;
                }
                let uri = '/api/showRedeemedInvoices?page=' + page + '&search=' + this.search
                    + '&sortby=' + this.currentSort + '&sortdir=' + this.currentSortDir
                    + '&currentpage=' + this.currentPage;
                this.uri = uri;
                this.page = page;
                axios.get(uri)
                    .then(response => {
                        this.invoices = response.data;
                        this.meta.total = response.data.total;
                        this.meta.from = response.data.from;
                        this.meta.to = response.data.to;
                    });
            },
            manualExport(invoice) {
                let uri = '/api/manualExport?invoice=' + invoice;
                axios.get(uri)
                    .then(response => {
                        this.$swal({
                            icon: 'success',
                            title: 'Invoice exported manually',
                            showConfirmButton: false,
                            timer: 3000,
                            onClose: () => {
                                this.index();
                            }
                        });
                    });
            },
        },
        computed: {


        },
        mounted(){
            this.index();
        },
    }



</script>


<style type="text/css" scoped>

</style>
