<template>
  <div>
    <span v-hotkey="keymap"></span>
    <div class="container-fluid" id="container-wrapper">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">POS Dashboard</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link :to="{ name: 'reservation-index' }"
              >Reservation</router-link
            >
          </li>
          <li class="breadcrumb-item active" aria-current="page">POS</li>
        </ol>
      </div>

      <div class="row mb-3">
        <div class="col-xl-7 col-lg-7">
          <div class="card mb-5">
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
            >
              <h6 class="m-0 font-weight-bold text-primary">Products List</h6>
            </div>

            <!--  Category Wise Product -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >Material</a
                >
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  id="hold-tab"
                  data-toggle="tab"
                  href="#hold"
                  role="tab"
                  aria-controls="home"
                  aria-selected="false"
                  >Hold Transaction</a
                >
              </li>

              <!-- <li class="nav-item" v-for="category in categories" :key="category.id">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" @click="subproduct(category.id)" >{{ category.category_name }}</a>
                          </li> -->
            </ul>

            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                ref="searchMat"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <div class="card-body">
                  <input
                    type="text"
                    v-model="searchTerm"
                    class="form-control"
                    style="width: 560px"
                    placeholder="Scan Barcode(EAN11)"
                  />

                  <div class="row">
                    <div
                      class="col-lg-3 col-md-3 col-sm-6 col-6"
                      v-for="product in filtersearch"
                      :key="product.MATNR"
                    >
                      <button
                        class="btn btn-sm"
                        @keyup="AddToCart(product.MATNR)"
                      >
                        <div
                          class="card"
                          style="width: 8.5rem; margin-bottom: 5px"
                        >
                          <!-- <img :src="product.image" id="em_photo" class="card-img-top"> -->
                          <div class="table-responsive">
                            <h6
                              class="card-title"
                              id="em_photo"
                              style="text-align: center; font-weight: bold"
                            >
                              {{ product.MAKTX }}
                            </h6>
                            <span class="badge badge-success">Add To Cart</span>
                            <!-- <span class="badge badge-danger" v-else=" ">Stock Out </span>  -->
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--  End TBAS HOME -->
              <!-- -Resume  -->
              <div
                class="tab-pane fade"
                id="hold"
                role="tabpanel"
                aria-labelledby="hold-tab"
              >
                <input
                  type="text"
                  v-model="resumesearchTerm"
                  ref="focus_input"
                  class="form-control"
                  style="width: 560px"
                  placeholder="Search Product"
                />

                <div
                  class="col-lg-3 col-md-3 col-sm-6 col-6"
                  v-for="getproduct in getfiltersearch"
                  :key="getproduct.id"
                >
                  <button
                    class="btn btn-sm"
                    @keyup="AddToCartResume(getproduct.id)"
                  >
                    <div class="card" style="width: 8.5rem; margin-bottom: 5px">
                      <!-- <img :src="getproduct.image" id="em_photo" class="card-img-top"> -->
                      <div class="table-responsive">
                        <h6
                          class="card-title"
                          id="em_photo"
                          style="text-align: center; font-weight: bold"
                        >
                          {{ getproduct.pro_name }}
                        </h6>
                        <h6>
                          QTY:
                          {{ getproduct.pro_quantity }}
                        </h6>
                        <span class="badge badge-danger">Hold Item</span>
                        <!-- <span class="badge badge-success" v-if="getproduct.product_quantity  >= 1 ">Available {{ getproduct.product_quantity }}  </span>  -->
                        <!-- <span class="badge badge-danger" v-else-if="null">Stock Out </span>  -->
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Category Wise Product -->
        </div>
        <!-- End Product -->
        <!-- Area Chart -->
        <div class="col-xl-5 col-lg-5">
          <div class="card mb-4">
            <form @submit.prevent="orderhold">
              <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
              >
                <h6 class="m-0 font-weight-bold text-primary">
                  Sales Transaction
                </h6>

                <br />
                <button
                  type="submit"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#staticBackdrop"
                >
                  Hold
                </button>
                <div
                  class="modal fade"
                  id="staticBackdrop"
                  data-backdrop="static"
                  data-keyboard="false"
                  tabindex="-1"
                  aria-labelledby="staticBackdropLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">
                          Your Transaction has been Hold!
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div
                        class="modal-body"
                        v-for="getproductRef in getproductRefs"
                        :key="getproductRef.id"
                      >
                        <div class="table-responsive">
                          <!-- <button @click.prevent="allProductHoldRef(getproductRef.id)" class="btn btn-sm btn-success">Get</button> -->
                          <h6 style="text-align: center; font-weight: bold">
                            Your Referrence #{{ getproductRef.id }}
                          </h6>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          @click.prevent="resTrans()"
                        >
                          Close
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary"
                          data-dismiss="modal"
                          @click.prevent="resTrans()"
                        >
                          Understood
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div class="table-responsive" style="font-size: 12px">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Discount %</th>
                    <th>Total</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="cart in carts" :key="cart.id">
                    <td>{{ cart.pro_name }}</td>
                    <td>
                      <input type="text" @keyup.enter="incrementAdd(cart.id, $event.target.value)" style="width: 25px" :value="cart.pro_quantity" ref="focus_input_qty"
                      />
                      <button
                        @click.prevent="increment(cart.id)"
                        class="btn btn-sm btn-success"
                      >
                        +
                      </button>
                      <button
                        @click.prevent="decrement(cart.id)"
                        class="btn btn-sm btn-danger"
                        v-if="cart.pro_quantity >= 2"
                      >
                        -
                      </button>
                      <button
                        class="btn btn-sm btn-danger"
                        v-else-if="cart.pro_quantity <= 1"
                        disabled=""
                      >
                        -
                      </button>
                    </td>
                    <td>
                      <input
                        type="text"
                        @keyup.enter="
                          cartPriceAdd(cart.id, $event.target.value)
                        "
                        style="width: 80px; text-align: center"
                        :value="cart.product_price"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        @keyup.enter="
                          discountCart(cart.id, $event.target.value)
                        "
                        style="width: 25px; text-align: center"
                        placeholder="%"
                        :value="Math.trunc(cart.discount)"
                      />
                    </td>
                    <td>
                      {{ formatNumber(cart.sub_total) }}
                    </td>
                    <td>
                      <a
                        @click="removeItem(cart.id)"
                        class="btn btn-sm btn-primary"
                        ><font color="#ffffff">X</font></a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
              <ul class="list-group">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Total Quantity:
                  <strong>{{ qty1 }}</strong>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Sub Total:
                  <strong> {{ formatNumber(subtotal) }}</strong>
                </li>

                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Vat:
                  <strong>{{ vats.vat }} %</strong>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Discount by %:
                  <strong>{{ discTotal }} %</strong>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Total :

                  <strong v-if="discTotal >= 1">{{
                    (total = formatNumber(
                      Math.abs(
                        (subtotal * vats.vat) / 100 +
                          subtotal -
                          ((subtotal * vats.vat) / 100 + subtotal) *
                            (discTotal / 100)
                      )
                    ))
                  }}</strong>
                  <strong v-else-if="discTotal == ''">{{
                    (total = formatNumber(
                      (subtotal * vats.vat) / 100 + subtotal
                    ))
                  }}</strong>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Cash :

                  <strong>{{ formatNumber(pay) }}</strong>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Change :
                  <strong v-if="discTotal >= 1"
                    >₱
                    {{
                      (change = formatNumber(
                        Math.abs((subtotal * vats.vat) / 100 + subtotal - ((subtotal * vats.vat) / 100 + subtotal) * (discTotal / 100) - pay)
                      ))
                    }}</strong
                  >
                  <strong v-else-if="discTotal == ''"
                    >₱
                    {{
                      (change = formatNumber(
                        Math.abs((subtotal * vats.vat) / 100 + subtotal - pay)
                      ))
                    }}</strong
                  >
                </li>
              </ul>
              <br />

              <form @submit.prevent="orderdone">
                <label>Customer Name</label>
                <input
                  type="text"
                  class="form-control"
                  required=""
                  v-model="customer_id"
                />
                <!-- <select class="form-control" v-model="customer_id">
                               <option v-for="customer in customers">{{customer.NAME1 }} </option>

                                 </select> -->

                <label>Discount by %</label>
                <input type="text" class="form-control" v-model="discTotal" />

                <label>Pay</label>
                <input type="text" class="form-control" required="" v-model="pay"/>

                <label>Payment Method</label>
                <select class="form-control" v-model="payby">
                  <!-- <option value="x">Select Payment Method</option> -->
                  <option value="Cash">Cash</option>
                  <option value="Cheaque">Cheque</option>
                  <option value="GiftCard">Gift Card</option>
                </select>

                <br />
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Pie Chart -->
      </div>
    </div>

    <form @submit.prevent="authenticate">
      <authModel v-if="authModel" :user="user"> </authModel>
    </form>

    <helpModal v-if="myModel"></helpModal>
    <resumeProduct v-if="resumeProductModel"></resumeProduct>
    <printReceipt
      v-if="printReceiptModal"
      :products="products"
      :qty1="qty1"
      :change="change"
      :subtotal="subtotal"
      :total="total"
    ></printReceipt>
  </div>
  <!--Row-->
</template>

<script type="text/javascript">
import helpModal from "../posmodals/helpModal";
import authModel from "../posmodals/authModel";
import resumeProduct from "../posmodals/resumeProduct";
import printReceipt from "../posmodals/printReceipt";
export default {
  components: {
    helpModal,
    authModel,
    resumeProduct,
    printReceipt,
  },
  // created(){
  //     if (!User.loggedIn()) {
  //         this.$router.push({name: '/'})
  //     }
  // },

  created() {
    this.allProduct();
    this.allProductHold();
    // this.allProductHoldRef();
    // this.allStockPrice();
    // this.allCategory();
    this.allCustomer();
    this.cartProduct();
    this.vat();
    // this.subtotal();
    Reload.$on("AfterAdd", () => {
      this.cartProduct();
    });
  },
  data() {
    return {
      myModel: false,
      authModel: false,
      resumeProductModel: false,
      printReceiptModal: false,
      customer_id: "",
      pay: "",
      discount1: "",
      discTotal: "",
      due: "",
      payby: "",
      change: "",
      total: "",
      totalFinal: "",

      products: [],
      getproducts: [],
      getproductRefs: [],
      categories: "",
      searchTerm: "",
      resumesearchTerm: "",
      customers: "",
      errors: "",
      carts: [],
      vats: "",
      hold_ref_id: "",
      // errors:{},
      qty: {},
      user: {
        email: "",
        authKey: "",
      },
      fn: "",
      index: "",
      resumeID: "",
    };
  },
  computed: {
    keymap() {
      return {
        f1: this.help,
        f2: this.resume,
        esc: this.esc,
      };
    },

    filtersearch() {
      let searchCode,
        qty = "";
      let arraycode = this.searchTerm.split("*");

      if (arraycode.length == 1) {
        searchCode = this.searchTerm;
        qty = 1;
      } else {
        searchCode = arraycode[1];
        qty = arraycode[0];
      }

      return this.products.filter((product) => {
        return product.EAN11.match(searchCode);
      });
      //  this.$refs.focus_input_qty.focus();
      // }
    },
    getfiltersearch() {
      return this.getproducts.filter((getproduct) => {
        return getproduct.id.match(this.resumesearchTerm);
      });
    },
    qty1() {
      let sum = 0;
      for (let i = 0; i < this.carts.length; i++) {
        sum += parseFloat(this.carts[i].pro_quantity);
      }
      return sum;
    },
    // if(){
    //         if(discTotal == 1){

    //         }

    // },
    subtotal() {
      let sum = 0;
      for (let i = 0; i < this.carts.length; i++) {
        sum +=
          parseFloat(this.carts[i].pro_quantity) *
          parseFloat(this.carts[i].product_price);
      }
      return sum;
    },
    discountTot() {
      let sum = 0;
      for (let i = 0; i < this.carts.length; i++) {
        sum += parseFloat(this.carts[i].discount);
      }
      return sum;
    },
    discountTotal() {
      let sum = 0;
      let sum1 = 0;
      for (let i = 0; i < this.carts.length; i++) {
        sum1 +=
          parseFloat(this.carts[i].pro_quantity) * parseFloat(this.carts[i].product_price);
         sum += sum1 - sum1 * parseFloat(this.carts[i].discount);
      }
      return sum;
    },
  },

  methods: {
    disableScanFocus() {
      this.disable_scan = !this.disable_scan;
      this.tabindex = this.tabindex == 0 ? -1 : 0;
    },
    getProduct(e) {
      this.resumeProductModel = false;
      this.resumesearchTerm = this.resumesearchTerm.concat("", e);
      this.$refs.focus_input.focus();
    },
    // index(){

    // },
    authenticate() {
      let fn = this.fn;
      axios
        .post("/api/auth/login", this.user)
        .then((res) => {
          this.authModel = false;
          if (fn == "changePriceModal") {
            this.changePriceModal = true;
          } else if (fn == "discountPerItemModal") {
            this.discountPerItemModal = true;
          } else {
            this.overallDiscountModal = true;
          }

          this.user.email = "";
          this.user.authKey = "";
        })
        .catch((error) => {
          Toast.fire({
            icon: "warning",
            title: "Credentials not found",
          });
        });
    },

    // Cart Methods Here
    esc(e) {
      e.preventDefault();

      this.$swal
        .fire({
          title: "Are you sure you want to logout?",
          text: "Current Transaction will not be saved!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes",
        })
        .then((result) => {
          if (result.isConfirmed) {
            Swal.fire("Ok!", "Redirecting to login form. Please Wait");
            setTimeout(
              function () {
                this.$router.push({ name: "logout" });
              }.bind(this),
              3000
            );
          }
        });
    },
    help(e) {
      e.preventDefault();
      this.myModel = !this.myModel;
    },
    showAuth(fn) {
      this.fn = fn;
      this.authModel = !this.authModel;
    },
    closeModal() {
      this.authModel = false;
    },
    resume(e) {
      e.preventDefault();
      this.resumeProductModel = !this.resumeProductModel;
      this.disableScanFocus();
    },
    customer(e) {
      e.preventDefault();

      this.customerModal = !this.customerModal;
    },
    baggerName(e) {
      e.preventDefault();
      alert("baggerName");
    },
    returnTrans(e) {
      e.preventDefault();
      alert("returnTrans");
    },
    lockTrans(e) {
      e.preventDefault();
      alert("lockTrans");
    },
    cash(e) {
      e.preventDefault();
      this.modePaymentModal = !this.modePaymentModal;
    },
    creditCard(e) {
      e.preventDefault();
      alert("creditCard");
    },
    debit(e) {
      e.preventDefault();
      alert("debit");
    },
    otherPayment(e) {
      e.preventDefault();
      alert("otherPayment");
    },
    voidItem(e) {
      e.preventDefault();
      alert("voidItem");
    },
    voidTrans(e) {
      e.preventDefault();
      alert("voidTrans");
    },

    //Controls
    deposit(e) {
      e.preventDefault();
      alert("deposit");
    },
    xReading(e) {
      e.preventDefault();
      alert("xReading");
    },
    zReading(e) {
      e.preventDefault();
      alert("zReading");
    },
    reprintReceipt(e) {
      e.preventDefault();
      alert("reprintReceipt");
    },
    itemDiscount(e) {
      e.preventDefault();

      this.discountPerItemModal = !this.discountPerItemModal;
      this.disableScanFocus();
      //this.showAuth('discountPerItemModal');
    },
    overallDiscount(e) {
      e.preventDefault();
    },
    seniorCitizen(e) {
      e.preventDefault();
      alert("seniorCitizen");
    },
    networkSync(e) {
      e.preventDefault();
      alert("networkSync");
    },
    altServer(e) {
      e.preventDefault();
      alert("altServer");
    },
    itemWholesale(e) {
      e.preventDefault();
      alert("itemWholesale");
    },
    transWholesale(e) {
      e.preventDefault();
      alert("transWholesale");
    },
    showTotalQuantity(e) {
      e.preventDefault();
      alert("showTotalQuantity");
    },
    priceOverride(e) {
      e.preventDefault();
      this.showAuth("changePriceModal");
    },
    changePaper(e) {
      e.preventDefault();
      alert("changePaper");
    },
    itemSpecialPrice(e) {
      e.preventDefault();
      alert("itemSpecialPrice");
    },
    transSpecialPrice(e) {
      e.preventDefault();
      alert("transSpecialPrice");
    },
    TransOtherPrice(e) {
      e.preventDefault();
      alert("TransOtherPrice");
    },
    //Controls and alt
    resendTrans(e) {
      e.preventDefault();
      alert("resendTrans");
    },
    timeEntry(e) {
      e.preventDefault();
      alert("timeEntry");
    },
    showInventory(e) {
      e.preventDefault();
      alert("showInventory");
    },
    showSalesHistory(e) {
      e.preventDefault();
      alert("showSalesHistory");
    },
    recon(e) {
      e.preventDefault();
      alert("recon");
    },
    itemRemark(e) {
      e.preventDefault();
      alert("itemRemark");
    },
    //Shift
    withdraw(e) {
      e.preventDefault();
      alert("withdraw");
    },
    salesmanTrans(e) {
      e.preventDefault();
      this.salesmanModal = !this.salesmanModal;
    },
    salesmanItem(e) {
      e.preventDefault();
      alert("salesmanItem");
    },
    suspendTrans(e) {
      e.preventDefault();

      if (this.products.length > 0) {
        this.$swal
          .fire({
            title: "Saved Reservation?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes",
          })
          .then((result) => {
            if (result.value) {
              this.$swal.fire("Saved!", "success");
              this.status = "S";
              this.saveReservation();
            }
          });
      } else {
        Notification.reservedError();
      }
    },
    resumeTrans(e) {
      e.preventDefault();
      alert("resumeTrans");
    },
    custInfo(e) {
      e.preventDefault();
      alert("custInfo");
    },
    resOption() {
      this.disableScanFocus();
      this.reservedOptionModal = !this.reservedOptionModal;
    },

    totalItem() {
      let total = 0;
      this.products.forEach(function (product) {
        total += parseFloat(product.total);
      });
      this.total = total;
      this.changePriceModal = false;
      this.disable_scan = false;
      this.tabindex = 0;
    },
    totalDiscount() {
      let discount = 0;
      this.products.forEach(function (product) {
        discount += parseFloat(product.discount);
      });
      this.total_discount = discount;
    },
    subTotal() {
      let subtotal = 0;
      this.products.forEach(function (product) {
        subtotal += parseFloat(product.qty) * parseFloat(product.price);
      });
      this.subtotal = subtotal;
    },
    totalQty() {
      let qty = 0;
      this.products.forEach(function (product) {
        qty += parseFloat(product.qty);
      });
      return qty;
    },
    newResTrans() {
      console.log("dsad");
    },
    formatNumberDiscount(number) {
      return number == ""
        ? "0"
        : parseFloat(number)
            .toFixed(2)
            .replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
    },
    formatNumber(number) {
      return number == ""
        ? ""
        : parseFloat(number)
            .toFixed(2)
            .replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
    },
    test() {
      console.log("test");
    },
    AddToCart(MATNR) {
      // alert(MATNR_ID)
      // alert(this.searchTerm);

      let searchCode,
        qty = "";
      let arraycode = this.searchTerm.split("*");
      if (arraycode.length == 1) {
        searchCode = this.searchTerm;
        qty = 1;
      } else {
        searchCode = arraycode[1];
        qty = arraycode[0];
      }
      // this.cart.pro_quantity = qty;
      // console.log(arraycode.length);
      axios
        .get("/api/addToCart/" + MATNR + "/" + qty)
        .then(() => {
          Reload.$emit("AfterAdd");
          Notification.cart_success();
        })
        .catch((error) => (this.errors = Notification.priceNotFound()));
    },
    AddToCartResume(resumeID) {
      // alert(MATNR_ID)
      // let arraycode = this.searchCode.split("*");

      axios
        .get("/api/addToCartResume/" + resumeID)
        .then(() => {
          Reload.$emit("AfterAdd");
          Notification.cart_success();
        })
        .catch((error) => (this.errors = Notification.priceNotFound()));
    },

    cartProduct() {
      axios
        .get("/api/cart/product/")
        .then(({ data }) => (this.carts = data))
        .catch();
    },
    removeItem(id) {
      axios
        .get("/api/remove/cart/" + id)
        .then(() => {
          Reload.$emit("AfterAdd");
          Notification.cart_delete();
        })
        .catch();
    },
    increment(id) {
      axios
        .get("/api/increment/" + id)
        .then(() => {
          Reload.$emit("AfterAdd");
          Notification.success();
        })
        .catch();
    },
    decrement(id) {
      axios
        .get("/api/decrement/" + id)
        .then(() => {
          Reload.$emit("AfterAdd");
          Notification.success();
        })
        .catch();
    },

    incrementAdd(id, qty) {
      axios
        .get("/api/incrementAdd/" + id + "/" + qty)
        .then(() => {
          Reload.$emit("AfterAdd");
          Notification.success();
        })
        .catch();
    },
    cartPriceAdd(id, price) {
      axios
        .get("/api/cart-price-add/" + id + "/" + price)
        .then(() => {
          Reload.$emit("AfterAdd");
          Notification.success();
        })
        .catch();
    },

    discountCart(id, disc) {
      axios
        .get("/api/discountCart/" + id + "/" + disc)
        .then(() => {
          Reload.$emit("AfterAdd");
          Notification.success();
        })
        .catch();
    },
    vat() {
      axios
        .get("/api/vats/")
        .then(({ data }) => (this.vats = data))
        .catch();
    },
    //Methods
    orderdone() {
      if (this.discTotal >= 1) {
        let discount = this.discTotal;
        let discount1 = discount / 100;
        let total1 = (this.subtotal * this.vats.vat) / 100 + this.subtotal;
        let total = total1 - total1 * discount1;
        // console.log(total);
        var data = {
          qty1: this.qty1,
          subtotal: this.subtotal,
          customer_id: this.customer_id,
          payby: this.payby,
          pay: this.pay,
          discTotal: this.discTotal,
          vat: this.vats.vat,
          total: total,
        };

        axios
          .post("/api/orderdone", data)
          .then(() => {
            //  this.$router.go({name: 'pos'})

            // this.$router.go({name: 'pos'})
            Notification.success();
            this.printReceiptModal = true;
            // window.location.reload()
          })
          .catch((error) => (this.errors = Notification.paymentMethod()));
      } else if (this.discTotal == "") {
        let total = (this.subtotal * this.vats.vat) / 100 + this.subtotal;
        // console.log(total);
        var data = {
          qty1: this.qty1,
          subtotal: this.subtotal,
          customer_id: this.customer_id,
          payby: this.payby,
          pay: this.pay,
          discTotal: this.discTotal,
          vat: this.vats.vat,
          total: total,
        };

        axios
          .post("/api/orderdone", data)
          .then(() => {
            //  this.$router.go({name: 'pos'})

            // this.$router.go({name: 'pos'})
            Notification.success();
            this.printReceiptModal = true;
            // window.location.reload()
          })
          .catch((error) => (this.errors = Notification.paymentMethod()));

        // axios.get("/print-pos-transac/", data)
        //     .then(() => {

        //         })
      }
    },
    resTrans() {
      window.location.reload();
      // this.$router.push({ name: "reservation"});
    },
    async orderhold() {
      // console.log('success');

      // async
      //   axios.post("/api/orderhold", data).then(response => {
      //             // console.log(response);
      //             // this.allProductHoldRef(response.data.id);

      //             response.data.forEach((value, index) => {
      //                 this.getproductRefs.push({
      //                     id: value
      //                 });
      //             });
      if (this.discTotal >= 1) {
        let discount = this.discTotal;
        let discount1 = discount / 100;
        let total1 = (this.subtotal * this.vats.vat) / 100 + this.subtotal;
        let total = total1 - total1 * discount1;
        // console.log(total);
        var data = {
          qty1: this.qty1,
          subtotal: this.subtotal,
          customer_id: this.customer_id,
          payby: this.payby,
          pay: this.pay,
          discTotal: this.discTotal,
          vat: this.vats.vat,
          total: total,
        };

        axios.post("/api/orderhold", data).then((response) => {
          // console.log(response);
          // this.allProductHoldRef(response.data.id);

          response.data.forEach((value, index) => {
            this.getproductRefs.push({
              id: value,
            });
          });
          // this.getproductRefs.push({
          //     id: response.data.id
          // });

          // window.location.reload();
        });
        Notification.success();
      } else if (this.discTotal == "") {
        let total = (this.subtotal * this.vats.vat) / 100 + this.subtotal;
        var data = {
          qty1: this.qty1,
          subtotal: this.subtotal,
          customer_id: this.customer_id,
          payby: this.payby,
          pay: this.pay,
          discount1: this.discount1,
          vat: this.vats.vat,
          total: total,
        };

        axios.post("/api/orderhold", data).then((response) => {
          // console.log(response);
          // this.allProductHoldRef(response.data.id);
          // this.getproductRefs.push({
          //     id: response.data.id
          // });
          response.data.forEach((value, index) => {
            this.getproductRefs.push({
              id: value,
            });
          });
          // window.location.reload();
        });
        Notification.success();
      }
    },

    // End Cart Methods
    allProduct() {
      axios
        .get("/api/product/")
        .then(({ data }) => (this.products = data))
        .catch();
    },

    allProductHold() {
      axios
        .get("/api/hold-product/")
        .then(({ data }) => (this.getproducts = data))
        .catch();
    },

    allProductHoldRef(id) {
      // var data = {qty1:this.qty1, subtotal:this.subtotal, customer_id:this.customer_id, payby:this.payby, pay:this.pay,discTotal:this.discTotal, vat:this.vats.vat, total:total }

      // axios.post('/api/orderhold',data)
      //     .then(() => {
      //     //   console.log(response);
      //         // window.location.reload();
      //     })
      //       Notification.success()

      axios
        .get("/api/ref-hold-product/" + id)
        .then(({ data }) => (this.getproductRefs = data))
        .catch();
    },

    // allProductHoldRef(id){
    //     console.log(id);
    //     axios.get('/api/ref-hold-product/' + id)
    //         .then(({data}) => (this.getproductsRefs = data))
    //         .catch()
    // },
    // allStockPrice(){
    //     axios.get('/api/pos-stock/')
    //         .then(({data}) => (this.products = data))
    //         .catch()
    // },
    //  allCategory(){
    //   axios.get('/api/category/')
    //   .then(({data}) => (this.categories = data))
    //   .catch()
    // },

    allCustomer() {
      axios
        .get("/api/pos-customer/")
        .then(({ data }) => (this.customers = data))
        .catch(console.log("error"));
    },
    // subproduct(id){
    //     axios.get('/api/getting/product/'+id)
    //         .then(({data}) => (this.getproducts = data))
    //         .catch()
    // },
  },
};
</script>

<style type="text/css" scoped>
#em_photo {
  height: 100px;
  width: 135px;
}
</style>
