<template>

    <div>
        <div class="row">
            <router-link :to="{name: 'xml-index' }" class="btn btn-primary" style="margin: 0px 15px;">Go back
            </router-link>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card shadow-sm my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                    <!--                                    <div class="text-center">-->
                                    <!--                                        <h1 class="h4 text-gray-900 mb-4"> XML Data Update</h1>-->
                                    <!--                                    </div>-->
                                    <div class="card">
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h5 class="m-0 font-weight-bold text-primary">XML Data Update</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row form-group">
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-5">

                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                            </div>
                                            <form class="user" @submit.prevent="updateXml"
                                                  enctype="multipart/form-data">

                                                <div class="form-group">

                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                            <span class="input-group-text input-group-field"
                                                                  id="basic-addon6">Plant / Branch :</span>
                                                                </div>
                                                                <input type="text" class="form-control"
                                                                       placeholder="" v-model="xml_export.WERKS">
                                                            </div>
                                                        </div>


                                                        <div class="col-md-3">

                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                            <span class="input-group-text input-group-field"
                                                                  id="basic-addon2">Costing Center :</span>
                                                                </div>
                                                                <input type="text" class="form-control"
                                                                       placeholder="" v-model="xml_export.cost_center">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                            <span class="input-group-text input-group-field"
                                                                  id="basic-addon5">GL Account :</span>
                                                                </div>
                                                                <input type="text" class="form-control"
                                                                       placeholder="" v-model="xml_export.gl_account">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            <br>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary"
                                                            style="width: 150px;">Update
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>


<script type="text/javascript">

export default {
    // created(){
    //     if (!User.loggedIn()) {
    //         this.$router.push({name: '/'})
    //     }
    // },

    data() {
        return {
            xml_export: {
                WERKS: '',
                PLANT: '',
                cost_center: '',
                gl_account: '',
            },
            errors: {}
        }
    },
    created() {
        let id = this.$route.params.id
        axios.get('/api/xml-cost-gl/' + id)
            .then(({data}) => (this.xml_export = data))
            .catch(console.log('error'))
    },

    methods: {

        updateXml() {
            let id = this.$route.params.id
            axios.patch('/api/xml-cost-gl/' + id, this.xml_export)
                .then(() => {
                    this.$router.push({name: 'xml-index'})
                    Notification.success()
                })
                .catch(error => this.errors = error.response.data.errors)
        },
    }


}

</script>


<style type="text/css">

</style>
