<template>

    <div>

<!--        <br>-->
<!--        <input type="text" v-model="searchTerm" class="form-control" style="width: 300px;" placeholder="Search Here">-->


<!--        <br>-->

        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">XML DATA</h4>
                    </div>
                    <div class="card-body">

                        <div class="row form-group">
                            <div class="col-md-4">
                                <router-link :to="{name: 'xml-create' }" class="btn btn-primary">Add XML Data</router-link>
                            </div>
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-3">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field" id="basic-addon1">Search</span>
                                    </div>

                                    <input type="text" v-model="searchTerm" class="form-control"
                                           style="width: 250px;" placeholder="Search Here">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th style="background-color: #007bff; color:white;">WERKS</th>
                                    <!--                                <th>Plant</th>-->
                                    <th style="background-color: #007bff; color:white;">Costing Center</th>
                                    <th style="background-color: #007bff; color:white;">Gl Account</th>
                                    <th style="background-color: #007bff; color:white;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="xml_export in filtersearch" :key="xml_export.id">
                                    <td> {{ xml_export.WERKS }}</td>
                                    <!--                                <td> {{ xml_export.PLANT }} </td>-->
                                    <td>{{ xml_export.cost_center }}</td>
                                    <td>{{ xml_export.gl_account }}</td>

                                    <td>
                                        <router-link :to="{name: 'xml-edit', params:{id:xml_export.id}}"
                                                     class="btn btn-sm btn-primary">Edit
                                        </router-link>

                                        <a @click="deleteEmployee(xml_export.id)" class="btn btn-sm btn-danger"><font
                                            color="#ffffff">Delete</font></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        <!--Row-->


    </div>


</template>


<script type="text/javascript">

export default {

    data() {
        return {
            xml_exports: [],
            searchTerm: ''
        }
    },
    computed: {
        filtersearch() {
            return this.xml_exports.filter(xml_export => {
                return xml_export.WERKS.match(this.searchTerm)
            })
        }
    },
    created() {
        this.allXmlData();
    },
    methods: {
        allXmlData() {
            axios.get('/api/xml-cost-gl/')
                .then(({data}) => (this.xml_exports = data))
                .catch()
        },
        deleteEmployee(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    axios.delete('/api/xml-cost-gl/' + id)
                        .then(() => {
                            this.xml_exports = this.xml_exports.filter(xml_export => {
                                return xml_export.id != id
                                //     this.markets.data = this.markets.data.filter(market => {
                                //
                                //
                                //         //  console.log(market.id);
                                //         return market.id != id
                            })
                        })
                        .catch(() => {
                            // this.$router.push({name: 'employee'})
                        })
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })

        }

    },


}
</script>


<style type="text/css">
#em_photo {
    height: 40px;
    width: 40px;
}
</style>
