<template>
    <div class="form-group">
        <label>Name</label>
        <ValidationProvider name="name" rules="required" v-slot="{ errors }">
                <input type="text" class="form-control" name="name" placeholder="Payment option name"
                       v-model="payment.name" :class="{'is-invalid':errors[0]}" autocomplete="off">
            <span class="text-danger">{{ errors[0] }}</span>
        </ValidationProvider>
    </div>
</template>

<script>
export default {
    name: "paymentForm",
    props: {
        payment: {}
    },
}
</script>

<style scoped>

</style>
