<template>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="alert alert-danger" role="alert" v-if="errors">
                <p v-for="err in errors">
                    {{err[0] || err}}
                </p>
            </div>
            <ValidationObserver ref="form" v-slot="{ handleSubmit }">
                <form v-on:submit.prevent="handleSubmit(addPayment)">
                    <PaymentForm :payment="payment"></PaymentForm>
                    <ButtonsElement :submit=true :back=true></ButtonsElement>
                </form>
            </ValidationObserver>
        </div>
    </div>
</template>

<script>
import PaymentForm from './_Form';
import ButtonsElement from "../elements/Buttons";
export default {
    components: {
        ButtonsElement,
        PaymentForm,
    },
    name: "Create",
    data(){
        return {
            payment:{
                'name':'',
            },
            errors:null
        }
    },
    methods:{
        addPayment(){
            axios.post('/api/payments', this.payment)
                .then((response) => {
                    this.$swal({
                        icon: 'success',
                        title: 'New Payment option created',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.$router.push({name:'payment-table'});
                }).catch((error) => {
                this.payment.name  = '';
                if (error.response.status === 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
