<template>
    <div class="card shadow mb-4" v-if="payment">
        <div class="card-body">
            <div class="alert alert-danger" role="alert" v-if="errors">
                <p v-for="err in errors">
                    {{err[0]|| err}}
                </p>
            </div>
            <ValidationObserver ref="form" v-slot="{ handleSubmit }">
                <form v-on:submit.prevent="handleSubmit(updatePaymentOption)">
                    <PaymentForm :payment="payment"></PaymentForm>
                    <ButtonsElement :submit="true" :back="false"></ButtonsElement>
                </form>


            </ValidationObserver>
        </div>
    </div>
</template>

<script>
import PaymentForm from "./_Form";
import ButtonsElement from "../elements/Buttons";
    export default {
        name: "Edit",
        components: {ButtonsElement, PaymentForm},
        data(){
            return{
                payment:null,
                errors:null
            }
        },
        created() {
            this.getPaymentOption();
        },
        methods:{
            getPaymentOption(){
                axios.get(`/api/payments/${this.$route.params.id}/edit`)
                .then((res)=>{
                    console.log(res);
                    this.payment = res.data.data;
                })
            },
            updatePaymentOption(){
                axios.patch(`/api/payments/${this.$route.params.id}`,this.payment)
                    .then((res)=>{
                        this.$swal({
                            icon:   'success',
                            showConfirmButton:false,
                            title: 'Payment Option updated',
                            timer: 1500
                        });
                        this.$router.push({name:'payment-table'});
                    }).catch((err)=>{
                        console.log(err)
                })
            }
        }
    }
</script>

<style scoped>

</style>
