<template>

    <div>
        <!--        <br>-->
        <!--        <div class="row">-->
        <!--            <input type="text" v-model="searchTerm"-->
        <!--                   class="form-control" style="width: 300px; margin:6px 15px;"-->
        <!--                   placeholder="Search Here"-->
        <!--                   @click="isSearch = true" @keyup="searchMaterial()">-->

        <!--        </div>-->

        <!--        <br>-->
        <div class="row">

            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">Master Data Warehouse</h4>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field" id="basic-addon1">Search</span>
                                    </div>

                                    <input type="text" v-model="searchTerm"
                                           class="form-control" style="width: 250px;"
                                           placeholder="Search Here"
                                           @click="isSearch = true" @keyup="searchMaterial()">
                                </div>
                            </div>
                            <div class="col-md-7">

                            </div>

                            <div class="col-md-1">

                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th style="background-color: #007bff; color:white;">Invoice Number</th>
                                    <th style="background-color: #007bff; color:white;">Total Target</th>
                                    <th style="background-color: #007bff; color:white;">Material Number</th>
                                    <th style="background-color: #007bff; color:white;">Material Description</th>
                                    <th style="background-color: #007bff; color:white;">Quantity</th>
                                    <th style="background-color: #007bff; color:white;">Cashier Name</th>
                                    <th style="background-color: #007bff; color:white;">Plant</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="market in markets.data" :key="market.id">
                                    <td> {{ market.invoice_number }}</td>
                                    <td> {{ market.total_amount }}</td>
                                    <td> {{ market.invoice_MATNR }}</td>
                                    <td> {{ market.invoice_market_MAKTX }}</td>
                                    <td> {{ market.qty }}</td>
                                    <td> {{ market.cashier_name }}</td>
                                    <td>{{ market.invoice_plant }}</td>
                                    <td>
                                        <!-- <router-link :to="`/marketing/${market.id}/edit`" class="btn btn-sm btn-primary">Edit</router-link> -->

                                        <!-- <a @click="deleteMarketing(market.id)" class="btn btn-sm btn-danger"><font color="#ffffff">Delete</font></a> -->
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <pagination :data="markets" @pagination-change-page="getResults" :limit="5">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>

        </div>

    </div>


</template>


<script type="text/javascript">
import moment from 'moment';
export default {

    created() {
        document.querySelector('body')
            .style =
            '    background-image: none !important;\n'
        ;
        // this.allMarketing();
        this.allMarketingWithPhoto();
        // this.getResultsInv();
        Reload.$on('AfterCreated', () => {
            this.getResults();
        });
        this.getResults();
        const today = new Date();
        let hourtime = today.getHours();
        // let hourmin = today.getMinutes();
        let formathour = moment(hourtime, 'HH').format('HH');
        // let formatmin = moment(hourmin, 'mm').format('mm');
        console.log(formathour);
        if(hourtime <= "8" && hourtime >= "20"){
            console.log('time test');
            setInterval(() => this.getResults(), 3000);
            let refreshId = setTimeout(() => {
                this.alertNotif('Automatically Logging out','Due for none activity', 'warning', '3000');
                let uri = '/api/logout';
                axios.post(uri)
                    .then((response) => {
                        this.$store.commit('logout');
                        this.$router.push('/login/');
                        clearInterval(refreshId);
                    })

            }, 5000);
        }


        this.getRedeemItem();

    },


    data() {
        return {
            form: {
                invoice_number: null,
                redem_item: '',
                qty: 0,
                total_amount: 0,
                redem_MAKTX: '',
                redem_MATNR: '',
            },
            isSearch: false,
            // photomarkets:[],
            plantBranches: {},
            invMaterialMasters: {},
            markets: {},
            marketInvs: {},
            searchTermInv: '',
            slide: 0,
            sliding: null,

            // markets: [],
            photomarkets: [],
            searchTerm: '',
            errors: {},

        }
    },
    computed: {
        currentUser() {
            return this.$store.getters.currentUser
        },
    },
    methods: {

        searchMaterialInv() {
            let query = this.searchTermInv;
            axios.get('api/master-data-invoice-search?search=' + query)
                .then((data) => (this.marketInvs = data.data))
                .catch(error => this.errors = error.response.data.errors)
        },
        getResults(page = 1) {
            axios.get('api/master-data-invoice?page=' + page)
                .then(response => {
                    this.markets = response.data;
                });
        },
        searchMaterial() {
            let query = this.searchTerm;
            axios.get('api/master-data-invoice-search?search=' + query)
                .then((data) => (this.markets = data.data))
                .catch(error => this.errors = error.response.data.errors)
        },
        // allMarketing() {
        //     axios.get('/api/invoicePage/')
        //         .then(({data}) => (this.markets = data))
        //         .catch(error => this.errors = error.response.data.errors)
        // },
        alertNotif(title, text, icon, timer) {
            this.$swal({
                title: title,
                text: text,
                icon: icon,
                timer: timer,
            })
        },
        marketingInsert() {
            // console.log(this.form.redem_MAKTX);
            axios.post('/api/invoice', this.form)
                .then((response) => {
                    if (response.data.message) {
                        this.$swal({
                            icon: 'warning',
                            title: response.data.title,
                            text: response.data.message,
                            // showConfirmButton: false,
                            // timer: 1500,
                            // title: response.data.status,
                            // text: response.data.message,
                            // icon: 'question',
                            // confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok'
                        });
                    } else {

                        Reload.$emit('AfterCreated');
                        $('#addNew').modal('hide');
                        this.form.invoice_number = '';
                        this.form.redem_item = '';
                        this.form.qty = '';
                        this.form.total_amount = '';
                        this.form.redem_MAKTX = '';
                        this.form.redem_MATNR = '',
                            Notification.success();
                    }


                })
                // .catch((error) => {
                //     this.alertNotif(error,errors.message, 'warning', '');
                // })
                .catch(error => this.errors = error.response.data.errors)
        },
        getRedeemItem() {
            axios.get('/api/material-master-total?total_amount=' + this.form.total_amount)
                .then(({data}) => (this.invMaterialMasters = data))
        },
        newModal() {

            this.form.invoice_number = '';
            this.form.redem_item = '';
            this.form.qty = '';
            this.form.total_amount = '';
            this.form.redem_MAKTX = '';
            this.form.redem_MATNR = '',
                // this.markets.data.splice();
                $('#addNew').modal('show');
        },
        newModalInventory() {

            $('#addNew1').modal('show');
        },
        onSlideStart(slide) {
            this.sliding = true
        },
        onSlideEnd(slide) {
            this.sliding = false
        },

        allMarketingWithPhoto() {
            return new Promise((res, rej) => {

                axios.get('/api/marketing-photo')
                    .then((response) => {
                        // console.log(response);
                        this.photomarkets = response.data
                    })
                    .catch((err) => {

                    })
            })
        },


    }


}

</script>


<style type="text/css" scoped>
#em_photo {
    height: 40px;
    width: 40px;
}

#MyCustomClass {

    max-width: 100%;

    object-fit: contain !important;


}

.MyCustomClass {
    max-width: 100%;
    height: 32vmax;
    object-fit: contain !important;


}

</style>
