<template>

    <div>

        <div class="row">


        </div>
        <router-link :to="{name: 'marketing-inventory-index' }" class="btn btn-primary">List of Promo's</router-link>
<!--        <button class="btn btn-success green" @click="newModal">Add User  <i class="fas fa-user-plus fa-fw"></i></button>-->

        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card shadow-sm my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Add Advertisement / Promo</h1>
                                    </div>

                                    <form class="user" @submit.prevent="marketingInsertInv"
                                          enctype="multipart/form-data">

                                        <!-- <div class="form-group">

                                          <div class="form-row">
                                            <div class="col-md-6">
                                         <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Full Name" v-model="form.name">
                                       <small class="text-danger" v-if="errors.name"> {{ errors.name[0] }} </small>
                                            </div>


                                     <div class="col-md-6">
                                         <input type="users_email" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Email" v-model="form.users_email">
                                         <small class="text-danger" v-if="errors.users_email"> {{ errors.users_email[0] }} </small>
                                            </div>

                                          </div>
                                        </div> -->


                                        <!-- <div class="form-group">

                                         <div class="form-row">
                                           <div class="col-md-6">
                                        <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Complete Current Address" v-model="form.address">
                                        <small class="text-danger" v-if="errors.address"> {{ errors.address[0] }} </small>
                                           </div>


                                    <div class="col-md-6">

                                       <select v-model="form.type" id="exampleInputFirstName" name="type" class="form-control">
                                           <option>--Select User Role--</option>
                                           <option value="admin">Admin</option>
                                           <option value="headCasiher">Head Cashier</option>
                                           <option value="inventoryAnalyst">Inventory Analyst</option>
                                           <option value="posAdmin">POS Admin</option>
                                            <option value="posCashier">POS Cashier</option>
                                            <option value="posSupervisor">POS Supervisor</option>
                                            <option value="posManager">POS Manager</option>

                                       </select>
                                        <small class="text-danger" v-if="errors.type"> {{ errors.type[0] }} </small>
                                           </div>

                                         </div>
                                       </div> -->


                                        <!-- <div class="form-group">

                                          <div class="form-row">
                                            <div class="col-md-6">
                                         <input type="date" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Joining Date" v-model="form.joining_date">
                                  <small class="text-danger" v-if="errors.joining_date"> {{ errors.joining_date[0] }} </small>
                                            </div>





                                          </div>
                                        </div> -->


                                        <div class="form-group">

                                            <div class="form-row">
<!--                                      <div class="col-md-6">-->
<!--                                            <label for="exampleInputFirstName">Plant Branches</label>-->
<!--                                                         <autocomplete-->
<!--                                                            :search="material"-->
<!--                                                             placeholder="Search for a Material Number"-->
<!--                                                            aria-label="Search for a Material Number"-->
<!--                                                           class="autocomplete_field"-->
<!--                                                            :get-result-value="getResultValue"-->
<!--                                                           @submit="selected"-->

<!--                                                            ></autocomplete>-->

<!--                                             <small class="text-danger" v-if="errors.material_MATNR"> {{ errors.material_MATNR[0] }} </small>-->
<!--                                                </div>-->
                                                <!-- <div class="col-md-6">
                                                  <label for="exampleInputFirstName">Plant Branches List</label>
                                              <select class="form-control" id="exampleInputFirstName" v-model="form.plantbranch_id">
                                                 <option :value="plantBranch.WERKS" v-for="plantBranch in plantBranches">{{ plantBranch.WERKS+ '  =  ' +plantBranch.NAME1 }}</option>

                                                                  </select>
                                                    <small class="text-danger" v-if="errors.plantbranch_id"> {{ errors.plantbranch_id[0] }} </small>
                                                        </div> -->

                                                <!-- <div class="col-md-6">
                                                <label for="exampleInputFirstName">Plant Branches List</label>
                                            <select class="form-control" id="exampleInputFirstName" v-model="form.marketing_plant" @change="form.marketing_material = '';
                                            form.marketing_MAKTX = null; form.marketing_inventory =null; form.cost = null; getPlantBranch;">
                                               <option :value="plantBranch.WERKS" v-for="plantBranch in plantBranches">{{ plantBranch.WERKS+ '  =  ' +plantBranch.NAME1 }}</option>

                                                                </select>
                                                  <small class="text-danger" v-if="errors.marketing_plant"> {{ errors.marketing_plant[0] }} </small>
                                                      </div> -->

                                                <div class="col-md-6">
                                                    <label for="exampleInputFirstName">Plant Branches List</label>

                                                    <v-select multiple id="exampleInputFirstName"
                                                              v-model="form.marketing_plant" :options="plantBranches"
                                                              :reduce="plantBranches => plantBranches.WERKS"
                                                              label="NAME1" placeholder="Select Material Number">

                                                        <template slot="option" slot-scope="option">

                                                            {{ option.WERKS }} =
                                                            {{ option.NAME1 }}
                                                        </template>


                                                    </v-select>


                                                </div>

<!--                                                <div class="col-md-6">-->
<!--                                                    <label for="exampleInputFirstName">Material Number</label>-->

<!--                                                    <v-select multiple id="exampleInputFirstName"-->
<!--                                                              v-model="form.marketing_plant" :options="materialMaster"-->
<!--                                                              :reduce="materialMaster => materialMaster.MATNR"-->
<!--                                                              label="MATNR" placeholder="Select Material Number">-->

<!--                                                        <template slot="option" slot-scope="option">-->

<!--                                                            {{ option.MATNR }} =-->
<!--                                                            {{ option.MAKTX }}-->
<!--                                                        </template>-->


<!--                                                    </v-select>-->


<!--                                                </div>-->


                                                <div class="col-md-6">
                                                    <label for="exampleInputFirstName">Material Number</label>
                                                    <autocomplete
                                                        :search="material"
                                                        placeholder="Search for a Material Number"
                                                        aria-label="Search for a Material Number"
                                                        class="autocomplete_field"
                                                        :get-result-value="getResultValue"
                                                        @submit="selected"


                                                    ></autocomplete>

                                                    <small class="text-danger" v-if="errors.marketing_material">
                                                        {{ errors.marketing_material[0] }} </small>
                                                </div>

                                                <!-- https://github.com/sagalbot/vue-select/issues/1144 -->
<!--                                                 <div class="col-md-6">-->
<!--                                                <label for="exampleInputFirstName">Material Number</label>-->

<!--                                            <v-select multiple id="exampleInputFirstName" v-model="form.marketing_plant" :options="plantBranches" :reduce="plantBranches => plantBranches.WERKS" label="NAME1" placeholder="Select Plant" >-->

<!--                                                                <template slot="option" slot-scope="option">-->

<!--                                                                      {{ option.WERKS }} =-->
<!--                                                                      {{ option.NAME1 }}-->
<!--                                                                </template>-->


<!--                                                                </v-select>-->

<!--                                                      </div>-->
                                                <!-- <div class="col-md-6">
                                                  <label for="exampleInputFirstName">Plant Branches List</label>

                                              <v-select multiple id="exampleInputFirstName" v-model="form.marketing_plant" :options="plantBranches" :reduce="plantBranches => plantBranches.WERKS" label="NAME1" placeholder="Select Material Number" >

                                                                  <template slot="option" slot-scope="option">

                                                                        {{ option.WERKS }} =
                                                                        {{ option.NAME1 }}
                                                                  </template>


                                                                  </v-select>


                                                        </div> -->
                                                <!-- https://github.com/sagalbot/vue-select/issues/145 -->


                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <label for="exampleInputFirstName">Material Description</label>
                                                    <input type="text" class="form-control" id="exampleInputFirstName"
                                                           placeholder="" v-model="form.marketing_description" readonly>
                                                    <small class="text-danger" v-if="errors.marketing_description">
                                                        {{ errors.marketing_description[0] }} </small>
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="exampleInputFirstName">Material Inventory</label>
                                                    <input type="number" class="form-control" id="exampleInputFirstName"
                                                           placeholder="" v-model="form.marketing_inventory" readonly>
                                                    <small class="text-danger" v-if="errors.marketing_inventory">
                                                        {{ errors.marketing_inventory[0] }} </small>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="exampleInputFirstName">Costing</label>
                                                    <input type="number" class="form-control" id="exampleInputFirstName"
                                                           placeholder="" v-model="form.cost" readonly>
                                                    <small class="text-danger" v-if="errors.cost"> {{
                                                            errors.cost[0]
                                                        }} </small>
                                                </div>


                                                <div class="col-md-6">
                                                    <label for="exampleInputFirstName">Total Amount</label>
                                                    <input type="number" class="form-control" id="exampleInputFirstName"
                                                           placeholder="" v-model="form.marketing_total_amount">
                                                    <small class="text-danger" v-if="errors.marketing_total_amount">
                                                        {{ errors.marketing_total_amount[0] }} </small>
                                                </div>

                                                <!-- <div class="col-md-6">
                                               <label for="exampleInputFirstName">Plant Branches List</label>
                                           <select class="form-control" id="exampleInputFirstName" v-model="form.plantbranch_id">
                                              <option :value="plantBranch.WERKS" v-for="plantBranch in plantBranches">{{ plantBranch.WERKS+ '  =  ' +plantBranch.NAME1 }}</option>

                                                               </select>
                                                 <small class="text-danger" v-if="errors.plantbranch_id"> {{ errors.plantbranch_id[0] }} </small>
                                                     </div> -->

                                            </div>
                                        </div>


                                        <div class="form-group">


                                        </div>


                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block" id="submit_button">
                                                Submit
                                            </button>
                                        </div>

                                    </form>
                                    <hr>
                                    <div class="text-center">


                                    </div>
                                    <div class="text-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>


<script type="text/javascript">
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'
// import Fuse from "fuse.js"

export default {
    // created(){
    //   // if (!User.loggedIn()) {
    //   //   this.$router.push({name: '/'})
    //   // }
    //   this.plantBranchAll();
    // },

    data() {
        return {
            form: {
                marketing_material: null,
                marketing_description: null,
                marketing_inventory: null,
                marketing_total_amount: null,
                marketing_plant: null,
                cost: '',
            },
            errors: {},
            plantBranchesInv: {},
            materialMaster: [],
            plantBranches: [],
        }
    },

    methods: {
        material(input) {
            // console.log(this.form.marketing_plant);

            let url = `/api/material-master-kuha?code=${encodeURI(input)}&showAll=1&plantbranch_id=` + this.form.marketing_plant;

            return new Promise((resolve) => {
                if (input.length < 1) {
                    return resolve([])
                }

                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {
                        resolve(data);
                    });
            })

            // let url = `/api/material-master-kuha?code=${encodeURI(input)}&showAll=1&material_matnr=` + this.form.marketing_plant;
            //
            // return new Promise((resolve) => {
            //     if (input.length < 1) {
            //         return resolve([])
            //     }
            //
            //     fetch(url)
            //         .then((response) => response.json())
            //         .then((data) => {
            //             resolve(data);
            //         });
            // })
        },
        getResultValue(result) {
            //  let $res = 'Claim #'+'-> '+result.id+' -> '+result.pro_name+' -> '+result.pro_quantity+' '+'qty';
            // let $res = result.MATNR;
            let $res = result.MATNR;
            //  let $res =  this.form.material_MATNR
            //  console.log($res);

            //
            // let $res = `<div class="wiki-title">`{{result.EAN11}}`</div><div class="wiki-snippet" v-html="'+result.MAKTX+'"/>`;

            // var txt = document.createElement("div");
            // txt.innerHTML = result;
            // return txt.value;

            return $res;
        },
        //       formattedResult(result){
        //  let $res = +result.MATNR+' '+result.MAKTX;
        //   return $res;
        //       },
        selected(result) {

            let selected = result;

            this.form.marketing_material = selected.MATNR;
            this.form.marketing_description = selected.MAKTX;
            this.form.marketing_inventory = selected.LABST;
            this.form.cost = selected.VERPR;

            // this.form.marketing_material = selected.MATNR;
            // this.form.marketing_description = selected.MAKTX;
            // this.form.marketing_inventory = selected.LABST;
            // this.form.cost = selected.VERPR;

            // console.log(result);
        },
        getPlantBranch() {

            let promise = axios.get('/api/material-plant?plantbranch_id=' + this.form.marketing_plant);
            return promise.then((data) => {
                // console.log(data);
                //this.plantBranchesInv = data.data;


            }).catch(error => {
                return []
            })
        },
        // newModal(){
        //     this.form.reset();
        //     $('#addNew').modal('show');
        //
        // },
        marketingInsertInv() {
            //  axios.post('/api/marketing',{form: this.form})
            //  axios.post('/api/marketing?content=' + this.form.content + '&plant=' + this.form.plantbranch_id)
            // console.log(this.form);

            axios.post('/api/material-master', this.form)
                .then((response) => {
                    console.log(response.data.message);
                    if (response.data.message) {
                        Notification.existing(response.data.message)
                    }

                        //  this.$swal({
                        //                   icon: response.data.status,
                        //                   title: response.data.message,
                        //                   showConfirmButton: false,
                        //                   timer: 1500
                        //               });
                        //  if(response.marketing_MATNR == false){
                        //    this.errors = response.errors;
                    //  }
                    else {
                        this.$router.push({name: 'marketing-inventory-index'})
                        Notification.success()
                    }

                })
                .catch(error => this.errors = error.response.data.errors)
            // .catch((error) => (this.errors = Notification.duplicated()));

        },


    },


    created() {
        this.getPlantBranch();

        axios.get('/api/plant-branches/')
            .then(({data}) => (this.plantBranches = data))

        // axios.get('/api/material/')
        //     .then(({data}) => (this.materialMaster = console.log(data)))

        // axios.get('/api/material/')
        //     .then(({data}) => (this.materialMaster = data))
    },

}

</script>


<style type="text/css" scoped>

.autocomplete_field {
    width: 80%;
    padding: 6px 12px;
}
#submit_button {
    width: 13%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
}

.wiki-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.wiki-snippet {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}


</style>
