

<template>

  <div>

 <div class="row">
  <router-link :to="{name: 'marketing-inventory-index' }" class="btn btn-primary" style="margin:6px 15px;">Marketing List </router-link>

 </div>



    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4"> Marketing Update</h1>
                  </div>

      <form class="user" @submit.prevent="marketingUpdate" enctype="multipart/form-data">

        <!-- <div class="form-group">

          <div class="form-row">
            <div class="col-md-6">
         <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Full Name" v-model="form.name">
       <small class="text-danger" v-if="errors.name"> {{ errors.name[0] }} </small>
            </div>


     <div class="col-md-6">
         <input type="users_email" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Email" v-model="form.users_email" disabled>
         <small class="text-danger" v-if="errors.users_email"> {{ errors.users_email[0] }} </small>
            </div>

          </div>
        </div>


         <div class="form-group">

          <div class="form-row">
            <div class="col-md-6">
         <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Address" v-model="form.address">
         <small class="text-danger" v-if="errors.address"> {{ errors.address[0] }} </small>
            </div>

          </div>
        </div>





        <div class="form-group">

          <div class="form-row">
            <div class="col-md-6">
         <input type="date" class="form-control" id="exampleInputFirstName" placeholder="Enter Your Joining Date" v-model="form.joining_date">
  <small class="text-danger" v-if="errors.joining_date"> {{ errors.joining_date[0] }} </small>
            </div>




          </div>
        </div> -->



        <div class="form-group">

          <div class="form-row">

            <!-- <div class="col-md-6">
        <label for="exampleInputFirstName">Material Number</label>
                     <autocomplete
                        :search="material"
                         placeholder="Search for a Material Number"
                        aria-label="Search for a Material Number"
                       class="autocomplete_field"
                        :get-result-value="getResultValue"
                       @submit="selected"
                        ></autocomplete>

            </div> -->

 <div class="col-md-6">
              <label for="exampleInputFirstName">Material Number</label>
       <input type="text" class="form-control" id="exampleInputFirstName" placeholder="" v-model="form.marketing_MATNR" readonly>
         <small class="text-danger" v-if="errors.marketing_MATNR"> {{ errors.marketing_MATNR[0] }} </small>
            </div>

          </div>
        </div>

        <div class="form-group">

          <div class="form-row">
              <div class="col-md-6">
              <label for="exampleInputFirstName">Material Description</label>
       <input type="text" class="form-control" id="exampleInputFirstName" placeholder="" v-model="form.marketing_MAKTX" readonly>
         <small class="text-danger" v-if="errors.marketing_MAKTX"> {{ errors.marketing_MAKTX[0] }} </small>
            </div>

            <div class="col-md-3">
              <label for="exampleInputFirstName">Material Inventory</label>
       <input type="number" class="form-control" id="exampleInputFirstName" placeholder="" v-model="form.marketing_inv" readonly>
         <small class="text-danger" v-if="errors.marketing_inv"> {{ errors.marketing_inv[0] }} </small>
            </div>
      <div class="col-md-3">
              <label for="exampleInputFirstName">Costing</label>
       <input type="number" class="form-control" id="exampleInputFirstName" placeholder="" v-model="form.cost" readonly>
         <small class="text-danger" v-if="errors.cost"> {{ errors.cost[0] }} </small>
            </div>


       <div class="col-md-6">
              <label for="exampleInputFirstName">Total Amount</label>
       <input type="number" class="form-control" id="exampleInputFirstName" placeholder="" v-model="form.marketing_total_amount">
         <small class="text-danger" v-if="errors.marketing_total_amount"> {{ errors.marketing_total_amount[0] }} </small>
            </div>


       <div class="col-md-2">
              <label for="exampleInputFirstName">Plant Branches List</label>
       <input type="text" class="form-control" id="exampleInputFirstName" placeholder="" v-model="form.marketing_plantbranch_WERKS" readonly>

            </div>

<!-- <div class="col-md-6">
              <label for="exampleInputFirstName">Plant Branches List</label>
       <input type="text" class="form-control"
       id="exampleInputFirstName" placeholder="" v-for="plantBranch in plantBranches" :key="plantBranch.WERKS" v-model="form.marketing_plantbranch_WERKS" readonly>
         <small class="text-danger" v-if="errors.marketing_plantbranch_WERKS"> {{ errors.marketing_plantbranch_WERKS[0] }} </small>
            </div> -->



       <!-- <div class="col-md-6">
      <label for="exampleInputFirstName">Plant Branches List</label>
  <select class="form-control" id="exampleInputFirstName" v-model="form.marketing_plantbranch_WERKS" readonly>
     <option :value="plantBranch.WERKS" v-for="plantBranch in plantBranches" readonly>{{ plantBranch.WERKS+ '  =  ' +plantBranch.NAME1 }}</option>

                      </select>
        <small class="text-danger" v-if="errors.marketing_plantbranch_WERKS"> {{ errors.marketing_plantbranch_WERKS[0] }} </small>
            </div> -->


          </div>
        </div>


<!-- :disabled="selected.includes(plantBranch.WERKS)" -->

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" id="submit_button">Update</button>
        </div>

      </form>
                  <hr>
                  <div class="text-center">


                  </div>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>



<script type="text/javascript">

  export default {
    // created(){
    //   if (!User.loggedIn()) {
    //     this.$router.push({name: '/'})
    //   }
    // },

    data(){
    return {
      form:{
       marketing_MAKTX: null,
        marketing_MATNR: null,
        marketing_inv: null,
        marketing_total_amount:null,
        cost:'',
        marketing_plantbranch_WERKS:null,
      },
      errors:{},
      plantBranches:{},
    }
  },
  created(){
      this.allMarket();
      // let id = this.$route.params.id
      // console.log(id);
  	axios.get(`/api/material-master/${this.$route.params.id}`)
      .then(({data}) => {
          this.form = data;
          // console.log(this.form);

      })
      .catch(console.log('error'))

  },
  methods:{
      material(input) {

            let url = `/api/material-master-kuha?code=${encodeURI(input)}&showAll=1`

            return new Promise((resolve) => {
                if (input.length < 1) {
                    return resolve([])
                }

                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {;
                        resolve(data);
                    })
            })
        },
        getResultValue(result) {
            //  let $res = 'Claim #'+'-> '+result.id+' -> '+result.pro_name+' -> '+result.pro_quantity+' '+'qty';
            let $res = result.MATNR;
           //
           // let $res = `<div class="wiki-title">`{{result.EAN11}}`</div><div class="wiki-snippet" v-html="'+result.MAKTX+'"/>`;

            // var txt = document.createElement("div");
            // txt.innerHTML = result;
            // return txt.value;

            return $res;
        },
        formattedResult(result){
   let $res = +result.MATNR+' '+result.MAKTX;
    return $res;
        },
    selected(result) {

            let selected = result;
            // console.log(result.MATNR);
            this.form.marketing_MAKTX = selected.MATNR;
            this.form.marketing_MATNR = selected.MAKTX;
        },
  marketingUpdate(){

  	//   let id = this.$route.params.id
    //    axios.patch('/api/marketing/'+id,this.form)
        // let id = this.$route.params.id
       axios.patch(`/api/material-master/${this.$route.params.id}`,this.form)
       .then(() => {
        this.$router.push({ name: 'marketing-inventory-index'})
        Notification.success()
       }).catch(error =>this.errors = error.response.data.errors)
     },

     allMarket(){
        axios.get('/api/plant-branches/')
    .then(({data}) => (this.plantBranches = data))

  },
  },




  }

</script>


<style type="text/css">
  #submit_button {
    width:13%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
}
</style>
