<template>

    <div>

        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">Marketing Inventory List</h4>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-1">
                                <label style="display: inline-block">Per Page</label>
                                <select class="form-control" v-model="currentPage" @change="selectPageNumber(currentPage)" style="display: inline-block">
                                    <option v-for="perPage in perPage" :value="perPage" :selected="currentPage===perPage">{{ perPage
                                        }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label></label>
                                    <button class="btn btn-success green" @click="newModal"
                                            style="margin-top:33px;">Add Promo <i class="fas fa-cart-plus"></i>
                                    </button>
                                    &nbsp
                                    &nbsp
                                    &nbsp
                                    <button class="btn btn-info" @click="newModalImportCheck"
                                            style="margin-top:33px;">Upload Excel File <i class="fas fa-file-excel"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-3">
                                <label></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field" id="basic-addon1">Search</span>
                                    </div>

                                    <input type="text" v-model="search" @keyup="index"
                                           class="form-control"
                                           style="width: 250px;"
                                           placeholder="Search Here" @click="isSearch = true">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label></label>
                                <select class="form-control" v-model="filter" v-on:change="filterSelect"
                                        style="width: 240px;">
                                    <option value="" disabled>Select Status</option>
                                    <option value="MaterialNumber"> Material Number</option>
                                    <option value="MaterialDescription"> Material Description</option>
                                    <option value="MaterialInventory"> Material Inventory</option>
                                    <option value="Costing"> Costing</option>
                                    <option value="PromoStarts"> Promo Starts</option>
                                    <option value="PromoEnds"> Promo Ends</option>
                                    <option value="TotalTarget"> Total Target</option>
                                    <option value="PlantBranch"> Plant Branch</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead class="thead-light">
                                <tr>
                                    <th @click="sort('marketing_MATNR')" style="background-color: #007bff; color:white;">
                                        <div class="inline-block">
                                            <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                            <div class="filter-desc"
                                                 :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                        </div>
                                        Material Number
                                    </th>
                                    <th @click="sort('marketing_MAKTX')" style="background-color: #007bff; color:white;">
                                        <div class="inline-block">
                                            <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                            <div class="filter-desc"
                                                 :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                        </div>
                                        Material Description
                                    </th>
                                    <th style="background-color: #007bff; color:white;">Material Inventory</th>
                                    <th style="background-color: #007bff; color:white;">Costing</th>
                                    <th @click="sort('valid_from')" style="background-color: #007bff; color:white;">
                                        <div class="inline-block">
                                            <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                            <div class="filter-desc"
                                                 :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                        </div>Promo Starts
                                    </th>
                                    <th @click="sort('valid_to')" style="background-color: #007bff; color:white;">
                                        <div class="inline-block">
                                            <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                            <div class="filter-desc"
                                                 :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                                        </div>
                                        Promo Ends
                                    </th>
                                    <th style="background-color: #007bff; color:white;">Total Target</th>
                                    <th style="background-color: #007bff; color:white;">Plant Branch</th>
                                    <th style="background-color: #007bff; color:white;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(market,index) in markets.data" :key="market.id" :index="index">
                                    <td> {{ market.marketing_MATNR }}</td>
                                    <td> {{ market.marketing_MAKTX }}</td>
                                    <td> {{ Math.round(market.LABST) }}</td>
                                    <td> {{ market.VERPR }}</td>
                                    <td> {{ market.valid_from }}</td>
                                    <td> {{ market.valid_to }}</td>
                                    <td> {{ market.marketing_total_amount }}</td>
                                    <td>{{ market.marketing_plantbranch_WERKS }}</td>
                                    <td>
                                        <a @click="updateMarketing(market.id,index)" class="btn btn-sm btn-primary">
                                            <font
                                                color="#ffffff">Edit</font>
                                        </a>

                                        <a @click="deleteMarketing(market.id)" class="btn btn-sm btn-danger"><font
                                            color="#ffffff">Delete</font></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
<!--                        <pagination :data="markets" @pagination-change-page="getResults" :limit="10">-->
<!--                            <span slot="prev-nav">&lt; Previous</span>-->
<!--                            <span slot="next-nav">Next &gt;</span>-->
<!--                        </pagination>-->
                        <p class="float-left">Showing {{meta.from || 0}} to {{meta.to || 0}} of {{meta.total || 0}} entries</p>
                        <pagination class="float-right" :data="markets" @pagination-change-page="index" :limit="5">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Add Promo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="user" @submit.prevent="marketingInsertInv"
                              enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="exampleInputFirstName">Plant Branches List</label>
                                    <v-select multiple id="exampleInputFirstName"
                                              v-model="form.marketing_plant" :options="plantBranches"
                                              :reduce="plantBranches => plantBranches.WERKS"
                                              label="NAME1" placeholder="Select Plant Branch">
                                        <template slot="option" slot-scope="option">
                                            {{ option.WERKS }} =
                                            {{ option.NAME1 }}
                                        </template>
                                    </v-select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFirstName">Material Number</label>
                                    <autocomplete
                                        required=""
                                        ref="autocomplete"
                                        id="autocomplete-result-list"
                                        :search="material"
                                        placeholder="Search for a Material Number"
                                        aria-label="Search for a Material Number"
                                        class="autocomplete_field"
                                        :get-result-value="getResultValue"
                                        @submit="selected"


                                    ></autocomplete>
                                </div>

                                <div class="form-group">


                                    <label for="exampleInputFirstName">Material Description</label>
                                    <input type="text" class="form-control"
                                           placeholder="" v-model="form.marketing_description" required="" readonly>
                                    <!--                                    <small class="text-danger" v-if="errors.marketing_description">-->
                                    <!--                                        {{ errors.marketing_description[0] }} </small>-->

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <!-- Half of the modal-body div-->
                                        <div class="col-md-6">
                                            <label for="exampleInputFirstName">Valid From</label>
                                            <input type="date" class="form-control"
                                                   id="exampleFormControlTextarea1"
                                                   required="" v-model="form.valid_from">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputFirstName">Valid To</label>
                                            <input type="date" class="form-control"
                                                   id="exampleFormControlTextarea2"
                                                   required="" v-model="form.valid_to">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFirstName">Total Amount</label>
                                    <input type="number" class="form-control"
                                           placeholder="" v-model="form.marketing_total_amount" required="">
                                    <!--                                    <small class="text-danger" v-if="errors.marketing_total_amount">-->
                                    <!--                                        {{ errors.marketing_total_amount[0] }} </small>-->
                                </div>


                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!--                       <button type="button" class="btn btn-primary">Save changes</button>-->
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal 2 -->

            <div class="modal fade" id="addNew1" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle1">Modal title</h5>
                            <!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--                                <span aria-hidden="true">&times;</span>-->
                            <!--                            </button>-->
                        </div>

                        <form class="user" @submit.prevent="proceedAction"
                              enctype="multipart/form-data">
                            <div class="modal-body">


                                <div class="form-group">
                                    <label class="form-control-label" for="input-file-import">Upload Excel File</label>
                                    <input type="file" class="form-control" :class="{ ' is-invalid' : error.message }"
                                           id="input-file-import" name="file_import" ref="import_file"
                                           @change="onFileChange">
                                </div>


                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!--                       <button type="button" class="btn btn-primary">Save changes</button>-->
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal 3 -->

            <div class="modal fade" id="addNew2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle2">For Bulk Transaction</h5>
                            <!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--                                <span aria-hidden="true">&times;</span>-->
                            <!--                            </button>-->
                        </div>


                        <div class="modal-body">
                            <form class="user" @submit.prevent="submitFile"
                                  enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-file-import-check">Upload Excel
                                        File (.xlsx or .xls Format)</label>
                                    <input type="file" class="form-control" :class="{ ' is-invalid' : error.message }"
                                           id="input-file-import-check" name="file_import" ref="import_file"
                                           @change="handleFileUpload">
                                    <br>
                                    <button type="submit" class="btn btn-primary" :disabled='isDisabledCheck'
                                    >
                                        Check
                                    </button>
                                    <label class="form-control-label" for="input-file-import-check">for Duplicate Entry
                                        via .CSV Format</label>
                                </div>
                            </form>

                        </div>

                        <form class="user" @submit.prevent="proceedAction"
                              enctype="multipart/form-data">
                            <div class="modal-footer">


                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" :disabled='isDisabled'>
                                    Submit
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- Modal 4 -->
            <div class="modal fade" id="addNew3" tabindex="-1" role="dialog" data-bs-backdrop="static"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle3">Duplicates Data</h5>
                        </div>

                        <div class="modal-body" v-for="showDuplicate in showDuplicates"
                             :key="showDuplicate.index">
                            <div class="table-responsive">
                                <h6 style="text-align: center; font-weight: bold; color: red;">
                                    Row {{ showDuplicate.index }} =
                                    {{
                                        showDuplicate.marketing_MATNR + '  ' + showDuplicate.marketing_plantbranch_WERKS
                                    }}
                                </h6>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    @click.prevent=closeDuplicateModal>Ok
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal Update -->
            <div class="modal fade" id="addNew4" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle4">Update Material</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="user" @submit.prevent="updateMarketingWithDaTA"
                              enctype="multipart/form-data">
                            <div class="modal-body">


                                <div class="form-group">

                                    <label for="exampleInputFirstName">Material Number</label>
                                    <input type="text" class="form-control" id="exampleInputFirstName2" placeholder=""
                                           v-model="form.marketing_MATNR" readonly>
                                    <!--                                    <small class="text-danger" v-if="errors.marketing_MATNR">-->
                                    <!--                                        {{ errors.marketing_MATNR[0] }} </small>-->

                                </div>
                                <div class="form-group">

                                    <label for="exampleInputFirstName">Material Description</label>
                                    <input type="text" class="form-control" id="exampleInputFirstName3" placeholder=""
                                           v-model="form.marketing_MAKTX" readonly>
                                    <!--                                    <small class="text-danger" v-if="errors.marketing_MAKTX">-->
                                    <!--                                        {{ errors.marketing_MAKTX[0] }} </small>-->

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFirstName">Plant Branches List</label>
                                    <input type="text" class="form-control" id="exampleInputFirstName6" placeholder=""
                                           v-model="form.marketing_plantbranch_WERKS" readonly>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <!-- Half of the modal-body div-->
                                        <div class="col-md-6">
                                            <label for="exampleInputFirstName">Valid From</label>
                                            <input type="date" class="form-control"
                                                   id="exampleFormControlTextarea3"
                                                   required="" v-model="form.valid_from"
                                            >
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputFirstName">Valid To</label>
                                            <input type="date" class="form-control"
                                                   id="exampleFormControlTextarea4"
                                                   required="" v-model="form.valid_to">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">


                                    <label for="exampleInputFirstName">Total Amount</label>
                                    <input type="number" class="form-control" id="exampleInputFirstName5" placeholder=""
                                           v-model="form.marketing_total_amount">
                                    <!--                                    <small class="text-danger" v-if="errors.marketing_total_amount">-->
                                    <!--                                        {{ errors.marketing_total_amount[0] }} </small>-->
                                </div>


                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!--                       <button type="button" class="btn btn-primary">Save changes</button>-->
                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!--Row-->

        <!-- <td>{{ market.type | upText}}</td> -->

    </div>


</template>


<script type="text/javascript">
import '@trevoreyre/autocomplete-vue/dist/style.css'
import moment from 'moment';

export default {

    created() {
        Reload.$on('AfterCreated', () => {
            this.index();
        });
        this.index();
        const today = new Date();
        let hourtime = today.getHours();
        // let hourmin = today.getMinutes();
        let formathour = moment(hourtime, 'HH').format('HH');
        // let formatmin = moment(hourmin, 'mm').format('mm');
        console.log(formathour);
        if(hourtime <= "8" && hourtime >= "20"){
            console.log('time test');
            setInterval(() => this.getResults(), 3000);
            let refreshId = setTimeout(() => {
                this.alertNotif('Automatically Logging out','Due for none activity', 'warning', '3000');
                let uri = '/api/logout';
                axios.post(uri)
                    .then((response) => {
                        this.$store.commit('logout');
                        this.$router.push('/login/');
                        clearInterval(refreshId);
                    })

            }, 5000);
        }

    },

    mounted() {
        // this.allMarketing();
        // this.getResults();
        axios.get('/api/plant-branches/')
            .then(({data}) => (this.plantBranches = data))
    },


    data() {
        return {
            form: {
                marketing_material: null,
                marketing_description: null,
                marketing_total_amount: null,
                marketing_plant: null,
                // marketing_inventory: null,
                // cost: null,
                valid_from: '',
                valid_to: '',
            },
            error: {},
            errors: {},
            plantBranchesInv: {},
            materialMaster: [],
            plantBranches: [],
            markets: {},
            search: '',
            isSearch: false,
            import_file: '',
            check_excel: {},
            isDisabled: true,
            isDisabledCheck: false,
            showDuplicates: [],
            perPage: ['10', '50', '100'],
            currentPage: '10',
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            page: {},
            currentSort: 'marketing_MATNR',
            currentSortDir: 'asc',
            update_index:'',
            filter:'',
        }
    },
    computed: {
        formatDate: function () {
            var formatDate = new Date(this.form.valid_from);
            return formatDate;
        }
    },
    watch:{
        '$route': 'index'
    },

    methods: {
        filterSelect(){
            console.log(this.filter);
            let uri = '/api/material-master-pagekuha?filter=' +this.filter + '&sortby=' + this.currentSort
                + '&sortdir=' + this.currentSortDir
                + '&currentpage=' + this.currentPage;
            axios.get(uri).then();
            this.index();
            return this.filter;

        },
        index(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = '/api/material-master-pagekuha?page=' + page + '&search=' + this.search + '&sortby=' + this.currentSort + '&sortdir=' + this.currentSortDir + '&currentpage=' + this.currentPage;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    this.markets = response.data;
                    this.meta.total = response.data.meta.total;
                    this.meta.from = response.data.meta.from;
                    this.meta.to = response.data.meta.to;
                });

        },
        sort(s) {

            if (s === this.currentSort) {
                this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                if (this.currentSortDir === 'asc') {
                    this.sortClassActive.activeAsc = true;
                    this.sortClassActive.activeDesc = false;
                } else {
                    this.sortClassActive.activeAsc = false;
                    this.sortClassActive.activeDesc = true;
                }
            }
            this.currentSort = s;
            this.index();
        },
        selectPageNumber(selected) {
            this.currentPage = selected;
            this.index();
        },
        material(input) {
            let url = `/api/material-master-kuha?code=${encodeURI(input)}&showAll=1&plantbranch_id=` + this.form.marketing_plant;

            return new Promise((resolve) => {
                if (input.length < 1) {
                    return resolve([])
                }

                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {
                        resolve(data);
                    });
            })

        },
        getResultValue(result) {
            let $res = result.MATNR + ' -> ' + result.MAKTX;
            return $res;
        },
        selected(result) {
            let selected = result;
            this.form.marketing_material = selected.MATNR;
            this.form.marketing_description = selected.MAKTX;
        },
        marketingInsertInv() {

            axios.post('/api/material-master', this.form)
                .then((response) => {
                    // console.log(response.data.message);
                    if (response.data.message) {
                        Notification.existing(response.data.message)
                    } else {
                        // this.$router.push({name: 'marketing-inventory-index'})
                        Reload.$emit('AfterCreated');
                        $('#addNew').modal('hide');
                        Notification.success()
                    }

                })
                .catch(error => this.errors = error.response.data.errors)
            // .catch((error) => (this.errors = Notification.duplicated()));

        },
        // getResults(page = 1) {
        //     axios.get('api/material-master-pagekuha?page=' + page)
        //         .then(response => {
        //             this.markets = response.data;
        //
        //         });

        // },
        allCheckExcel() {
            axios.get('/api/check-excel/')
                .then(({data}) => (this.check_excel = data))
                .catch(error => this.errors = error.response.data.errors)
        },
        searchMaterial() {
            // var data = {customerSearch:this.customerSearch}
            let query = this.search;
            axios.get('api/findMateringInv?search=' + query)
                .then((data) => (this.markets = data.data))
                .catch(error => this.errors = error.response.data.errors)
        },
        updateMarketing(id,index) {
            this.update_index = index;
            axios.get('/api/material-master/' + id)
                .then(({data}) => {
                    this.form = data;
                    this.form.valid_from = moment(data.valid_from, 'DD-MM-YYYY').format('YYYY-MM-DD');
                    this.form.valid_to = moment(data.valid_to, 'DD-MM-YYYY').format('YYYY-MM-DD');
                    $('#addNew4').modal('show');
                });
        },
        updateMarketingWithDaTA() {
            axios.patch('/api/material-master-update/', this.form)
                .then(() => {
                    Notification.success();
                    // console.log(this.markets.data[this.update_index].valid_to = this.form.valid_to);
                    this.markets.data[this.update_index].valid_to = moment(this.form.valid_to, 'YYYY-MM-DD').format('DD/MM/YYYY');
                    this.markets.data[this.update_index].valid_from = moment(this.form.valid_from, 'YYYY-MM-DD').format('DD/MM/YYYY');
                    this.markets.data[this.update_index].marketing_total_amount = this.form.marketing_total_amount;
                    // this.markets.data[this.update_index].marketing_plant = this.form.marketing_plant;
                    // this.markets.data[this.update_index].marketing_MAKTX = this.form.marketing_description;
                    $('#addNew4').modal('hide');
                })
                .catch(error => this.errors = error.response.data.errors)

        },
        deleteMarketing(id) {
            // console.log(id);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    axios.delete('/api/material-master/' + id)
                        .then(() => {
                            // console.log(this.markets.data);
                            this.markets.data = this.markets.data.filter(market => {


                                //  console.log(market.id);
                                return market.id != id

                            })
                            Reload.$emit('AfterCreated');
                            // return this.markets.data;
                        })
                        .catch(() => {
                            //  this.$router.push({path: '/marketing-inventory'});
                            //  this.$router.push({name: 'marketing-inventory'});
                            // this.$router.push({name: 'marketing-inventory-index'}).catch(()=>{});
                        })
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    );

                }
            })

        },
        newModal(result) {
            this.form.marketing_material = '';
            this.form.marketing_plant = '';
            this.form.marketing_description = '';
            this.form.marketing_inventory = '';
            this.form.marketing_total_amount = '';
            this.form.cost = '',
                this.form.valid_from = '',
                this.form.valid_to = '',
                this.$refs.autocomplete.value = '',

                $('#addNew').modal('show');

        },
        onFileChange(e) {
            this.import_file = e.target.files[0];
        },
        proceedAction() { //https://terrencetejada.com/web/file-upload-vue-to-laravel/ https://bettersolutions.com/excel/data-validation/duplicate-entries.htm
            let formData = new FormData();
            formData.append('import_file', this.import_file);
            axios.post('/api/import-excel', formData, {
                headers: {'content-type': 'multipart/form-data'}
            })
                .then(response => {
                    if (response.status === 200) {
                        // codes here after the file is upload successfully
                        Reload.$emit('AfterCreated');
                        $('#addNew2').modal('hide');
                        Notification.success()
                        // console.log(response.status);

                    }
                    // else{
                    //     this.$swal({
                    //         icon: 'warning',
                    //         title: 'Please try again!',
                    //         text: 'Make sure that your file is ".xlsx" or ".xlsx" Format',
                    //         // showConfirmButton: false,
                    //         timer: 1500,
                    //         // title: response.data.status,
                    //         // text: response.data.message,
                    //         // icon: 'question',
                    //         // confirmButtonColor: '#3085d6',
                    //         confirmButtonText: 'Ok'
                    //     });
                    // }
                })
                .catch(error => {

                    // code here when an upload is not valid
                    this.uploading = false
                    this.error = error.response.data
                    this.$swal({
                        icon: 'warning',
                        title: 'Please try again',
                        text: 'Make sure that your file is ".xlsx" or ".xlsx" Format',
                        // showConfirmButton: false,
                        // timer: 1500,
                        // title: response.data.status,
                        // text: response.data.message,
                        // icon: 'question',
                        // confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ok'
                    });
                    // console.log(this.error);
                    // console.log('check error: ', this.error)
                });
        },
        handleFileUpload(e) {
            // this.import_file = this.$refs.import_file.files[0];
            this.import_file = e.target.files[0];
        },
        submitFile() {
            let vm = this;
            let formData = new FormData();
            formData.append('import_file', this.import_file);
            axios.post('/api/check-import-excel',
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
            ).then((response) => {
                console.log(response.data.message);

                if (response.data.message === 'No Duplicate Data Found, You can now proceed and make sure to convert it back to ".xlsx" Format') {


                    this.$swal({
                        title: 'Success',
                        text: "No Duplicate Data Found, You can now proceed and make sure to convert it back to \".xlsx\" Format  ",
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Proceed'
                    }).then((result) => {
                        if (result.value) {
                            $('#addNew3').modal('hide');
                            // console.log(result.value);
                            this.isDisabledCheck = true;
                            this.isDisabled = false;

                            this.showDuplicates.splice(0);
                            // Swal.fire(
                            //     'Deleted!',
                            //     'Your file has been deleted.',
                            //     'success'
                            // );

                        }
                        // else {
                        //     $('#addNew3').modal('hide');
                        // }
                    })
                } else {
                    response.data.forEach((value, index) => {

                        this.showDuplicates.push({
                            marketing_MATNR: value.marketing_MATNR,
                            marketing_plantbranch_WERKS: value.marketing_plantbranch_WERKS,
                            index: value.index,

                            // 'marketing_MATNR'=>$value[0],
                            // 'marketing_plantbranch_WERKS' => $value[4]

                        });

                    });
                    $('#addNew3').modal({backdrop: 'static', keyboard: false});
                    Notification.duplicated();
                }
            }).catch(error => {
                // console.log(error);
                // code here when an upload is not valid
                this.uploading = false
                this.error = error.response.data
                this.$swal({
                    icon: 'warning',
                    title: 'Please try again',
                    text: 'Make sure that your file is ".csv" Format for checking duplicate data',
                    // showConfirmButton: false,
                    // timer: 1500,
                    // title: response.data.status,
                    // text: response.data.message,
                    // icon: 'question',
                    // confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Ok'
                });
                // console.log(this.error);
                // console.log('check error: ', this.error)
            });
        },
        newModalImport() {

            $('#addNew1').modal('show');


        },
        newModalImportCheck() {
            // https://stackoverflow.com/questions/57672887/how-to-convert-all-excel-data-to-json-in-vuejs
            // $('#addNew2').modal({backdrop: 'static', keyboard: false});
            $('#addNew2').modal('show');
            this.$refs.import_file.value = null;
            this.isDisabled = true;
            this.isDisabledCheck = false;


        },
        closeDuplicateModal() {
            $('#addNew3').modal('hide');
            this.showDuplicates.splice(0);
        }

    },


}
</script>


<style type="text/css">
#em_photo {
    height: 40px;
    width: 40px;
}

[data-position='below'] .autocomplete-result-list {
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    color: forestgreen;
    font-weight: bold;
}
.input-group-field{
    background: #19A7D5 !important;
    color:white !important;
}
.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}
.active-filter-asc {
    border-bottom: 5px solid #a3a3a3
}

.active-filter-desc {
    border-top: 5px solid #a3a3a3
}

.inline-block {
    display: inline-block
}
</style>
