<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Change Price</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <div class="input-group mb-3">
                                        <autocomplete
                                            :search="search"
                                            class="autocomplete_field"
                                            placeholder="Search Barcode"
                                            aria-label="Search Barcode"
                                            :get-result-value="getResultValue"
                                            @submit="handleSubmit"
                                        ></autocomplete>
                                    </div>
                                    <div class="input-group mb-3" v-if="visible">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field">
                                            New Price :
                                        </span>
                                        </div>
                                        <input type="number" class="form-control text-right res_det" aria-label="New Price" v-model="price" @keyup.enter="newPrice" >
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "changePrice",
    props: {
        products: null,
    },
    data(){
      return {
          EAN11:'',
          price:'',
          visible:false,
      }
    },
    methods: {
        search(input) {
            if (input.length < 1) { return [] }
            return this.products.filter(product => {
                return product.EAN11.toLowerCase()
                    .includes(input.toLowerCase())
            })
        },
        getResultValue(result) {
            let $res = result.EAN11+' ---- '+result.name;
            return $res;
        },
        handleSubmit(result) {
            this.EAN11=result.EAN11;
            this.visible = !this.visible;
        },
        newPrice(){
            let objIndex = this.products.findIndex((obj => obj.EAN11 == this.EAN11));
            //Update Price
            this.products[objIndex].price = this.price;
            this.products[objIndex].total = this.products[objIndex].qty*this.price;
            this.$parent.totalItem();
        }
    }
}
</script>

<style scoped>
.autocomplete_field{
    width: 100%;
}
</style>
