<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <div class="input-group mb-3">
                                        <div class="card-header header-title">
                                            CHANGE:
                                        </div>
                                    </div>
                                    <div class="card-body ">
                                        <h2 class="text-right"> &#8369; {{ change }}</h2>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "changeModal",
    props: ['change'],

}
</script>

<style scoped>
.header-title{
    background: #3f51b5;
    color:white;
    font-size: 1.25rem;
}

</style>
