<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Search Customer</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field" id="basic-addon1">Customer Name</span>
                                        </div>
                                        <autocomplete
                                            :search="search"
                                            class="autocomplete_field_customer"
                                            placeholder="Search customer"
                                            aria-label="Search customer"
                                            ref="cust_name"
                                            :get-result-value="getResultValue"
                                            @submit="handleSubmit"
                                        ></autocomplete>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>


    export default {

    name: "customerModal",
        data(){
            return{
                customer:[],
            }
        },
        methods: {
            search(input) {
                let url = `/api/customers?searchCode=${encodeURI(input)}`

                return new Promise((resolve) => {
                    if (input.length < 3) {
                        return resolve([])
                    }

                    fetch(url)
                        .then((response) => response.json())
                        .then((data) => {
                            resolve(data);
                        })
                })
            },
            getResultValue(result) {
                return result.NAME1
            },
            handleSubmit(result) {
                this.$parent.getCustomer(result);
            }

        }
}
</script>

<style>

.autocomplete_field_customer{
    width: 80%;
}

.autocomplete-result:hover,.autocomplete-result:active,.autocomplete-result:focus,.autocomplete-result::selection{
    background: #b2befa !important;
}

.input-group-field{
    background: #3f51b5;
    color:white;
}

</style>
