<template>
    <transition name="model">
        <div class="modal-mask show">
            <span v-hotkey="keymap"></span>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Discount Per Item</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <autocomplete
                                        :search="search"
                                        class="autocomplete_field"
                                        placeholder="Search Barcode"
                                        aria-label="Search Barcode"
                                        :get-result-value="getResultValue"
                                        @submit="handleSubmit"
                                    ></autocomplete>
                                </div>

                                    <div class="card-body">
                                        <div>
                                            <h6>{{product_id}}<br>{{product_name}}</h6>  <br>
                                            <span>
                                                Original Price : {{cur_price}}
                                            </span><br>
                                            <span>
                                                New Price :{{new_price}}
                                            </span>
                                        </div>
                                        <br>  <br>

                                        <div class="card mb-4" v-if="dsc_select === 'A'" >
                                            <div class="input-group mb-3">
                                                <div class="card-header header-title">
                                                    A) Discount By Percentage :
                                                </div>
                                            </div>
                                            <div class="card-body text-right">
                                                <input type="number" class="form-control text-right" aria-label="New Price" v-model="dsc_price" @keyup.enter="newPrice" max="100">
                                            </div>
                                        </div>

                                        <div class="card mb-4" v-if="dsc_select === 'B'">
                                            <div class="input-group mb-3">
                                                <div class="card-header header-title">
                                                    B) Discount By Amount :
                                                </div>
                                            </div>
                                            <div class="card-body text-right">
                                                <input type="number" class="form-control text-right" aria-label="New Price" v-model="dsc_price" @keyup.enter="newPrice" >
                                            </div>
                                        </div>

                                        <div class="card mb-4" v-if="dsc_select === 'C'">
                                            <div class="input-group mb-3">
                                                <div class="card-header header-title">
                                                    C) Specify New Price:
                                                </div>
                                            </div>
                                            <div class="card-body text-right">
                                                <input type="number" class="form-control text-right" aria-label="New Price" v-model="dsc_price" @keyup.enter="newPrice" >
                                            </div>
                                        </div>
                                        <h6 class="text-center">Use <span class="discountSubtitle"> [shift+>] </span> or <span class="discountSubtitle"> [shift+<] </span>  to Change Discount Scheme </h6>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" @click="closeModalPrice">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "discountPerItem",
    props: {
        products: null,
    },
    data(){
       return{
           filter:'',
           product_name:'',
           dsc_counter:0,
           dsc_option:['A','B','C'],
           dsc_select:'A',
           new_price:'',
           dsc_price:'',
           cur_price:'',
           product_id:'',

       }
    },
    created(){
        // this.$refs.dsc_item.focus();
    },
    methods: {
        search(input) {
            if (input.length < 1) { return [] }
            return this.products.filter(product => {
                return product.product_id.toLowerCase()
                    .includes(input.toLowerCase())
            })
        },
        getResultValue(result) {
            let $res = result.product_id+' - '+result.product_name;
            return $res;
        },
        handleSubmit(result) {
            this.product_id=result.product_id;
            this.product_name=result.product_name;
            this.cur_price = result.price;
            this.visible = !this.visible;
        },
        closeModalPrice(){
            this.$parent.closeModalDiscount();
        },
        newPrice(){
            let discount = '';
            if(this.dsc_select == 'A'){ //percentage
                discount=this.cur_price * (this.dsc_price/100);
                this.new_price= this.cur_price - discount;
            }else if (this.dsc_select == 'B'){
                discount=this.dsc_price;
                this.new_price= this.cur_price -  this.dsc_price;
            }else{
                discount=this.cur_price -  this.dsc_price;
                this.new_price= this.dsc_price;
            }
            let objIndex = this.products.findIndex((obj => obj.product_id == this.product_id));
            //Update Price
            // this.products[objIndex].price = this.new_price;
            // let discountPerItem = (this.products[objIndex].discount != 0) ? (this.products[objIndex].discount /  this.products[objIndex].qty):0;
            this.products[objIndex].discount = discount *  this.products[objIndex].qty;
            this.products[objIndex].item_subtotal = this.products[objIndex].qty*this.new_price;
            this.products[objIndex].total = this.products[objIndex].qty*this.new_price;
            this.$parent.totalItem();
            this.$parent.totalDiscount();

        },
        rightNext(e){
            e.preventDefault();
            this.dsc_counter = (this.dsc_counter==2)?0:this.dsc_counter+1;
            this.dsc_select=this.dsc_option[this.dsc_counter];
        },
        leftBack(e){
            e.preventDefault();
            this.dsc_counter = (this.dsc_counter==0)?2:this.dsc_counter-1;
            this.dsc_select=this.dsc_option[this.dsc_counter];
        }
    },
    computed: {
        keymap() {
            return {
                'shift+.':this.rightNext,// arrow left>
                'shift+,':this.leftBack,// arrow right>
            }
        }
    }
}
</script>

<style scoped>
.btn:focus{
    background: #d60000;
    color: white;
}

.header-title{
    background: #3f51b5;
    color:white;
    font-size: 1rem;
}

.fade {
    height: 150px;
    width: 1px;
    opacity: 0;
    transition: all .75s ease;
}

.fade-in.show {
    opacity: 1;
    height: 150px;
    width: 500px;
}
.discountSubtitle{
    background: #21883c;
    color: white;
    padding: 3px;
}
</style>
