<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title">Mode of Payment</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                        <autocomplete
                                            :search="search"
                                            class="autocomplete_field"
                                            placeholder="Search mode of Payment"
                                            aria-label="Search mode of Payment"
                                            :get-result-value="getResultValue"
                                            @submit="handleSubmit">
                                        </autocomplete>
                                </div>
                                <div class="input-group mb-3" v-if="visible">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field">
                                            Amount :
                                        </span>
                                    </div>
                                    <input type="number" class="form-control text-right res_det" aria-label="Amount" v-model="dp" @keyup.enter="amount" >
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>


export default {

    name: "modePaymentModal",
    data(){
        return{
            visible:false,
            dp:'',
            payment:[],
        }
    },
    methods: {
        search(input) {
            let url = `/api/searchPayments?searchCode=${encodeURI(input)}`

            return new Promise((resolve) => {
                if (input.length < 1) {
                    return resolve([])
                }

                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {
                        resolve(data);
                    })
            })
        },
        getResultValue(result) {
            return result.name
        },
        handleSubmit(result) {
            this.payment.push(
                {
                    'payment_id':result.id,
                    'payment_name':result.name,
                    'amount':''
                });
            this.visible = !this.visible;
        },
        amount(){
            this.payment[0].amount = this.dp;
            this.$parent.getModeOfPayment(this.payment);
        }

    }
}
</script>

<style>

.autocomplete_field_customer{
    width: 80%;
}

.autocomplete-result:hover,.autocomplete-result:active,.autocomplete-result:focus,.autocomplete-result::selection{
    background: #b2befa !important;
}

</style>
