<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title">Overall Discount</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field">
                                                Enter Discount in Percentage :
                                            </span>
                                        </div>
                                        <input type="number" class="form-control text-right res_det" aria-label="Amount" v-model="disc" @keyup.enter="discount" autofocus="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>


export default {

    name: "discountModal",
    data(){
        return{
            disc:'',
        }
    },
    methods: {
        discount(){
            this.$parent.getDiscount(this.disc);
        }
    }
}
</script>

<style scoped>

.autocomplete_field{
    width: 100%;
}

.autocomplete-result:hover{
    background: #b2befa;
}

</style>
