<template>
    <transition name="model">
        <div class="modal-mask show" id="exampleModalLong">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content ">
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLongTitle">Print Reservation Receipt</h5>-->
<!--                    </div>-->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <div class="card-header py-3 flex-row align-items-center justify-content-between ">
                                        <h6 class="font-weight-bold text-center print_reservation">
                                            TRIUMPH HOME DEPOT<br>
                                            Operated by: VCY SALES CORPORATION<br>
                                            Araneta St., Brgy.Sum-ag, Bacolod City <br>
                                            VATREG. TIN : 005-430-314-014<br>
                                            SN: q122tBtBuQwp03<br>
                                            MIN: 20021314251186403<br>
                                            Permit: FP022020-077-0250640-00014<br><br>

                                            <strong>Reservation #{{ printDetails.reserve_number }}</strong><br>
                                        </h6>
                                    </div>
                                    <div class="card-body print_reservation">
                                        <h6>Terminal:19-VCYSUMDPOS02</h6>
                                        <h6 class="text-right">{{ printDetails.updated_at| moment("MM/DD/YYYY")  }}<br>{{ printDetails.updated_at| moment("h:m a")  }}</h6>
                                        <h6>
                                            <div class="row">
                                                <div class="col-md-3">Cashier</div> <div class="col-md-8">: {{ printDetails.cashier_name}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">Salesman</div> <div class="col-md-8">  : {{ salesman_name }} </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">Customer</div> <div class="col-md-8">: {{ customer_name }} </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">TIN </div> <div class="col-md-8">: _____________________________</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">Address  </div> <div class="col-md-8">: _____________________________</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3"> Bus. Style </div> <div class="col-md-8">: _____________________________</div>
                                            </div>
                                        </h6><br>


                                        <div id="reserve_products" v-for="product in res_data[0].products">
                                            {{product.product_id}} {{product.product_name}}<br>
                                            <div class="row">
                                                <div class="col-md-4 text-right"> {{product.qty}} X</div>
                                                <div class="col-md-4 text-center">{{ formatNumber(parseFloat(product.price) - (parseFloat(product.discount)/product.qty)) }}</div>
                                                <div class="col-md-4 text-right">{{ formatNumber(product.total) }}</div>
                                            </div>
                                            <div class="row" v-if="product.discount !=0">
                                                <div class="col-md-4 text-right"> REG PRICE</div>
                                                <div class="col-md-4 text-right">{{ formatNumber(product.price  * product.qty) }}</div>
                                                <div class="col-md-4 text-right"></div>
                                                <div class="col-md-4 text-right"> DSC</div>
                                                <div class="col-md-4 text-right">{{ formatNumber(product.discount) }}</div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4 text-right">{{total_qty}}</div>
                                            <div class="col-md-4 text-center">Item(s)</div>
                                            <div class="col-md-4 text-center"><hr></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 text-right">AMOUNT DUE : &#8369;</div>
                                            <div class="col-md-4 text-right">{{ formatNumber(res_data[0].total) }}</div>
                                        </div>

                                        <div class="row" v-if="printDetails.downPayment!= ''">
                                            <div class="col-md-8 text-right">DP : &#8369;</div>
                                            <div class="col-md-4 text-right">{{ formatNumber(printDetails.downPayment) }}</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 text-right">{{res_data[0].payment['payment_name']}}: &#8369;</div>
                                            <div class="col-md-4 text-right">{{ formatNumber(parseFloat(res_data[0].payment['amount']) + parseFloat(change)) }}</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 text-right"></div>
                                            <div class="col-md-4 text-center"><hr></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 text-right">CHANGE : &#8369;</div>
                                            <div class="col-md-4 text-right">{{ formatNumber(change) }}</div>
                                        </div>
                                        <br>
                                        <div class="row" v-if="total_discount !=0">
                                            <div class="col-md-12 text-center">* Your Total Promo Savings {{ formatNumber(total_discount) }}*</div>
                                        </div><br>

                                        <div class="row" >
                                            <div class="col-md-12 text-center">
                                                THIS DOCUMENT SHALL BE VALID FOR (5) YEARS<br>
                                                FROM THE DATE OF THE PERMIT TO USE<br><br>

                                                THIS DOCUMENT IS NOT VALID <br> FOR CLAIM OF INPUT TAX <br><br>

                                                THIS SERVE AS YOUR SALES INVOICE <br> KEEP THIS FOR FUTURE USE<br><br>
                                                ***RETURN POLICY***<br><br>
                                            </div>
                                            <p> All purchased items may be exchanged within 30 days from the date of invoice,
                                                when presented in good condition and original packaging except for APPLIANCES which are subject to a 7-day return policy.<br><br>
                                                Original Receipt is necessary for all returns.However, returns without invoice still be accepted subject to additional verification process and 10% penalty.
                                            </p>
                                        </div>

                                        <h3 class="text-center">Press <button class="btn btn-info" @click="newResTrans">ENTER</button> to continue</h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "printReceipt",
    props:['res_data','printDetails','total_qty','change','customer_name','salesman_name','total_discount'],
    methods:{
        newResTrans() {
            this.$parent.resTrans();
        },
        getSalesmanName(id){
            this.$parent.getSalesmanName(id);
        },
        getCustomerName(id){
            console.log(this.$parent.getCustomerName(id));
        },
        formatNumber(number) {
            return (number=='')?'0.00':parseFloat(number).toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
    },
    created(){
        // console.log(this.printDetails);
    }
}
</script>

<style scoped>
.print_reservation{
    font-family: monospace;
    font-size: 14px;
}
hr{
    border: 1px dashed #171717;
}
.btn:focus{
    color: #fff !important;
    background-color: #43a047 !important;;
    border-color: #43a047 !important;;
}
</style>
