<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title">Reservation Option</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field">
                                           Select Option :
                                        </span>
                                    </div>
                                    <select class="form-control" id="exampleFormControlSelect1" v-model="resOpt" >
                                        <option v-for="option in reservationOptions" :value="option.id">{{option.name}}</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field">
                                            Reservation Number :
                                        </span>
                                    </div>
                                    <input type="number" class="form-control text-right res_det" aria-label="Reservation Number" v-model="res_num" @keyup.enter="genResNum" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "reservationOption",
    data(){
        return{
            resOpt:'',
            res_num:'',
            reservationOptions:[]
        }
    },
    created() {
        axios.get('/api/reservations?showAll=true')
            .then((respond) => {
                this.reservationOptions = respond.data.data
            })
            .catch()
    },
    methods: {
        genResNum(){
            this.$parent.getReservationDetails(this.resOpt,this.res_num);
        }
    }
}
</script>

<style scoped>

</style>
