<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Search Salesman</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field" id="basic-addon1">Salesman Name</span>
                                        </div>
                                        <autocomplete
                                            :search="search"
                                            class="autocomplete_field_salesman"
                                            placeholder="Search Salesman"
                                            aria-label="Search Salesman"
                                            :get-result-value="getResultValue"
                                            @submit="handleSubmit"
                                        ></autocomplete>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>


export default {

    name: "salesmanModal",
    methods: {
        search(input) {
            let url = `/api/salesmen?searchCode=${encodeURI(input)}`

            return new Promise((resolve) => {
                if (input.length < 3) {
                    return resolve([])
                }

                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {
                        resolve(data);
                    })
            })
        },
        getResultValue(result) {
            return result.SNAME
        },
        handleSubmit(result) {
            this.$parent.getSalesman(result);
        }
    }
}
</script>

<style scoped>

.autocomplete_field_salesman{
    width: 80%;
}

</style>
