<template>
    <transition name="model">
        <div class="modal-mask show">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Search Product</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <div class="input-group mb-3">
                                        <autocomplete
                                            :search="search"
                                            class="autocomplete_field"
                                            placeholder="Search barcode,Product Name"
                                            aria-label="Search barcode,Product Name"
                                            :get-result-value="getResultValue"
                                            @submit="handleSubmit"
                                        ></autocomplete>
                                    </div>
                                    <div class="card-body">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
    name: "searchProduct",
    data(){
        return{
            searchCode:'',
            isSearch: false,
            products:null
        }
    },
    methods: {

        search(input) {
            let url = `/api/productRes?code=${encodeURI(input)}&showAll=1`

            return new Promise((resolve) => {
                if (input.length < 3) {
                    return resolve([])
                }

                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {
                        resolve(data);
                    })
            })
        },
        getResultValue(result) {
             let $res = result.EAN11+' -->> '+result.MAKTX;
            return $res;
        },
        handleSubmit(result) {
            this.$parent.getProduct(result.EAN11);
        }
    }
}
</script>

<style scoped>

.autocomplete_field{
    width: 100%;
}

.autocomplete-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
}

.wiki-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.wiki-snippet {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}


</style>
